<meta charset="utf-8">
<script type="text/javascript">
var <@pageId> = { 
		paMap : G_VAL.PAGE_AUTH_MAP["<@pageId>"]
		,searchedPayment : []
		,YEARLY_TARGET_PAYMENT : 0
		,PAYMENT_SUM_TR_CHART:{}
		,CUR_PAYMENT_SUM_TR_CHART_MAX_VAL : 0
		,chartObj1 : null
		,chartObj2 : null
		,barChartObj1 : null
		,barChartObj2 : null
		,UNIT_TYPE : 'SMALL' /* SMALL / BIG */
		,pageInit  : () =>{

			//당월/ 실행/ 영업 수수료 , 연간목표 수수료 , 달성률
			<@pageId>.searchMonthlyPayment(()=>{<@pageId>.pageInit2()});
	
		}
		,pageInit2 : () => {
			
			const transitionData = [
				 ["customerTrend","고객 체결 추이"]
				,["susuRyo","수수료 합계 추이"]
				,["execBosu","실행 수수료 추이"]
				,["salesBosu","영업 수수료 추이"]
			]

			const yearsArray = _getYearDataList();

			for( var i=1 ; i<= 2 ; i++){
				
				const gubun = i;
				
				var singleboxList 	= { data	: transitionData	,targetId	: "<@pageId>_selectorChart"+gubun}
				C_UICOM.makeSelectBox(singleboxList	,	"single");
				C_UICOM.addChangeListener("<@pageId>_selectorChart"+gubun, function(dataObj) {
					
					const chart=C_UICOM.getData("<@pageId>_selectorChart"+gubun);
					
					if(chart == "customerTrend" || chart == "susuRyo")	<@pageId>.searchPaymentSumTrend(gubun , chart);
					else						<@pageId>.searchBarChart(dataObj,gubun);
					
				});
				
				var yearsArrayList = { data	: yearsArray,targetId : "<@pageId>_years"+gubun}
				C_UICOM.makeSelectBox(yearsArrayList, "single");
				C_UICOM.setSingleBox("<@pageId>_years"+gubun, dayjs().year());
				
				<@pageId>.searchPaymentSumTrend(gubun, "customerTrend");
				
				C_UICOM.addChangeListener("<@pageId>_years"+gubun, function(dataObj) {

					const chart=C_UICOM.getData("<@pageId>_selectorChart"+gubun);
					
					if(chart == "customerTrend" || chart == "susuRyo")	<@pageId>.searchPaymentSumTrend(gubun , chart);
					else						<@pageId>.searchBarChart(chart,gubun);
					
				});	
				
			}			
			
			//계약체결 추이 ( 전체 )
			<@pageId>.searchConnectedByTrend();
			
			<@pageId>.getScheduleList();	

		}
		,getScheduleList : (SEARCH_DATA) => {
			
			var parm = {
					userIdList	: [<@pageId>.paMap.USER_ID]
					,startDate 	: dayjs().format("YYYY-MM-DD")
					,endDate 	: dayjs().add(1, 'month').startOf('month').subtract(1, 'day').format("YYYY-MM-DD")
					,searchData : SEARCH_DATA
			}
			C_CALENDAR.getScheduleList(parm, function(resultList) {

				const rlLength = resultList.length;
				resultList = resultList.map( (schedule,index) =>{
					
					if(rlLength == index+1)
					 	schedule["LAST_DATA"] = index ;
					return schedule;
					
				})

				let rparm = {
					targetId	: "<@pageId>_schedule"
					,list		: resultList
				}
				C_COM.renderHtml("<@pageId>", rparm);
				
			});			

		}

		,searchConnectedByTrend	: (gubun) =>{

			let queryId = "faDashboard.getContractedByAll";
			
			let ACHIEVE_RATE = 0;
			var parm = {
				 queryId 		: 	queryId
				,requestParm	: 	{
										 CUR_YEAR_DATE	: dayjs().format("YYYY")	
										,CUR_MONTH_DATE : dayjs().format("YYYY-MM")	
										,UNIT_TYPE		: <@pageId>.UNIT_TYPE
									}
			}
			
			C_COM.requestQuery(parm, function(resultData) {

			 	const data	= 	resultData.data;
  				<@pageId>.firstStacked1LineChart(data) ;
			});  
		}
		// 수수료 합계 추이 차트
		,firstStacked1LineChart : (data,gubun) =>{
			
			const month =	Array.from({ length: 12 }, (_, i) => i < 9 ? '0' + (1+i) : '' + (1+i) );
			
			let monthly	= {name:'월자문',data:[],stack:'consultingType' }
			let once 	= {name:'일회성',data:[],stack:'consultingType' }
			let contractCnt = {type:'line', name:'계약건수',color: "#75ba75", data:[],data2:[], yAxis:1, marker:{symbol: 'circle'} }
			
			const thisYear = dayjs().format("YYYY");
			let accContractCnt= 0 
			month. forEach ( m => {
					
					const month = thisYear+"-"+m;
					const match = data.filter( d => d.MONTH === month);
						
					if( match.length > 0 ){
						
						monthly.data.push	(match[0].MONTHLY_TOTAL_COST);
						once.data.push		(match[0].ONCE_TOTAL_COST);
						
						accContractCnt += Number(match[0].MONTHLY_CNT) + Number(match[0].ONCE_CNT);
						contractCnt.data.push(accContractCnt	);
						contractCnt.data2.push(Number(match[0].MONTHLY_CNT) + Number(match[0].ONCE_CNT))
					
					}else{
						monthly.data.push(0);
						once.data.push(0);
						contractCnt.data.push(accContractCnt);
						contractCnt.data2.push(0);
					}
				
			})
			
			const series = [monthly, once, contractCnt];
			let target = "<@pageId>_transition_chart3"
			if( gubun )target = "<@pageId>_transition_chart"+gubun;
			_1stacked1LineChart(target, _monthArray, series, <@pageId>.getUnitStr('억',<@pageId>.UNIT_TYPE )) ;

		}
		,searchMonthlyPayment	: (callback) =>{
			
			let ACHIEVE_RATE = 0;
			var parm = {
				 queryId 		: 	"faDashboard.getOrgSellingPirce"
				,requestParm	: 	{
										 CUR_YEAR_DATE	: dayjs().format("YYYY")	
										,CUR_MONTH_DATE : dayjs().format("YYYY-MM")	
									}
			}

			C_COM.requestQuery(parm, function(resultData) {

				const data = resultData.data[0];
				
				// (실행수수료 + 영업수수료) 1억이하 이고 당월수수료 300만원이하인경우 백만단위로 변경 
				if(data.YEARLY_PAYMENT <= 100000000 && data.SUM_PAYMENT <= 3000000 ){
					<@pageId>.UNIT_TYPE = "SMALL";
					
				}else{
					<@pageId>.UNIT_TYPE = "BIG";
				}
				
				 G_VAL.session.etcUserInfo["UNIT_TYPE"] = <@pageId>.UNIT_TYPE;
				 
				$("#<@pageId>_curMonthOSP").text( `당월 수수료(${dayjs().format("YYYY.MM")})` );
				
				const targetPayment = data.TARGET_PAYMENT;
				const curMonthOSP = "<@pageId>_curMonthOSP+.sales_wrap";
				const monthlyTargetPayment = ( targetPayment/12 ).toFixed(2);
				
				$("#"+curMonthOSP+" .big_won 	.num"	).text( addComma(data.SUM_PAYMENT) 				);
				$("#"+curMonthOSP+" .small_won	.num"	).text( addComma(monthlyTargetPayment) +'원' 	);
				$("#"+curMonthOSP+" .potential  .num"	).text( addComma(data.POTENTIAL_CUSTOMER) 		);
				$("#"+curMonthOSP+" .customer   .num"	).text( addComma(data.AFFILIATE_CNT) 			);
				
				$("#<@pageId>_exec	.num"				).text( addComma(data.EXEC_PAYMENT) 			);
				$("#<@pageId>_sales .num"				).text( addComma(data.SALES_SUM_PAYMENT) 		);
				
				$("#<@pageId>_yearlyGoal").val( addComma(targetPayment) );	
				
				<@pageId>.YEARLY_TARGET_PAYMENT = targetPayment;
				if(callback ) callback();
				
				//년간 달성률
				const yearlyPayment = data.YEARLY_PAYMENT;
				if( targetPayment == 0) ACHIEVE_RATE = 0;
				else ACHIEVE_RATE = ( (yearlyPayment * 100) / (targetPayment) ).toFixed(2);

				$("#<@pageId>_faSection1 .piechart_wrap .percent 	> .num").text( addComma(ACHIEVE_RATE) );
				$("#<@pageId>_faSection1 .piechart_wrap .won 		> .num").text( addComma(yearlyPayment) );

				_pieChart('<@pageId>_goalAcieveRate_chart' ,[{
			        type: 'pie',
			        name: '달성률',
			        innerSize: '82%',
			        data: [
			            ['목표 수수료 달성률', Number(ACHIEVE_RATE)],
			            ['', 100-Number(ACHIEVE_RATE)],
			        ]
		    	}] )

			});
			
		} 
		,getUnitStr : (str, gubun) =>{
			
			if( str == "억원"){
				
				if( gubun == 'SMALL')return "백만원";
				else return str;
				
			}
			if( str == "억"){
				
				if( gubun == 'SMALL')return "백만";
				else return str;
				
			}
		}
		,searchPaymentSumTrend : (gubun , chart) => {
		
			var parm = {
				 queryId 		: "faDashboard.getPaymentByMonth"
				,requestParm	: {CUR_YEAR_DATE : C_UICOM.getData("<@pageId>_years"+gubun) , personalSearch : 'PERSONAL' , UNIT_TYPE : <@pageId>.UNIT_TYPE}
			}

			C_COM.requestQuery(parm, function(resultData) {
				
				<@pageId>.searchedPayment	= resultData.data ;
				
  				if( chart == "customerTrend"){

  				 	const data	= 	<@pageId>.searchedPayment;
  				 	<@pageId>.firstStacked1LineChart(data,gubun) ;
  				 	
  				}else{

					<@pageId>.YEARLY_TARGET_PAYMENT = resultData.data[0].TARGET_PAYMENT;
					
					const monthlyPaymentArr = [];
					const paymentTrend = [];
					let maxVal = <@pageId>.YEARLY_TARGET_PAYMENT / 1000000 * 1.2;
					
					let cumulativePayment = 0;
					<@pageId>.searchedPayment.forEach( monthPay => {
						
					    cumulativePayment += monthPay.SUM_PAYMENT;
					    paymentTrend.push(Number(cumulativePayment.toFixed(2)));
					    monthlyPaymentArr.push(monthPay.SUM_PAYMENT);
					    const tmp = cumulativePayment >= monthPay.SUM_PAYMENT ? cumulativePayment: monthPay.SUM_PAYMENT;
					    if( maxVal <= tmp)maxVal=tmp;
					})
					
					<@pageId>.CUR_PAYMENT_SUM_TR_CHART_MAX_VAL = maxVal;
					
					const unit =<@pageId>.getUnitStr('억',<@pageId>.UNIT_TYPE );
					const series =	[	{name:	'월별 수수료',type:	'column', 	yAxis: 	0, 	data: 	monthlyPaymentArr,	tooltip: {valueSuffix: ' '+unit}}
									, 	{name:	'수수료 추이',type:	'spline',	yAxis:	1,	data:	paymentTrend,		tooltip: {valueSuffix: ' '+unit}}
									]
					const yearlyTargetPayment = <@pageId>.YEARLY_TARGET_PAYMENT / 1000000 ; 
					<@pageId>.PAYMENT_SUM_TR_CHART[gubun] = _1Bar1Line1HorizentalLineChart("<@pageId>_transition_chart"+gubun,maxVal, yearlyTargetPayment, series, unit ) ;
					
  				}

				if( gubun == 1)<@pageId>.chartObj1 = <@pageId>.PAYMENT_SUM_TR_CHART["1"];
				if( gubun == 2)<@pageId>.chartObj2 = <@pageId>.PAYMENT_SUM_TR_CHART["2"];
			})
			
		}	
		,searchBarChart : (chartName, gubun) => {

			const CN = chartName;
			var parm = {
					 queryId 		: "faDashboard.getPaymentByMonth"
					,requestParm	: {CUR_YEAR_DATE : C_UICOM.getData("<@pageId>_years"+gubun),personalSearch:'PERSONAL', gubun:CN , UNIT_TYPE : <@pageId>.UNIT_TYPE}
			}

			C_COM.requestQuery(parm, function(resultData) {
				
				<@pageId>.searchedPayment = resultData.data ;
				
				let data = 	<@pageId>.searchedPayment.map( payment =>{
					
					if( CN == "execBosu"		) return isEmpty(payment.SUM_EXEC_PAYMENT	) ? 0 : payment.SUM_EXEC_PAYMENT;
					if( CN == "salesBosu"		) return isEmpty(payment.SUM_SALES_PAYMENT	) ? 0 : payment.SUM_SALES_PAYMENT;
					if( CN == "customerTrend") return isEmpty(payment.SUM_COSTOMER) ? 0 : payment.SUM_COSTOMER ;
				
				})		

				let yAxisText 	= "";
				let unit		= <@pageId>.getUnitStr('억',<@pageId>.UNIT_TYPE );
				if( CN == "execBosu"	)	yAxisText = "실행 수수료 추이";
				if( CN == "salesBosu"	)	yAxisText = "영업 수수료 추이";
				if( CN == "customerTrend"){ yAxisText = "고객 체결 추이";unit = "명" }

				const chartObj = Highcharts.chart('<@pageId>_transition_chart'+gubun, {
				    chart: {
				        type: 'column'
				    },
				    credits: {enabled: false},
				    title: {
				        text: '',
				        align: 'left'
				    },
				    xAxis: {
				        categories: _monthArray,
				        crosshair: true,
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: yAxisText
				        },
				        labels: {
				            format: '{value} '+unit,
				            style: {
				                      color: '#8A8C92',
				                      fontFamily: 'Noto Sans KR',
				                      fontSize: '11px'
				                  }
				        },				    
				    },
				    tooltip: {
				        valueSuffix: ' '+unit
					},
				    legend: {
				        enabled: false
				    },				    
				    series: [
				        {
				            name: '',
				            data: data
				        } 
				    ]
				});	
				
				if( gubun == 1)<@pageId>.barChartObj1 = chartObj;
				if( gubun == 2)<@pageId>.barChartObj2 = chartObj;	
				
			});
				
		}
		,changeGoalVal : (obj) => {
			
	        const val = Number($(obj).nval());
	        $("#<@pageId>_curMonthOSP+.sales_wrap .small_won > .num"	).text( addComma(val * _HUNDRED_MILLION) );
	        
		}
		,blurGoalVal : (obj) => {
			
			const val = Number($(obj).nval());
			const targetPayment = val ;	
			
			<@pageId>.YEARLY_TARGET_PAYMENT = targetPayment;
			
			var parm = {
				 queryId 		: "faDashboard.updateTargetPayment"
				,requestParm	: {
									 TARGET_PAYMENT : <@pageId>.YEARLY_TARGET_PAYMENT
									,TARGET_YEAR 	: dayjs().format("YYYY")	
								}
			}
	
			C_COM.requestQuery(parm, function(resultData) {

				const selectorChart1 = C_UICOM.getData("<@pageId>_selectorChart1");
				const selectorChart2 = C_UICOM.getData("<@pageId>_selectorChart2");
				
				if (<@pageId>.PAYMENT_SUM_TR_CHART["1"] && selectorChart1 == "susuRyo") {
					<@pageId>.PAYMENT_SUM_TR_CHART["1"].destroy();
				}
				if (<@pageId>.PAYMENT_SUM_TR_CHART["2"] && selectorChart2 == "susuRyo") {
					<@pageId>.PAYMENT_SUM_TR_CHART["2"].destroy();
				}
				
				<@pageId>.pageInit2();
					
				<@pageId>.searchMonthlyPayment();
			
				<@pageId>.updateYearyTargetPayment();

			});				
			
		} 
		,updateYearyTargetPayment : () => {
			
			const plotObj = {
			        value: <@pageId>.YEARLY_TARGET_PAYMENT,
			        color: "#75ba75",
			        width: 2,
			        label: {
			            text: '목표',
			            align: 'right'
			        },
			        id: 'plot-line-id'
			}
			
			<@pageId>.chartObj1.yAxis[0].removePlotLine('plot-line-id');
			<@pageId>.chartObj1.yAxis[0].addPlotLine(plotObj);
			<@pageId>.chartObj2.yAxis[0].removePlotLine('plot-line-id');
			<@pageId>.chartObj2.yAxis[0].addPlotLine(plotObj);
			<@pageId>.chartObj1.redraw();
			<@pageId>.chartObj2.redraw();
			
		}
		,nameSearch : (e) => {
			
			 if (e.key === "Enter") {
				 
		        var SEARCH_DATA = event.target.value;

		        <@pageId>.getScheduleList(SEARCH_DATA);
			}
		}
		,scheduleDetail : (scheduleId) => {

			let requestParm = {};
			requestParm["scheduleId"]  = scheduleId;
			requestParm["today"]       = dayjs().format("YYYY-MM-DD");
			requestParm["shareYn"]     = "N";
			requestParm["teamYn"]      = "N";

			C_POP.open('popup_sched_updateSchedulePopup', requestParm, function(obj) {
			   if( obj.refresh == 'Y' ){
				   
				   <@pageId>.getScheduleList();
				   
			   }
			})
		}

}
// Page Load가 완료된후 실행 된다.
C_PM.onLoadPage("<@pageId>", function() {
	
		<@pageId>.pageInit();
		setTimeout( ()=>{
			C_COMP.import("<@pageId>_toDoList", "main_dashboard_compTodoList", {}, function(data) {
			});
		},1000)
		
});
// History back으로 이동해왔을 경우 이루틴이 실행된다.
C_HM.onReturn("<@pageId>", function(pageId, data) {

});
</script>
	<div class="cont_wrap lnb_none">
		<div class="cont_top">
			<h2><i class="icon_bullet"></i>MY 대쉬보드</h2>
		</div>
		<div class="sec_scroll">
			<section class="sec_wrap">
				<div class="left">
					<section class="sec_wrap" id="<@pageId>_faSection1">
						<div class="cont_box left">
							<h3 class="dashboard_tit" id="<@pageId>_curMonthOSP">당월 수수료(2023.08.)</h3>
							<div class="sales_wrap">
								<div class="sales">
									<i class="icon_presentation"></i>
									<div class="won_wrap">
										<div class="big_won"><span class="num">17,529,465,969</span>원</div>
										<div class="small_won"><span class="num">30,000,000,000</div>
									</div>
								</div>
								<div class="potential">
									<i class="icon_users_group"></i>
									<div class="member_wrap">
										<span class="txt">잠재고객</span>
										<span class="num_wrap"><span class="num">2</span>명</span>
									</div>
								</div>
								<div class="customer">
									<i class="icon_users_group"></i>
									<div class="member_wrap">
										<span class="txt">고객 수</span>
										<span class="num_wrap"><span class="num">16</span>명</span>
									</div>
								</div>
							</div>
							<div class="price_wrap">
								<div class="won_wrap">
									<span class="stit">실행수수료</span>
									<div class="num_wrap" id="<@pageId>_exec"><span class="num">2,061,749</span>원</div>
								</div>
								<div class="won_wrap">
									<span class="stit">영업수수료</span>
									<div class="num_wrap" id="<@pageId>_sales"><span class="num">408,734</span>원</div>
								</div>
								<div class="won_wrap">
									<span class="stit">연간목표수수료</span>
									<div class="num_wrap" id="<@pageId>_goal"><span class="num">
									<div class='search_inputWrap' style='width:100px;'>
										<input type='search' id="<@pageId>_yearlyGoal" style='width:100%;padding:0'oninput='<@pageId>.changeGoalVal(this)' onblur='<@pageId>.blurGoalVal(this)' fix="2" number/>
									</div>											
									</span>원</div>
								</div>
							</div>
						</div>
						<div class="cont_box right">
							<div class="piechart_wrap">
								<div class="percent"><span class="num">58.43</span>%</div>
								<div class="won"><span class="num"></span>원</div>
							</div>
							<figure>
								<div class="chart" id="<@pageId>_goalAcieveRate_chart"  style="height:230px"></div>
							</figure>
						</div>
					</section>
 					<section class="sec_wrap">
						<div class="cont_box">
							<figure>
						    	<div class="chart03" id="<@pageId>_transition_chart3"  style="height:220px;"></div>
							</figure>
						</div>
					</section>
					<section class="sec_wrap">
						<div class="cont_box">
							<div class="cont_top">
								<div  class="select_box fl"  id="<@pageId>_selectorChart1" style="width:180px"></div>
				                <div class="calendar_wrap fl">
									<div id="<@pageId>_years1" style="width:100px"></div>
								</div>
							</div>

							<figure>
						    	<div class="chart01" id="<@pageId>_transition_chart1"  style="height:190px;"></div>
							</figure>

						</div>
					</section>
					<section class="sec_wrap">
						<div class="cont_box">
							<div class="cont_top">
								<div  class="select_box fl"  id="<@pageId>_selectorChart2" style="width:180px"></div>
				                <div class="calendar_wrap fl">
									<div id="<@pageId>_years2" style="width:100px"></div>
								</div>
							</div>

							<figure>
						    	<div class="chart01" id="<@pageId>_transition_chart2"  style="height:190px;"></div>
							</figure>
						</div>
					</section>
				</div>

				<div class="right">
					<section class="sec_wrap" style="height:421px" id="<@pageId>_toDoList">
					</section>
					<section class="sec_wrap" style="height:700px;">
						<div class="cont_box">
							<div class="clearFix">
								<h3 class="fl lh33">예정 업무</h3>
								<div class="search_inputWrap fr">
									<input type="search" id="<@pageId>_nmSearch" onkeydown="<@pageId>.nameSearch(event)"><button class="search_btn"><i class="icon_search"></i></button>
								</div>
							</div>
					
							<div id="<@pageId>_schedule"  class="pd5" style="max-height:337px;width:calc(100% + 5px);overflow-y:auto;"></div>
							<script type="text/x-jsrender" id="<@pageId>_schedule_template">
							{{for list}}
								{{if #index % 2 == 0 }}
								<section class="sec_wrap pd0 mt15" >
								{{/if}}
									<div class="cont_box col2">
										<h4>{{:TITLE}}</h4>
										<div class="content" onclick="<@pageId>.scheduleDetail('{{:SCHEDULE_ID}}')">
											{{if 	WORK_TYPE == 'MEETING'}}	<i class="status meeting"></i>
											{{else 	WORK_TYPE == 'SUGGESTER'}} 	<i class="status schedule"></i>
											{{else 	WORK_TYPE == 'TEL_CONSUL'}} <i class="status tel_consul"></i>
											{{else 	WORK_TYPE == 'SCHEDULE'}} 	<i class="status schedule"></i>
											{{else 	WORK_TYPE == 'SEND_EMAIL'}} <i class="status send_email"></i>
											{{else 	WORK_TYPE == 'SEMINAR'}} 	<i class="status seminar"></i>
											{{else 	WORK_TYPE == 'OTHER_WORK'}} <i class="status other_work"></i>
											{{/if}}
											<span>{{:WORK_TYPE_NM}}</span>
											<dl>
												<dt>일정:</dt>
												<dd>
													<span class="date">{{:SCHEDULE_DATE}}</span>
													<span class="time">{{:START_TIME_HOUR}}:{{:START_TIME_MINUTE}}~{{:END_TIME_HOUR}}:{{:END_TIME_MINUTE}}</span>
												</dd>
												<dt>장소:</dt>
												<dd>{{:POSITION}}</dd>
											</dl>
											<div class="note">{{:DESCRIPTION}}</div>
										</div>
									</div>
								{{if #index == LAST_DATA && #index % 2 == 0}}
									<div class="cont_box col2" style='visibility:hidden'>
										<h4></h4>
										<div class="content">
											<span></span>
											<dl>
												<dt></dt>
												<dd>
													<span class="date"></span>
													<span class="time"></span>
												</dd>
												<dt></dt>
												<dd></dd>
											</dl>
											<div class="note"></div>
										</div>
									</div>
								{{/if}}
								{{if #index % 2 == 1 }}
								</section>
								{{/if}}
							{{/for}}
							</script>							
						</div>
					</section>
				</div>
			</section>
		</div>
	</div>