<meta charset="utf-8">
<script type="text/javascript">
var <@pageId> = { 
		searchedPayment : []
		,pageInit  : () =>{

			<@pageId>.searchMonthlyPayment();
			
			const yearsArray = Array.from({ length: 4 }, (_, index) => {
				  const year = 2022 + index;
				  return [year.toString(), year + "년"];
			});
			
			for( var i=1 ; i< 3 ; i++){

				const gubun = i;
				var yearsArrayList = { data	: yearsArray,targetId : "<@pageId>_years"+i}
				C_UICOM.makeSelectBox(yearsArrayList, "single");
				C_UICOM.setSingleBox("<@pageId>_years"+i, dayjs().year());
				C_UICOM.addChangeListener("<@pageId>_years"+i, function(dataObj) {
					if(dataObj == "susuRyo")
					{
						<@pageId>.searchPaymentSumTrend(gubun)
						
					}else{
						<@pageId>.searchBarChart(dataObj,gubun)
					}
				});			

			}

			<@pageId>.searchPaymentSumTrend('1');
			<@pageId>.searchPaymentSumTrend('2');
			    
			const transitionData = [
				 ["susuRyo","수수료 합계 추이"]
				,["execBosu","실행 수수료 추이"]
				,["salesBosu","영업 수수료 추이"]
				,["customerTrend","자문 고객 추이"]
			]
			var singleboxList = { 
				  data 			: transitionData
			 	,targetId 		: "<@pageId>_selectorChart1" 
			}
			C_UICOM.makeSelectBox(singleboxList, "single");
			C_UICOM.addChangeListener("<@pageId>_selectorChart1", function(dataObj) {
				
				if(C_UICOM.getData("<@pageId>_selectorChart1") == "susuRyo")
				{
					<@pageId>.searchPaymentSumTrend('1')
					
				}else{
					<@pageId>.searchBarChart(dataObj,'1')
				}
				
			});
			var singleboxList2 = { 
				  data 			: transitionData
			 	,targetId 		: "<@pageId>_selectorChart2" 
			}
			C_UICOM.makeSelectBox(singleboxList2, "single");
			C_UICOM.addChangeListener("<@pageId>_selectorChart2", function(dataObj) {
				
				if(C_UICOM.getData("<@pageId>_selectorChart2") == "susuRyo")
				{
					<@pageId>.searchPaymentSumTrend('2')
					
				}else{
					<@pageId>.searchBarChart(dataObj,'2')
				}
				
			});

			const toDate	= dayjs().format("YYYY-MM-DD");
			const fromDate 	= dayjs().subtract(1, 'month').format("YYYY-MM-DD");
			$("#<@pageId>_fromDate").val(fromDate);
			$("#<@pageId>_toDate").val(toDate);

			<@pageId>.getScheduleList();
		}
		,getScheduleList : (SEARCH_DATA) => {
			
			var parm = {
				queryId 		: "faDashboard.getScheduleList"
				,requestParm	: {SEARCH_DATA : SEARCH_DATA}
			}
			C_COM.requestQuery(parm, function(resultData) {
				
	        	let rparm = {
	           			targetId   : "<@pageId>_schedule"
						,list       : resultData.data
				}
				C_COM.renderHtml("<@pageId>", rparm);
			})

		}
		,searchMonthlyPayment : () =>{
			
			let ACHIEVE_RATE = 0;
			var parm = {
					 queryId 		: "faDashboard.getOrgSellingPirce"
					,requestParm	: {
										CUR_YEAR_DATE : dayjs().format("YYYY")	
										,CUR_MONTH_DATE : dayjs().format("YYYY-MM")	
									}
			}

			C_COM.requestQuery(parm, function(resultData) {

				const data = resultData.data[0];
				
				//년간 목표 수수료
				const targetPayment = data.TARGET_PAYMENT;
				
				$("#<@pageId>_curMonthOSP").text( `당월 수수료(${dayjs().format("YYYY.MM")})` );
				$("#<@pageId>_curMonthOSP+.sales_wrap .big_won > .num"		).text( addComma(data.SUM_PAYMENT) );
				const monthlyTargetPayment = ((targetPayment/12)*100000000).toFixed(2);
				$("#<@pageId>_curMonthOSP+.sales_wrap .small_won> .num").text( addComma( (targetPayment/12 ).toFixed(2)) +'억원' );
				
				$("#<@pageId>_curMonthOSP+.sales_wrap .potential  .num_wrap > .num"	).text( addComma(data.POTENTIAL_CUSTOMER) );
				$("#<@pageId>_curMonthOSP+.sales_wrap .customer   .num_wrap > .num"	).text( addComma(data.AFFILIATE_CNT) );
				
				$("#<@pageId>_exec	.num").text( addComma(data.EXEC_PAYMENT) );
				$("#<@pageId>_sales .num").text( addComma(data.SALES_SUM_PAYMENT) );
				
				$("#<@pageId>_yearlyGoal").val( addComma(targetPayment) );	
				
				//년간 달성률
				const yearlyPayment = data.YEARLY_PAYMENT;
				ACHIEVE_RATE = ( (yearlyPayment * 100) / (targetPayment * 100000000 ) ).toFixed(2);

				$("#<@pageId>_faSection1 .piechart_wrap .percent > .num").text( addComma(ACHIEVE_RATE) );
				$("#<@pageId>_faSection1 .piechart_wrap .won > .num").text( addComma(yearlyPayment) );

				_pieChart('<@pageId>_goalAcieveRate_chart' ,[{
			        type: 'pie',
			        name: '달성률',
			        innerSize: '82%',
			        data: [
			            ['목표 순매출 달성률', Number(ACHIEVE_RATE)],
			            ['', 100-Number(ACHIEVE_RATE)],
			        ]
		    	}] )

			});
		} 
		,searchPaymentSumTrend : (gubun) => {
		
			var parm = {
					 queryId 		: "faDashboard.getPaymentByMonth"
					,requestParm	: {CUR_YEAR_DATE : C_UICOM.getData("<@pageId>_years"+gubun)}
			}

			C_COM.requestQuery(parm, function(resultData) {
				
				<@pageId>.searchedPayment = resultData.data ;
				
				const monthlyPayment 	= resultData.data ;
				
				const paymentTrend = [];
				let cumulativePayment = 0;
				
				monthlyPayment.forEach( monthPay => {
					
				    cumulativePayment += monthPay.SUM_PAYMENT;
				    paymentTrend.push(cumulativePayment);
				})

				console.log(paymentTrend);
				
				Highcharts.chart("<@pageId>_transition_chart"+gubun, {
				    chart: {
				        zoomType: 'xy'
				    },
				    credits: {enabled: false},
				    title: {
				        text: '',
				        align: 'left'
				    },
				    xAxis: [{
				        categories: ['1월', '2월', '3월', '4월', '5월', '6월','7월', '8월', '9월', '10월', '11월', '12월'],
				        crosshair: true
				    }],
				    yAxis: [{
				        labels: {
				            format: '{value}억',
				            style: {
		                        color: '#8A8C92',
		                        fontFamily: 'Noto Sans KR',
		                        fontSize: '11px'
		                    }
				        },
				        title: {
				            text: '수수료 합계 추이',
				            style: {
				                color: Highcharts.getOptions().colors[1]
				            }
				        },
				        plotLines: [{
				            value: 300,
				            color: "#75ba75",
				            width: 2,
				            label: {
				                text: '목표',
				                align: 'right'
				            }
				        }]
				    }, {
				        title: {
				            text: '월별 수수료',
				            style:{
				            	color:"#27187F",
		                        fontFamily: 'Noto Sans KR',
		                        fontSize: '12px',
		                        fontWeight: 'bold'
				            }
				        },
				        labels: {
				            format: '{value} 억',
				        },
				        opposite: true
				    }],
				    tooltip: {
				        shared: true
				    },
				    legend: {
				        align: 'left',
				        x: 80,
				        verticalAlign: 'top',
				        y: 60,
				        floating: true,
				        backgroundColor:
				            Highcharts.defaultOptions.legend.backgroundColor ||
				            'rgba(255,255,255,0.25)'
				    },
				    series: [{
				        name: '월별 수수료',
				        type: 'column',
				        yAxis: 1,
				        data:[27.6, 28.8, 21.7, 34.1, 29.0, 28.4, 45.6, 51.7, 39.0,
				            60.0, 28.6, 32.1],
				        tooltip: {
				            valueSuffix: ' 억'
				        }
				
				    }, {
				        name: '수수료 추이',
				        type: 'spline',
				        data:  [27.6, 56.4, 78.1, 112.2, 141.2, 169.6, 215.2, 266.9, 305.9,
				            365.9, 394.5, 426.6],
				        tooltip: {
				            valueSuffix: ' 억'
				        }
				    }]
				});					
				
			})
	
			
		}	
		,searchBarChart : (chartName, gubun) => {
			
				let data = 	<@pageId>.searchedPayment.map( payment =>{
					
					if( chartName == "execBosu"		) return payment.SUM_EXEC_PAYMENT / 10000 ;
					if( chartName == "salesBosu"	) return payment.SUM_SALES_PAYMENT / 10000;
					if( chartName == "customerTrend") return payment.SUM_COSTOMER ;

				})		
				
				let yAxisText 	= "";
				let unit		= "만원";
				if( chartName == "execBosu"		)yAxisText = "실행 수수료 추이";
				if( chartName == "salesBosu"	)yAxisText = "영업 수수료 추이";
				if( chartName == "customerTrend"){ yAxisText = "자문 고객 추이";unit = "명" }
			
				Highcharts.chart('<@pageId>_transition_chart'+gubun, {
				    chart: {
				        type: 'column'
				    },
				    credits: {enabled: false},
				    title: {
				        text: '',
				        align: 'left'
				    },
				    xAxis: {
				        categories: ['1월', '2월', '3월', '4월', '5월', '6월','7월', '8월', '9월', '10월', '11월', '12월'],
				        crosshair: true,
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: yAxisText
				        },
				        labels: {
				            format: '{value} '+unit,
				            style: {
		                        color: '#8A8C92',
		                        fontFamily: 'Noto Sans KR',
		                        fontSize: '11px'
		                    }
				        },				    

				    },
				    tooltip: {
				        valueSuffix: ' '+unit
					},
				    legend: {
				        enabled: false
				    },				    
				    series: [
				        {
				            name: '',
				            data: data
				            
				            
				        } 
				    ]
				});	
				
		}
		,changeGoalVal : (obj) => {
			
	        const val = Number($(obj).nval());
	        $("#<@pageId>_curMonthOSP+.sales_wrap .small_won > .num"	).text( addComma(val * 100000000) );
		}
		,blurGoalVal : (obj) => {
			
			const val = Number($(obj).nval());
			const targetPayment = val * 100000000 ;		
			var parm = {
				 queryId 		: "faDashboard.updateTargetPayment"
				,requestParm	: {
									 TARGET_PAYMENT : targetPayment
									,TARGET_YEAR 	: dayjs().format("YYYY")	
								}
			}
	
			C_COM.requestQuery(parm, function(resultData) {

				<@pageId>.searchMonthlyPayment();
				
			});				
			
		} 		
		,nameSearch : (e) => {
			
			 if (e.key === "Enter") {
				 
		        var SEARCH_DATA = event.target.value;

		        <@pageId>.getScheduleList(SEARCH_DATA);
			}
		}

}
// Page Load가 완료된후 실행 된다.
C_PM.onLoadPage("<@pageId>", function() {
	
		<@pageId>.pageInit();
		
		C_COMP.import("<@pageId>_toDoList", "main_dashboard_compTodoList", {}, function(data) {
		});

		
});
// History back으로 이동해왔을 경우 이루틴이 실행된다.
C_HM.onReturn("<@pageId>", function(pageId, data) {

});
</script>
	<div class="cont_wrap lnb_none">
		<div class="cont_top">
			<h2><i class="icon_bullet"></i>FA 대쉬보드</h2>
		</div>
		<div class="sec_scroll">
			<section class="sec_wrap">
				<div class="left">
					<section class="sec_wrap" id="<@pageId>_faSection1">
						<div class="cont_box left">
							<h3 class="dashboard_tit" id="<@pageId>_curMonthOSP">당월 수수료(2023.08.)</h3>
							<div class="sales_wrap">
								<div class="sales">
									<i class="icon_presentation"></i>
									<div class="won_wrap">
										<div class="big_won"><span class="num">17,529,465,969</span>원</div>
										<div class="small_won"><span class="num">30,000,000,000</div>
									</div>
								</div>
								<div class="potential">
									<i class="icon_users_group"></i>
									<div class="member_wrap">
										<span class="txt">잠재고객</span>
										<span class="num_wrap"><span class="num">2</span>명</span>
									</div>
								</div>
								<div class="customer">
									<i class="icon_users_group"></i>
									<div class="member_wrap">
										<span class="txt">가맹 수</span>
										<span class="num_wrap"><span class="num">16</span>명</span>
									</div>
								</div>
							</div>
							<div class="price_wrap">
								<div class="won_wrap">
									<span class="stit">실행수수료</span>
									<div class="num_wrap" id="<@pageId>_exec"><span class="num">2,061,749</span>원</div>
								</div>
								<div class="won_wrap">
									<span class="stit">영업수수료</span>
									<div class="num_wrap" id="<@pageId>_sales"><span class="num">408,734</span>원</div>
								</div>
								<div class="won_wrap">
									<span class="stit">연간목표수수료</span>
									<div class="num_wrap" id="<@pageId>_goal"><span class="num">
									<div class='search_inputWrap' style='width:100px;'>
										<input type='search' id="<@pageId>_yearlyGoal" style='width:100%;padding:0'oninput='<@pageId>.changeGoalVal(this)' onblur='<@pageId>.blurGoalVal(this)' fix="2" number/>
									</div>											
									</span>억원</div>
								</div>
							</div>
						</div>
						<div class="cont_box right">
							<div class="piechart_wrap">
								<div class="percent"><span class="num">58.43</span>%</div>
								<div class="won"><span class="num"></span>억원</div>
							</div>
							<figure>
								<div class="chart" id="<@pageId>_goalAcieveRate_chart"  style="height:230px"></div>
							</figure>
						</div>
					</section>
					<section class="sec_wrap">
						<div class="cont_box">
							<div class="cont_top">
								<div  class="select_box fl"  id="<@pageId>_selectorChart1" style="width:180px"></div>
				                <div class="calendar_wrap fl">
									<div id="<@pageId>_years1" style="width:100px"></div>
								</div>
							</div>

							<figure>
						    	<div class="chart01" id="<@pageId>_transition_chart1"  style="height:190px;"></div>
							</figure>

						</div>
					</section>
					<section class="sec_wrap">
						<div class="cont_box">
							<div class="cont_top">
								<div  class="select_box fl"  id="<@pageId>_selectorChart2" style="width:180px"></div>
				                <div class="calendar_wrap fl">
									<div id="<@pageId>_years2" style="width:100px"></div>
								</div>
							</div>

							<figure>
						    	<div class="chart01" id="<@pageId>_transition_chart2"  style="height:190px;"></div>
							</figure>
						</div>
					</section>
				</div>

				<div class="right">
					<section class="sec_wrap" style="height:calc(50% - 7.5px)" id="<@pageId>_toDoList">
					</section>
					<section class="sec_wrap" style="height:calc(50% - 7.5px)">
						<div class="cont_box">
							<div class="clearFix">
								<h3 class="fl lh33">예정 업무</h3>
								<div class="search_inputWrap fr">
									<input type="search" id="<@pageId>_nmSearch" onkeydown="<@pageId>.nameSearch(event)"><button class="search_btn"><i class="icon_search"></i></button>
								</div>
							</div>
							
							<div id="<@pageId>_schedule"></div>
							<script type="text/x-jsrender" id="<@pageId>_schedule_template">
							{{for list}}
								{{if #index % 2 == 0 }}
								<section class="sec_wrap pd0 mt15" >
								{{/if}}
								<div class="cont_box col2">
									<h4>{{:TITLE}}</h4>
									<div class="content">
										{{if 	WORK_TYPE == 'MEETING'}}	<i class="status meeting"></i>
										{{else 	WORK_TYPE == 'SUGGESTER'}} 	<i class="status schedule"></i>
										{{else 	WORK_TYPE == 'TEL_CONSUL'}} <i class="status tel_consul"></i>
										{{else 	WORK_TYPE == 'SCHEDULE'}} 	<i class="status schedule"></i>
										{{else 	WORK_TYPE == 'SEND_EMAIL'}} <i class="status send_email"></i>
										{{else 	WORK_TYPE == 'SEMINAR'}} 	<i class="status seminar"></i>
										{{else 	WORK_TYPE == 'OTHER_WORK'}} <i class="status other_work"></i>
										{{/if}}
										<span>{{:WORK_TYPE_NM}}</span>
										<dl>
											<dt>일정:</dt>
											<dd>
												<span class="date">{{:SCHEDULE_DATE}}</span>
												<span class="time">{{:SCHEDULE_TIME}}</span>
											</dd>
											<dt>장소:</dt>
											<dd>{{:POSITION}}</dd>
										</dl>
										<div class="note">{{:DESCRIPTION}}</div>
									</div>
								</div>
								{{if #index+1 == LAST_DATA && #index % 2 == 0}}
								<div class="cont_box col2">
									<h4></h4>
									<div class="content">
										<span></span>
										<dl>
											<dt></dt>
											<dd>
												<span class="date"></span>
												<span class="time"></span>
											</dd>
											<dt></dt>
											<dd></dd>
										</dl>
										<div class="note"></div>
									</div>
								</div>
								{{/if}}
								{{if #index % 2 == 1 }}
								</section>
								{{/if}}
							{{/for}}
							</script>							
						</div>
					</section>
				</div>
			</section>

		</div>
	</div>
