<meta charset="utf-8">
<script type="text/javascript"> 
var <@pageId> = {
		 selectedCheck :{ "grpCodeList": [],"normalCodeList": [] }
		,getItems : (loc) => {
				const requestParm = {};
				const updateItems = $("#"+loc+" input:not([type='radio'])");
				
				const valuesArray = updateItems.map(function() {
				    return { name: this.name, value: ""+$(this).val() };
				}).get();
				
				valuesArray.forEach(function(item) {
					requestParm[item.name] = item.value;
				});

				return requestParm;
				
		}
		,createChart 		: (container, categories, series)=>_barLineChart(container, categories, series)
		,create1Bar2LineChart : (container, categories, series)=>_1bar2LineChart(container, categories, series)
		,showObject : (obj, loc) => {
			var keys = Object.keys(obj);
		    for (var i=0; i<keys.length; i++) {
		    	var key = keys[i];
		    	$("#<@pageId>_" + key).html(obj[key]);
		    	$(".<@pageId>_" + key).html(obj[key]);
		    }
		}
		,showList : (targetId, dataList) => { 
			const rpm = {
					 targetId 		: targetId
					,list			: dataList  
				}
			C_COM.renderHtml("<@pageId>", rpm);
		}
		,selectQueryGroup : function(pmt) {
			var parm = {
				queryGroup : [
					{
						 queryId 			: "financialanalysis.getBasis01"
						,requestParm		: pmt
					}
					,
					{
						 queryId 			: "financialanalysis.getFinAnalStockholder"
						,requestParm		: pmt
					}
					,
					{
						 queryId 			: "valuation.getValuationStock"
						,requestParm		: pmt
					}
					,
					{
						 queryId 			: "valuation.getValueForStdYear"
						,requestParm		: pmt
					}
					,
					{
						 queryId 			: "valuation.getValueForYear"
						,requestParm		: pmt
					}
					,
					{
						 queryId 			: "valuation.getValueForStdReductionYear"
						,requestParm		: pmt
					}
					,
					{
						 queryId 			: "valuation.getValueForReductionYear"
						,requestParm		: pmt
					}
					,
					{
						 queryId 			: "valuation.getValueTaxYear"
						,requestParm		: pmt
					}	
					,
					{
						 queryId 			: "valuation.getValuationReference"
						,requestParm		: pmt
					}
				]
			}
			C_COM.requestQuery(parm, function(resultData) {
				<@pageId>.showObject(resultData.data['financialanalysis.getBasis01'][0],'');				
				<@pageId>.showList("<@pageId>_getFinAnalStockholder", resultData.data['financialanalysis.getFinAnalStockholder']);
				<@pageId>.showList("<@pageId>_getFinAnalStockholder", resultData.data['financialanalysis.getFinAnalStockholder']);				
				<@pageId>.setChart('ValuationStock',resultData.data['valuation.getValuationStock']);
				<@pageId>.showList("<@pageId>_getValueForStdYear", resultData.data['valuation.getValueForStdYear']);
				<@pageId>.showList("<@pageId>_getValueForYear", resultData.data['valuation.getValueForYear']);
				<@pageId>.showList("<@pageId>_getValueForStdReductionYear", resultData.data['valuation.getValueForStdReductionYear']);
				<@pageId>.showList("<@pageId>_getValueForReductionYear", resultData.data['valuation.getValueForReductionYear']);
				<@pageId>.showList("<@pageId>_getValueTaxYear", resultData.data['valuation.getValueTaxYear']);				
				<@pageId>.setChart('ValueTax',resultData.data['valuation.getValueTaxYear']);
				<@pageId>.showList("<@pageId>_getValuationReference01", resultData.data['valuation.getValuationReference']);
				<@pageId>.showList("<@pageId>_getValuationReference02", resultData.data['valuation.getValuationReference']);
				<@pageId>.showList("<@pageId>_getValuationReference03", resultData.data['valuation.getValuationReference']);
				<@pageId>.showList("<@pageId>_getValuationReference04", resultData.data['valuation.getValuationReference']);
				<@pageId>.showList("<@pageId>_getValuationReference05", resultData.data['valuation.getValuationReference']);
				
				<@pageId>.showList("<@pageId>_getValuationReference06", resultData.data['valuation.getValuationReference']);
				mergeTableColumn('<@pageId>_getValuationReference06');
				
				<@pageId>.showList("<@pageId>_getValuationReference07", resultData.data['valuation.getValuationReference']);
				mergeTableTD('<@pageId>_getValuationReference07', {startIdx : 3, endIdx : 3, startRowIdx : 2});
				<@pageId>.showList("<@pageId>_getValuationReference08", resultData.data['valuation.getValuationReference']);
				mergeTableTD('<@pageId>_getValuationReference08', {startIdx : 3, endIdx : 3, startRowIdx : 2});
				<@pageId>.showList("<@pageId>_getValuationReference09", resultData.data['valuation.getValuationReference']);
				mergeTableTD('<@pageId>_getValuationReference09', {startIdx : 3, endIdx : 3, startRowIdx : 2});
				
			});
		 }
		,setChart : (gubun, chartData) =>{
			const _yearValuationStockArray = [];	// 년도별
			const getPricePerStock = [];			// 년도별 1주당 주식가액
			const getTotalStockValuation = [];		// 년도별 기업가치
			const _yearValueTaxYearArray = [];		// 년도별
			const getValuationTenpercent = [];		// 10% 지분가치
			const getCapitalGainsTax = [];			// 양도소득세 부담률
			const getGiftTax = [];					// 증여세 부담률

			$.each(chartData, function(index, item){
				if(gubun=='ValuationStock'){
					_yearValuationStockArray.push(item.YEAR);
					getPricePerStock.push(item.PRICE_PER_STOCK);
					getTotalStockValuation.push(item.VALUATION);
				}else if(gubun=='ValueTax'){
					_yearValueTaxYearArray.push(item.CHART_YEAR);					
					getValuationTenpercent.push(item.CHART_VALUATION_TENPERCENT);
					getCapitalGainsTax.push(item.CHART_CAPITAL_GAINS_TAX);
					getGiftTax.push(item.CHART_GIFT_TAX);
				}
			})
			if(gubun=='ValuationStock'){
				//debugger;
				//년도별 기업가치 예상 추이
  				<@pageId>.createChart( "<@pageId>_valuationStock_chart" 
									, _yearValuationStockArray , [{  name: '기업가치',type: 'column', yAxis: 1,	data: getTotalStockValuation, tooltip: {valueSuffix:'만원'}
													},{  name: '1주당 주식가액',type: 'line',	data: getPricePerStock, tooltip: {valueSuffix:'만원'}}
													]);
			}else if(gubun=='ValueTax'){
				//debugger;
				//주식 이동 시 양도소득세 및 증여세 예상 추이
  				<@pageId>.create1Bar2LineChart( "<@pageId>_getValueTaxYear_chart" 
									, _yearValueTaxYearArray , [{  name: '10%지분가치',type: 'column', yAxis: 1,	data: getValuationTenpercent, tooltip: {valueSuffix:'억원'}
													},{  name: '증여세 부담률',type: 'line',	data: getGiftTax, tooltip: {valueSuffix:'%'}
													},{  name: '양도소득세 부담률',type: 'line',	data: getCapitalGainsTax, tooltip: {valueSuffix:'%'}}
													]);
			} 
		}
		,goPage : (pageId,rowId) => {

			const $tds = $(`[name='<@pageId>_tr_${rowId}']`)
			const jsonObject = {};

			jsonObject['BOARD_MST_ID'] = $("#BOARD_MST_ID").val();
			
			$tds.children("td").each(function() {
				
			    const id = this.id;
			    const value = $(this).text().trim();
				if( id )
			    	jsonObject[id] = value;
			});

			C_PM.movePage( pageId.trim(), jsonObject );
			
		}
		,setHandler : () => {
			//chat room row click
	        $("#chatRoomList").on('click', 'tr', function () {
	            let requestParm = {}
	            const rowId = $(this)[0].id;
	            if (rowId) {
	            	$($("#chatRoomList>#"+rowId+" td")).each( (idx,td) => {
        				const name 	= td.getAttribute("id");
        				const value = td.getAttribute("value");
        				requestParm[name] = value;
						$("[name='"+name+"']").val(value);
	            	})
	            }
    			<@pageId>.enterChatRoomPopup(requestParm);

	        })


   			$('#<@pageId>_search').on('click', function (e) {
   				<@pageId>.searchList();
   			})
   				
   			$('button[name="<@pageId>_insert"]').on('click', function (e) {
   				const loc = $(this).siblings(".item-box").attr("id");
   				const grp = loc.indexOf("grp") > -1 ? "GRP_" : "" ;
   					
   				<@pageId>.itemReset(loc,true,grp);
   			})
   				
   			$('button[name="<@pageId>_save"]').on('click', function (e) {

   				const loc =$(this).parents(".item-box").attr("id"); 
   				const queryId = loc.indexOf("grp") > -1 ? "system.updateGrpCode" :  "system.updateCode" ;
   				<@pageId>.updateCode(loc, queryId);
   			})
   				
   			$('button[name="<@pageId>_delete"]').on('click', function (e) {
   				
   				const loc = $(this).siblings(".item-box").attr("id");
   					
   				if(<@pageId>.validation(loc,"deleteCode")  == false)return;
   					
   				const queryId	= loc.indexOf("grp") > -1 ? "system.deleteGrpCode" : "system.deleteCode" ;
   				let		keyObj 	= loc.indexOf("grp") > -1 ? {"GRP_CODE_ID":""} : {"GRP_CODE_ID":"","CODE_ID":""} ;
				const gubun 	= loc.indexOf("grp") > -1 ? "grpCodeList" : "normalCodeList" ;
   		 		<@pageId>.selectedCheck[gubun].forEach( item =>{

   		 			let grpCodeId 	= "";
   					let codeId 		= "";	
		 			if( loc.indexOf("grp") == -1 ){
   		 					
		 				grpCodeId	= item.split("||")[0];
   		 				codeId 		= item.split("||")[1];
	   					keyObj["GRP_CODE_ID"] = grpCodeId;
	   					keyObj["CODE_ID"] = codeId;
	   		 				
   		 			}else{
   		 					
	   					keyObj["GRP_CODE_ID"] = item;
   		 			}
   						<@pageId>.deleteCode(queryId, keyObj);
   		 		});
   			}) 
   				
   			$('button[name="<@pageId>_reset"]').on('click', function(e){

   				const loc =$(this).parents(".item-box").attr("id");
   				const grp = loc.indexOf("grp") > -1 ? "GRP_" : "" ;
   				<@pageId>.itemReset(loc,true,grp);
   			})
   				
   			$("button[name='<@pageId>_close']").on('click', function(e){

   				const loc =$(this).parents(".item-box").attr("id");
   				<@pageId>.itemReset(loc,false);
   			}) 
   				
		}
		
 		,setEachColumnValue : (loc, arr ,grp) => {

			const name 	= arr[0];
			const value = arr[1];

			if( name == "USE_YN" ){
				
				<@pageId>.fnRadioCheckValue(loc, grp+'USE_YN',value);
			
			}else if( name == "DEL_YN" ){
				
				<@pageId>.fnRadioCheckValue(loc,  grp+'DEL_YN',value);
			
			}else{
			
				$("#"+loc+" input:not([type='checkbox'])").each((idx,obj)=>{

					if(obj.name == grp+name && obj.name != 'ckbox'){
						obj.value = value;
					}
				})
			}
		}
		,fnRadioCheckValue : (loc, name , pValue) => {

				const radioButtons = $("#"+loc+" input[name='"+name+"']");
				if( pValue ){
				 
					const theRadioBtn = radioButtons.filter("[value='"+pValue+"']");
					 theRadioBtn.prop('checked',true);
				}else{
				
					const selectedValue = radioButtons.filter(":checked").val();
					return selectedValue;
				 }
		}
		, createBoardPopup : function() {
			const requestParm = {};
			requestParm['BOARD_MST_ID'] = $("#BOARD_MST_ID").val();
			<@pageId>.getSearchItems(requestParm);

			C_POP.open('popup_board_createBoardPopup', requestParm, function(retData) {
				if(retData.refresh == 'Y'){
					<@pageId>.searchList();
				}
			});
		 }
}

// Page Load가 완료된후 실행 된다.
C_PM.onLoadPage("<@pageId>", function(parm) {
	parm.BUYER_ID = G_VAL.session.BUYER_ID;
	<@pageId>.selectQueryGroup(parm);
});
	
// History back으로 이동해왔을 경우 이루틴이 실행된다.
C_HM.onReturn("<@pageId>", function(pageId, data) {

});


</script>

</head>
<div class="cont_wrap backWhite">
			<div class="cont_top">
				<h2><i class="icon_bullet"></i>고객 대시 보드</h2>
			</div>
			<div class="sec_scroll" style="height:calc(100% - 40px);">
				<section class="sec_wrap">
					<!-- 기업개요 -->
					<div class="company_wrap">
						<div class="company_left">
							<div class="com_left_checkP"><i class="icon_analysis2"></i>기업가치평가</div>
							<div class="com_left_tit">외부 투자유치시 기업가치 산정</div>
							<div class="com_left_cont">
								스타트업 등 해당 기업의 미래 잠재력을
								바탕으로 기업의 가치를 산정하여 투자가
								진행될 경우에는 1) 현금흐름법(Dis-
								counted Cash Flow), 2) 시장 비교기업의
								멀티플 (시가총액/순이익)을 적용하는
								방식 등이 활용됩니다.
							</div>
						</div>
						<div class="company_cont">
							<div class="com_cont_tit">기업가치평기 필요성</div>
							<div class="com_info_box">
								<dl>
									<dt>
										<img src="../img/img_bar_line_chart.png">
										<div class="mt15">기업가치를<br>왜 평가해야 할까요?</div>
									</dt>
									<dd>
										<ul>
											<li>차명주식(명의신탁주의)을 정리할 계획이 있습니까?</li>
											<li>자녀에게 주식을 증여/양도/상속할 계획이 있습니까?</li>
											<li>기업의 주식을 제3자에게 양도하거나 유상증자를 할 계획이 있습니까?</li>
										</ul>
									</dd>
								</dl>
							</div>
							<div class="com_circle_cycle">
								<ul>
									<li>
										<dl>
											<dd>
												<ul>
													<li><strong>·</strong>&nbsp;주식 증여 시 증여세 과표 산정</li>
													<li><strong>·</strong>&nbsp;가족별 증여공제액 감안해 증여규모 결정</li>
													<li><strong>·</strong>&nbsp;주식 사전 증여 효과(상속재산 감소, 자금출처)</li>
												</ul>
											</dd>
											<dt>
												<div class="circle_tit">
													<div class="circle_wrap">
														<img src="../img/img_cycle01.png">
														<div>주식증여</div>
													</div>
												</div>
											</dt>
										</dl>
									</li>
									<li>
										<dl>
											<dt>
												<div class="circle_tit">
													<div class="circle_wrap">
														<img src="../img/img_cycle02.png">
														<div>주식 양수도</div>
													</div>
												</div>
											</dt>
											<dd>
												<ul>
													<li><strong>·</strong>&nbsp;거래가액에 따른 예상 세금산출</li>
													<li><strong>·</strong>&nbsp;비특수관계자 거래 시 저가 양수도 가능</li>
												</ul>
											</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd>
												<ul>
													<li><strong>·</strong>&nbsp;자기주식 시가취득 원칙</li>
													<li><strong>·</strong>&nbsp;이익소각목적 시 균등 액면가 자기주식취득 가능</li>
												</ul>
											</dd>
											<dt>
												<div class="circle_tit">
													<div class="circle_wrap">
														<img src="../img/img_cycle03.png">
														<div>자기주식 취득</div>
													</div>
												</div>
											</dt>
										</dl>
									</li>
									<li>
										<dl>
											<dt>
												<div class="circle_tit">
													<div class="circle_wrap">
														<img src="../img/img_cycle04.png">
														<div>상속재산 평가</div>
													</div>
												</div>
											</dt>
											<dd>
												<ul>
													<li><strong>·</strong>&nbsp;미래 기업가치 시뮬레이션</li>
													<li><strong>·</strong>&nbsp;가업주식을 포함한 예상 상속세 산출</li>
												</ul>
											</dd>
										</dl>
									</li>
								</ul>
							</div>
							<div class="com_info_white">
								<ul>
									<li>
										<div class="info_tit">
											상장주식 가치평가 방법
										</div>
										<div class="info_cot">
											상장주식(유가증권시장, 코스닥시장)은 <span class="point_color">평가기준일 이전<strong>·</strong>이후
											2개월 최종시세가액의 평균액</span>으로 평가합니다.
										</div>
									</li>
									<li>
										<div class="info_tit">
											비상장주식 가치평가 방법
										</div>
										<div class="info_cot">
											비상장주식은 평가기준일 현재 사례가액 등 시가가 확인되지 아니한 경우 <span class="point_color">상증세법상 보충적 평가방법</span>에 의하여 평가합니다.
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- 비상장주식 가치평가 -->
					<div class="company_wrap">
						<div class="company_left">
							<div class="com_left_checkP"><i class="icon_analysis2"></i>기업가치평가</div>
							<img class="com_img" src="../img/icon_company02.png">
							<div class="com_left_name">이오에프씨(주)</div>
							<div class="com_left_cont mt60">
								<ul>
									<li>
										<i class="icon_diamond"></i><img src="../img/img_valuation01.png">
									</li>
									<li>
										<div class="cont_valuation_tit point_color">자본금</div>
										<div class="cont_valuation" id="<@pageId>_CAPITAL"></div><div style="float:left">원</div>
									</li>
								</ul>
								<ul>
									<li>
										<i class="icon_diamond"></i><img src="../img/img_valuation02.png">
									</li>
									<li>
										<div class="cont_valuation_tit point_color">주식수</div>
										<div class="cont_valuation" id="<@pageId>_STOCK"></div>
									</li>
								</ul>
								<ul>
									<li>
										<i class="icon_diamond"></i><img src="../img/img_valuation03.png">
									</li>
									<li>
										<div class="cont_valuation_tit point_color">1주의 금액(액면가)</div>
										<div class="cont_valuation" id="<@pageId>_ONE_STOCK_PRICE"></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="company_cont">
							<div class="com_cont_tit">비상장주식 가치평가</div>
							<div class="clearFix mt65">
								<div class="col2_left">
									<div class="com_info_box_v2">
										<ul>
											<li>
												<img src="../img/img_info01.png">
												<div>기업가치</div>
												<div><strong>0.0</strong>억원</div>
											</li>
											<li>
												<img src="../img/img_info02.png">
												<div>1주당 주식가액</div>
												<div><strong>0</strong>원</div>
											</li>
										</ul>
									</div>
									<div class="info_txt v3">평가기준일 <span>2022.12.31</span></div>
								</div>
								<div class="col2_right">
									<div class="com_tbl col">
										<table>
											<caption></caption>
											<colgroup>
												<col style="width:20%;"/>
												<col style="width:25%;"/>
												<col style="width:30%;"/>
												<col style="width:25%;"/>
											</colgroup>
											<thead>
												<tr>
													<th>주주명</th>
													<th>지분율</th>
													<th>보유지분가치</th>
													<th>관계</th>
												</tr>
											</thead>
											<tbody id="<@pageId>_getFinAnalStockholder">
											</tbody>
											<script type="text/x-jsrender" id="<@pageId>_getFinAnalStockholder_template">
												{{for list}}
												<tr>
													<td>{{:STOCKHOLDER_NM}}</td>
													<td>{{:SHARE_RATIO}}%</td>
													<td>{{:VALUE_OF_SHARES_HELD}}</td>
													<td>{{:OWNER_RELATIONSHIP}}</td>
												</tr>
												{{/for}}
											</script>
											<script type="text/x-jsrender" id="<@pageId>_getFinAnalStockholder_noData_template">
												<tr>	
													<td colspan=4>자료가 없습니다.</td>	
												</tr>
											</script>
											</tbody>
										</table>
									</div>
								</div>
							</div>

							<div class="com_cont_stit">연도별 기업가치 예상 추이</div>
								<figure class="highcharts-figure2 mt45">
							    	<div class="chart8" id="<@pageId>_valuationStock_chart" style="width:100%; height:360px;display:block;"></div>
								</figure>
							<div class="info_txt v2">※ 위 비상장주식가치평가는 재무제표를 기준으로 상증세법상 보충적 평가방법에 의해 약식평가한 것입니다.</div>

						</div>
					</div>

					<!-- 비상장주식 가치평가 세부내역 -->
					<div class="company_wrap">
						<div class="company_left">
							<div class="com_left_checkP"><i class="icon_analysis2"></i>기업가치평가</div>
							<div class="com_left_tit">부동산과다법인 여부</div>
							<div class="com_left_cont">
								해당 기업은 일반법인을 기준으로<br>
								주식가치를 계산하였습니다.
							</div>
							<div class="com_left_tit">최근 3년간 유상증자(감자) 내역</div>
							<div class="com_left_cont">
								해당내역이 없습니다.
							</div>
						</div>
						<div class="company_cont">
							<div class="com_cont_tit">비상장주식 가치평가 세부내역</div>
							<div class="com_cont_stit">비상장주식 보충적 평가방법</div>
							<div class="com_tbl col line2">
								<table>
									<caption></caption>
									<colgroup>
										<col style="width:33;"/>
										<col style="width:34%;"/>
										<col style="width:33%;"/>
									</colgroup>
									<thead>
										<tr>
											<th>구분</th>
											<th>1주당 평가액 계산식</th>
											<th>비고</th>
										</tr>
									</thead>
									
						            <tbody id="<@pageId>_getValuationReference05">
						            </tbody>
						            <script type="text/x-jsrender" id="<@pageId>_getValuationReference05_template">
						 	        {{for list}}
									  {{if GUBUN_NAME == '비상장주식보충적평가방법'}}
                                       <tr>
						 	        	<td class="tl">{{:ITEM01_DESC}}</td>
                                        <td class="tc">{{:ITEM02_DESC}}</td>
                                        <td class="tc">{{:ITEM03_DESC}}</td>
                                       </tr>
                                      {{/if}}
						 	        {{/for}}
						            </script>
						            <script type="text/x-jsrender" id="<@pageId>_getValuationReference05_noData_template">
						 	        <tr>	
						 	        	<td colspan=3>자료가 없습니다.</td>	
						 	        </tr>
						            </script>
								    </tbody>
								</table>
							</div>
							<div class="clearFix">
								<div class="com_cont_stit">보충적 평가방법 계산 산식</div>
								<div class="col2">
									<div class="com_cont_stit none2"><span class="step">STEP1</span>주당 손익가치
										<div class="re_unit">( 단위:원 )</div>
									</div>
									<div class="com_tbl bg2 line col">
										<table>
											<caption></caption>
											<colgroup>
												<col style="width:31%;"/>
												<col style="width:23%;"/>
												<col style="width:23%;"/>
												<col style="width:23%;"/>
											</colgroup>											
						                    <tbody id="<@pageId>_getValuationReference06">
						                    </tbody>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference06_template">
						 	                {{for list}}
											  {{if GUBUN_NAME == '주당손익가치'}}
												{{if ITEM01_DESC == '구분'}}
                                               <tr>
						 	                	<th>{{:ITEM01_DESC}}</th>
                                                <th>{{:ITEM02_DESC}}</th>
                                                <th>{{:ITEM03_DESC}}</th>
                                                <th>{{:ITEM04_DESC}}</th>
                                               </tr>
												{{else}}
                                               <tr>
						 	                	<td class="tl">{{numb:ITEM01_DESC}}</td>
                                                <td class="tr">{{numb:ITEM02_DESC}}</td>
                                                <td class="tr">{{numb:ITEM03_DESC}}</td>
                                                <td class="tr">{{numb:ITEM04_DESC}}</td>
                                               </tr>
												{{/if}}
                                              {{/if}}
						 	                {{/for}}
						                    </script>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference06_noData_template">
						 	                <tr>	
						 	                	<td colspan=4>자료가 없습니다.</td>	
						 	                </tr>
						                    </script>
								            </tbody>
										</table>
									</div>
									<div class="com_cont_stit none2 mt45"><span class="step">STEP2-1</span>영업권 평가액
										<div class="re_unit">( 단위:원 )</div>
									</div>
									<div class="com_tbl bg2 line2 col">
										<table>
											<caption></caption>
											<colgroup>
												<col style="width:32%;"/>
												<col style="width:30%;"/>
												<col style="width:38%;"/>
											</colgroup>											
						                    <tbody id="<@pageId>_getValuationReference07">
						                    </tbody>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference07_template">
						 	                {{for list}}
											  {{if GUBUN_NAME == '영업권평가액'}}
												{{if ITEM01_DESC == '구분'}}
                                               <tr>
						 	                	<th>{{:ITEM01_DESC}}</th>
                                                <th>{{:ITEM02_DESC}}</th>
                                                <th>{{:ITEM03_DESC}}</th>
                                               </tr>
												{{else}}
                                               <tr {{if ITEM01_DESC == '영업권 평가액'}}class="bg_skyblue"{{/if}}>
						 	                	<td class="tl">{{:ITEM01_DESC}}</td>
                                                <td class="tr">{{numb:ITEM02_DESC}}</td>
                                                <td class="tc">{{:ITEM03_DESC}}</td>
                                               </tr>
												{{/if}}
                                              {{/if}}
						 	                {{/for}}
						                    </script>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference07_noData_template">
						 	                <tr>	
						 	                	<td colspan=3>자료가 없습니다.</td>	
						 	                </tr>
						                    </script>
								            </tbody>
										</table>
									</div>
								</div>
								<div class="col2">
									<div class="com_cont_stit none2"><span class="step">STEP2-2</span>주당 순자산가치
										<div class="re_unit">( 단위:원 )</div>
									</div>
									<div class="com_tbl bg2 line3 col">
										<table>
											<caption></caption>
											<colgroup>
												<col style="width:32%;"/>
												<col style="width:30%;"/>
												<col style="width:38%;"/>
											</colgroup>
						                    <tbody id="<@pageId>_getValuationReference08">
						                    </tbody>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference08_template">
						 	                {{for list}}
											  {{if GUBUN_NAME == '주당순자산가치'}}
												{{if ITEM01_DESC == '구분'}}
                                               <tr>
						 	                	<th>{{:ITEM01_DESC}}</th>
                                                <th>{{:ITEM02_DESC}}</th>
                                                <th>{{:ITEM03_DESC}}</th>
                                               </tr>
												{{else}}
                                               <tr {{if ITEM01_DESC == '1주당 순자산가치'}}class="bg_skyblue"{{/if}}>
						 	                	<td class="tl">{{:ITEM01_DESC}}</td>
                                                <td class="tr">{{numb:ITEM02_DESC}}</td>
                                                <td class="tc">{{:ITEM03_DESC}}</td>
                                               </tr>
												{{/if}}
                                              {{/if}}
						 	                {{/for}}
						                    </script>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference08_noData_template">
						 	                <tr>	
						 	                	<td colspan=3>자료가 없습니다.</td>	
						 	                </tr>
						                    </script>
								            </tbody>
										</table>
									</div>
									<div class="com_cont_stit none2 mt45"><span class="step active">STEP3</span>비상장주식 평가액(1주당 주식가액)
										<div class="re_unit">( 단위:원 )</div>
									</div>
									<div class="com_tbl bg2 line4 col">
										<table>
											<caption></caption>
											<colgroup>
												<col style="width:40%;"/>
												<col style="width:30%;"/>
												<col style="width:30%;"/>
											</colgroup>
						                    <tbody id="<@pageId>_getValuationReference09">
						                    </tbody>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference09_template">
						 	                {{for list}}
											  {{if GUBUN_NAME == '비상장주식평가액'}}
												{{if ITEM01_DESC == '구분'}}
                                               <tr>
						 	                	<th>{{:ITEM01_DESC}}</th>
                                                <th>{{:ITEM02_DESC}}</th>
                                                <th>{{:ITEM03_DESC}}</th>
                                               </tr>
												{{else}}
                                               <tr {{if ITEM01_DESC == '1주당 평가액(최종)'}}class="bg_indigoblue"{{/if}}{{if ITEM01_DESC == '1주당 평가액(가중평균)' || ITEM01_DESC == '순자산가치의 80%(하한가액)'}}class="bg_skyblue"{{/if}}>
						 	                	<td class="tl">{{:ITEM01_DESC}}</td>
                                                <td class="tr">{{numb:ITEM02_DESC}}</td>
                                                <td class="tc">{{:ITEM03_DESC}}</td>
                                               </tr>
												{{/if}}
                                              {{/if}}
						 	                {{/for}}
						                    </script>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference09_noData_template">
						 	                <tr>	
						 	                	<td colspan=3>자료가 없습니다.</td>	
						 	                </tr>
						                    </script>
								            </tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- 미래 기업가치 시뮬레이션 -->
					<div class="company_wrap">
						<div class="company_left">
							<div class="com_left_checkP"><i class="icon_analysis2"></i>기업가치평가</div>
							<div class="com_left_tit">매출액증가율 가정</div>
							<div class="com_left_cont">
								(성장기) 직전년도 증가율 87.5%<br>
								(10년 이후) 업종 평균 증가율 21.9%
							</div>
							<div class="com_left_tit">순이익률 가정</div>
							<div class="com_left_cont">
								(성장기) 직전년도 순이익률 11.5%<br>
								(10년 이후) 업종 평균 순이익률 8%
							</div>
							<div class="com_left_cont mt45">
								※ 업종평균은 한국은행 통계<br>
								「2022년 기업 경영분석지표」를<br>
								참고하였습니다.
							</div>
						</div>
						<div class="company_cont">
							<div class="com_cont_tit">미래 기업가치 시뮬레이션</div>
							<div class="com_cont_stit">연도별 기업가치 계산 상세
								<div class="re_unit">(단원:원)</div>
							</div>
							<div class="com_tbl line col">
								<table>
									<caption></caption>
									<colgroup>
										<col style="width:16%;"/>
										<col style="width:10.5%;"/>
										<col style="width:10.5%;"/>
										<col style="width:10.5%;"/>
										<col style="width:10.5%;"/>
										<col style="width:10.5%;"/>
										<col style="width:10.5%;"/>
										<col style="width:10.5%;"/>
										<col style="width:10.5%;"/>
									</colgroup>
									<thead id="<@pageId>_getValueForStdYear">
									</thead>
						            <script type="text/x-jsrender" id="<@pageId>_getValueForStdYear_template">
						 	        {{for list}}
										<tr>
											<th class="tl">{{:ITEM_NAME}}</th>
											<th>{{:YEAR01}}년</th>
											<th>{{:YEAR02}}년</th>
											<th>{{:YEAR03}}년</th>
											<th>{{:YEAR04}}년</th>
											<th>{{:YEAR05}}년</th>
											<th>{{:YEAR06}}년</th>
											<th>{{:YEAR07}}년</th>
											<th>{{:YEAR08}}년</th>
										</tr>
						 	        {{/for}}
						            </script>
						            <script type="text/x-jsrender" id="<@pageId>_getValueForStdYear_noData_template">
						 	        <tr>	
						 	        	<td colspan=9>자료가 없습니다.</td>	
						 	        </tr>
						            </script>
									</thead>
						            <tbody id="<@pageId>_getValueForYear">
						            </tbody>
						            <script type="text/x-jsrender" id="<@pageId>_getValueForYear_template">
						 	        {{for list}}
                                       <tr {{if ITEM_NAME == '경과기간' || ITEM_NAME == '(대표이사 나이)'}}class="bg_skyblue"{{/if}}
											{{if ITEM_NAME == '1주당 주식가액' || ITEM_NAME == '기업가치' || ITEM_NAME == '기업가치 상승률'}}class="bg_gray"{{/if}}>
                                      	<td class="tl">{{if DEPTH == '1'}}&nbsp;{{/if}}{{if DEPTH == '2'}}&nbsp;&nbsp;{{/if}}{{if DEPTH == '3'}}&nbsp;&nbsp;&nbsp;{{/if}}{{:ITEM_NAME}}</td>
						 	        	<td {{if ITEM_NAME != '경과기간' && ITEM_NAME != '(대표이사 나이)'}}class="tr"{{/if}}>{{:YEAR01}}</td>
						 	        	<td {{if ITEM_NAME != '경과기간' && ITEM_NAME != '(대표이사 나이)'}}class="tr"{{/if}}>{{:YEAR02}}</td>
						 	        	<td {{if ITEM_NAME != '경과기간' && ITEM_NAME != '(대표이사 나이)'}}class="tr"{{/if}}>{{:YEAR03}}</td>
						 	        	<td {{if ITEM_NAME != '경과기간' && ITEM_NAME != '(대표이사 나이)'}}class="tr"{{/if}}>{{:YEAR04}}</td>
						 	        	<td {{if ITEM_NAME != '경과기간' && ITEM_NAME != '(대표이사 나이)'}}class="tr"{{/if}}>{{:YEAR05}}</td>
						 	        	<td {{if ITEM_NAME != '경과기간' && ITEM_NAME != '(대표이사 나이)'}}class="tr"{{/if}}>{{:YEAR06}}</td>
						 	        	<td {{if ITEM_NAME != '경과기간' && ITEM_NAME != '(대표이사 나이)'}}class="tr"{{/if}}>{{:YEAR07}}</td>
						 	        	<td {{if ITEM_NAME != '경과기간' && ITEM_NAME != '(대표이사 나이)'}}class="tr"{{/if}}>{{:YEAR08}}</td>
                                       </tr>
						 	        {{/for}}
						            </script>
						            <script type="text/x-jsrender" id="<@pageId>_getValueForYear_noData_template">
						 	        <tr>	
						 	        	<td colspan=9>자료가 없습니다.</td>	
						 	        </tr>
						            </script>
									</tbody>
								</table>
							</div>
							<div class="info_txt v2">
								주1) 최종 주식가액은 1)가중평균치에 따른 주식가치와 2)순자산가치의 80% 중 큰 금액으로 합니다.<br>
							    ※ 본 자료는 제한된 정보와 가정으로 작성되어 실제와 다를 수 있으므로, 참고 자료로만 사용하시기 바랍니다.</div>
						</div>
					</div>

					<!-- 배당 및 퇴직금 플랜 적용시 주식가치 절감 효과 -->
					<div class="company_wrap">
						<div class="company_left">
							<div class="com_left_checkP"><i class="icon_analysis2"></i>기업가치평가</div>
							<div class="com_left_tit">연간 배당금 가정</div>
							<div class="com_left_cont">
								매년2억원씩 중간배당으로<br>
								현금배당한다고 가정합니다.
							</div>
							<div class="com_left_tit">대표이사 퇴직금 가정</div>
							<div class="com_left_cont">
								임원퇴직소득보상플랜에 적용된<br>
								대표이사의 퇴직금 가정값을 적용합니다.
							</div>
						</div>
						<div class="company_cont">
							<div class="com_cont_tit">배당 및 퇴직금 플랜 적용시 주식가치 절감 효과</div>
							<div class="com_bottom_info">
								배당플랜 통해 매년 2억원씩 주주 배당을 꾸준히 실행하여 미처분이익잉여금 증가 속도를 조절하고,
								임원퇴직금 플랜을 통해 퇴직급여 5.3억원을 비용으로 인식한 결과 <strong>순손익가치와 순자산가치를 감소시켜 대표이사 퇴직시점 기존 예상 기업가치보다 25.6억원 낮추는 효과</strong>
								를 기대할 수 있습니다.
							</div>
							<div class="com_cont_stit">
								배당 및 퇴직금 플랜 적용 후 기업가치 변동 추이
								<div class="re_unit">(단원:원)</div>
							</div>
							<div class="com_tbl line col">
								<table>
									<caption></caption>
									<colgroup>
										<col style="width:28%;"/>
										<col style="width:12%;"/>
										<col style="width:12%;"/>
										<col style="width:12%;"/>
										<col style="width:12%;"/>
										<col style="width:12%;"/>
										<col style="width:12%;"/>
									</colgroup>
									<thead id="<@pageId>_getValueForStdReductionYear">
									</thead>
						            <script type="text/x-jsrender" id="<@pageId>_getValueForStdReductionYear_template">
						 	        {{for list}}
										<tr>
											<th class="tl">{{:ITEM_NAME}}</th>
											<th>{{:YEAR01}}년</th>
											<th>{{:YEAR02}}년</th>
											<th>{{:YEAR03}}년</th>
											<th>{{:YEAR04}}년</th>
											<th>{{:YEAR05}}년</th>
											<th>{{:YEAR06}}년</th>
										</tr>
						 	        {{/for}}
						            </script>
						            <script type="text/x-jsrender" id="<@pageId>_getValueForStdReductionYear_noData_template">
						 	        <tr>	
						 	        	<td colspan=7>자료가 없습니다.</td>	
						 	        </tr>
						            </script>
									</thead>
						            <tbody id="<@pageId>_getValueForReductionYear">
						            </tbody>
						            <script type="text/x-jsrender" id="<@pageId>_getValueForReductionYear_template">
						 	        {{for list}}
                                       <tr {{if ITEM_NAME == '경과기간'}}class="bg_skyblue"{{/if}}
											{{if ITEM_NAME == '플랜 적용 전 기업가치' || ITEM_NAME == '배당 플랜 적용 후 기업가치' || ITEM_NAME == '배당&퇴직금 플랜 적용 후 기업가치'}}class="bg_gray"{{/if}}>
                                      	<td {{if ITEM_NAME == '(-)연단 배당금' || ITEM_NAME == '(-)대표이사 퇴직금'}}class="tl pl25"{{else}}class="tl"{{/if}}>
												{{if DEPTH == '1'}}&nbsp;{{/if}}{{if DEPTH == '2'}}&nbsp;&nbsp;{{/if}}{{if DEPTH == '3'}}&nbsp;&nbsp;&nbsp;{{/if}}{{:ITEM_NAME}}</td>
						 	        	<td class="tr">{{:YEAR01}}</td>
                                        <td class="tr">{{:YEAR02}}</td>
                                        <td class="tr">{{:YEAR03}}</td>
                                        <td class="tr">{{:YEAR04}}</td>
                                        <td class="tr">{{:YEAR05}}</td>
                                        <td class="tr">{{:YEAR06}}</td>
                                       </tr>
						 	        {{/for}}
						            </script>
						            <script type="text/x-jsrender" id="<@pageId>_getValueForReductionYear_noData_template">
						 	        <tr>	
						 	        	<td colspan=9>자료가 없습니다.</td>	
						 	        </tr>
						            </script>
									</tbody>
								</table>
							</div>

							<div class="com_cont_stit">대표이사 예상 퇴직시점 주식가치 절감 효과</div>
							<div class="clearFix">
								<div class="col2_left02">
									<div class="com_info_blue">
										<ul>
											<li>
												<img src="../img/img_info03.png">
											</li>
											<li>
												<div class="info_tit">
													대표이사 퇴직시점<br>
													<strong>13년 후</strong>
												</div>
												<div class="info_cot mt35">
													<strong class="color_point"><span>25.6</span>억원 절감효과</strong>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="col2_right02">
									<ul class="com_plan_list">
										<li>
											<span>플랜 적용 전 기업가치</span>
											<div class="com-plan-bar active">
												<div class="data" data-width="100" style="width: 100%;">
													<div class="txtWrap">23892.9억원</div>
												</div>
											</div>
											<strong></strong>
											<!-- <em class="com_plan_down"></em> -->
										</li>
										<li>
											<span>배당 플랜 후 기업가치</span>
											<div class="com-plan-bar">
												<div class="data" data-width="99.8" style="width:99.8%;">
													<div class="txtWrap">23886.4억원</div>
												</div>
											</div>
											<strong></strong>
											<em class="com_plan_down">10%</em>
										</li>
										<li>
											<span>배당&퇴직금 플랜 후 기업가치</span>
											<div class="com-plan-bar">
												<div class="data" data-width="99.6" style="width:99.6%;">
													<div class="txtWrap">23867.3억원</div>
												</div>
											</div>
											<strong></strong>
											<em class="com_plan_down">5%</em>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<!-- 기업가치 상승에 따른 주식 이동 비용 예측 -->
					<div class="company_wrap">
						<div class="company_left">
							<div class="com_left_checkP"><i class="icon_analysis2"></i>기업가치평가</div>
							<div class="com_left_tit">주식 양도소득세 가정</div>
							<div class="com_left_cont">
								성년자녀 양도시 5% 할인(소득세법상 <br>
								특수관계 저가양수도)된 금액을 <br>
								양도가액으로 하고, 양도소득공제<br>
								250만원, 지방소득세 10%를 적용하여<br>
								계산했습니다.
							</div>
							<div class="com_left_tit">주식 증여세 가정</div>
							<div class="com_left_cont">
								성년자녀 증여공제 5천만원,<br>
								증여신고납부 세액공제 3%를 적용하여<br>
								계산했습니다.
							</div>
						</div>
						<div class="company_cont">
							<div class="com_cont_tit">기업가치 상승에 따른 주식 이동 비용 예측</div>
							<div class="com_bottom_info">
								<strong>기업의 가치가 상승함에 따라 주식 이동에 따른 세금 비용은 더욱 상승</strong>하게 됩니다. 향후 기업의 지배구조, 재무적 의사결정을 위해 지분 분산이 필요한 경우를 대비해야 합니다. 특히 가족기업일 경우에는 <strong>주식가치가 상승하기 전에 미리 지분이동을 검토</strong>하는 것이 바람직합니다.
							</div>
							<div class="com_cont_stit">
								주식 이동 시 세금 비교(성년자녀에게 10% 주식 이동 가정 시)
							</div>
							<div class="com_tbl line col">
								<table>
									<caption></caption>
									<colgroup>
										<col style="width:14%;"/>
										<col style="width:14%;"/>
										<col style="width:14%;"/>
										<col style="width:14%;"/>
										<col style="width:15%;"/>
										<col style="width:15%;"/>
										<col style="width:14%;"/>
									</colgroup>
									<thead>
										<tr>
											<th class="tl">평가년도</th>
											<th>대표자나이</th>
											<th>기업가치</th>
											<th>주당가격</th>
											<th>10% 지분가치</th>
											<th>양도소득세</th>
											<th>증여세</th>
										</tr>
									</thead>
									<tbody id="<@pageId>_getValueTaxYear">
						            </tbody>
						            <script type="text/x-jsrender" id="<@pageId>_getValueTaxYear_template">
						 	        {{for list}}
                                       <tr>
                                      	<td class="tl">{{:YEAR}}</td>
						 	        	<td class="tr">{{:REP_AGE}}</td>
                                        <td class="tr">{{:COMPANY_VALUATION}}</td>
                                        <td class="tr">{{:PRICE_STOCK}}</td>
                                        <td class="tr bg_gray">{{:VALUATION_TENPERCENT}}</td>
                                        <td class="tr">{{:CAPITAL_GAINS_TAX}}</td>
                                        <td class="tr">{{:GIFT_TAX}}</td>
                                       </tr>
						 	        {{/for}}
						            </script>
						            <script type="text/x-jsrender" id="<@pageId>_getValueTaxYear_noData_template">
						 	        <tr>	
						 	        	<td colspan=7>자료가 없습니다.</td>	
						 	        </tr>
						            </script>
									</tbody>
								</table>
							</div>
							<div class="com_cont_stit">주식 이동 시 양도소득세 및 증여세 예상 추이</div>
							<figure class="highcharts-figure2 mt45">
								<!-- 예제 이미지 -->
								<figure class="highcharts-figure2 mt45">
							    	<div class="chart8" id="<@pageId>_getValueTaxYear_chart" style="width:100%; height:360px;display:block;"></div>
								</figure>
								<!-- 아래 차트 넣기 -->
						    	<!-- <div class="lineBarChart01" style="width:100%;height:340px; margin:0 auto"></div> -->
							</figure>
						</div>
					</div>

					<!-- [참고] 비상장주식 양도 및 증여시 세금 -->
					<div class="company_wrap">
						<div class="company_left">
							<div class="com_left_checkP"><i class="icon_analysis2"></i>기업가치평가</div>
							<div class="com_left_tit">증권거래세</div>
							<div class="com_left_cont">
								비상장 주식양도시 양도금액에 대해<br>
								증권거래세 0.35%를 잊지 말고 납부해야<br>
								합니다.
							</div>
							<div class="com_left_tit">상장주식 양도시 세금</div>
							<div class="com_left_cont">
								상장주식의 경우 2025년부터 5,000만원<br>
								초과 양도차익에 대해 20~25%의<br>
								금융투자소득세가 부과됩니다.
							</div>
						</div>
						<div class="company_cont">
							<div class="com_cont_tit">[참고] 비상장주식 양도 및 증여시 세금</div>
							<div class="clearFix">
								<div class="col2">
									<div class="com_cont_stit">주식 양도소득 세율</div>
									<div class="com_tbl line col">
										<table>
											<caption></caption>
											<colgroup>
												<col style="width:34%;">
												<col style="width:33%;">
												<col style="width:33%;">
											</colgroup>
											<thead>
												<tr>
													<th colspan="2">비상장주식</th>
													<th>세율</th>
												</tr>
											</thead>											
						                    <tbody id="<@pageId>_getValuationReference01">
						                    </tbody>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference01_template">
						 	                {{for list}}
											  {{if GUBUN_NAME == '주식양도소득세율'}}
                                               <tr>
						 	                	<td class="tl">{{:ITEM01_DESC}}</td>
                                                <td class="tl">{{:ITEM02_DESC}}</td>
                                                <td class="bg_gray">{{:ITEM03_DESC*100}}%</td>
                                               </tr>
                                              {{/if}}
						 	                {{/for}}
						                    </script>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference01_noData_template">
						 	                <tr>	
						 	                	<td colspan=3>자료가 없습니다.</td>	
						 	                </tr>
						                    </script>
								            </tbody>
										</table>
									</div>
									<div class="info_txt v2">※ 주식양도소득공제 연 250만원(해외주식 합산)</div>
									<div class="info_txt v2">※ 양도소득세의 10%를 지방소득세로 별도 납부</div>
									<div class="info_txt v2">※ 비상장법인 소액주주가 K-OTC를 통해 양도하는 주식은 과세대상 제외</div>

									<div class="com_cont_stit">대주주구분</div>
									<div class="com_tbl line col">
										<table>
											<caption></caption>
											<colgroup>
												<col style="width:50%;">
												<col style="width:50%;">
											</colgroup>
											<thead>
												<tr>
													<th>비상장 주식</th>
													<th>구분조건</th>
												</tr>
											</thead>
						                    <tbody id="<@pageId>_getValuationReference03">
						                    </tbody>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference03_template">
						 	                {{for list}}
											  {{if GUBUN_NAME == '대주주구분'}}
                                               <tr>
						 	                	<td class="tl">{{:ITEM01_DESC}}</td>
                                                <td class="tr">{{:ITEM02_DESC}}</td>
                                               </tr>
                                              {{/if}}
						 	                {{/for}}
						                    </script>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference03_noData_template">
						 	                <tr>	
						 	                	<td colspan=2>자료가 없습니다.</td>	
						 	                </tr>
						                    </script>
								            </tbody>
										</table>
									</div>
									<div class="info_txt v2">주1) 언제라도 지분율 기준에 넘어가면 대주주에 해당</div>
									<div class="info_txt v2">주2) 양도일의 직전연도 말일 주식가치 평가기준</div>
								</div>
								<div class="col2">
									<div class="com_cont_stit">상속<strong>·</strong>증여세율</div>
									<div class="com_tbl line col">
										<table>
											<caption></caption>
											<colgroup>
												<col style="width:34%;">
												<col style="width:33%;">
												<col style="width:33%;">
											</colgroup>
											<thead>
												<tr>
													<th>과세표준</th>
													<th>세율</th>
													<th>누진공제액</th>
												</tr>
											</thead>											
						                    <tbody id="<@pageId>_getValuationReference02">
						                    </tbody>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference02_template">
						 	                {{for list}}
											  {{if GUBUN_NAME == '상속·증여세율'}}
                                               <tr>
						 	                	<td class="tl">{{:ITEM01_DESC}}</td>
                                                <td class="bg_gray">{{:ITEM02_DESC*100}}%</td>
                                                <td class="tr">{{:ITEM03_DESC}}</td>
                                               </tr>
                                              {{/if}}
						 	                {{/for}}
						                    </script>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference02_noData_template">
						 	                <tr>	
						 	                	<td colspan=3>자료가 없습니다.</td>	
						 	                </tr>
						                    </script>
								            </tbody>
										</table>
									</div>
									<div class="info_txt v2">※ 세대생략시(조부→손자) 30% 할증과세, 신고세액공제 3%</div>

									<div class="com_cont_stit mt43">증여재산공제액</div>
									<div class="com_tbl line col">
										<table>
											<caption></caption>
											<colgroup>
												<col style="width:50%;">
												<col style="width:50%;">
											</colgroup>
											<thead>
												<tr>
													<th>구분</th>
													<th>10년 단위 공제액</th>
												</tr>
											</thead>											
						                    <tbody id="<@pageId>_getValuationReference04">
						                    </tbody>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference04_template">
						 	                {{for list}}
											  {{if GUBUN_NAME == '증여재산공제액'}}
                                               <tr>
						 	                	<td class="tl">{{:ITEM01_DESC}}</td>
                                                <td class="tr">{{:ITEM02_DESC}}</td>
                                               </tr>
                                              {{/if}}
						 	                {{/for}}
						                    </script>
						                    <script type="text/x-jsrender" id="<@pageId>_getValuationReference04_noData_template">
						 	                <tr>	
						 	                	<td colspan=2>자료가 없습니다.</td>	
						 	                </tr>
						                    </script>
								            </tbody>
										</table>
									</div>
									<div class="info_txt v2">※ 수증자가 비거주자일 경우 공제 제외</div>
								</div>
							</div>
						</div>
					</div>

				</section>
			</div>
		</div>
