<!-- 
	- 사용 방법
	
	var parm = {
		 GRP_FILE_ID 	: [고유ID]
		,OWNER_CD 		: [사용Type ID]        						// => 공통 코드로 관리됨. GRP_CODE_ID = FILE_USE_TYPE
		,allowExt		: ["jpg", "jpeg", "png", "gif", "bmp"]		// => 사용 가능 확장자 설정 / 생략시 모두 허용
		,buttonName		: "이미지선택"								// => 나타나는 버튼 명 정의 / 생략시 파일선택이 기본으로 나타남 
	}
	
	
	
	C_COMP.import("importFilemng", "component_compFilemng",parm , function(fileId) {
		
	});
-->


<meta charset="utf-8">
<script type="text/javascript">
	var <@compId> = {
		 GRP_FILE_ID 	: ""
		,OWNER_CD 		: ""
		,allowExt		: []
		,filesArr		: []
		,init : function() {
			
			var parm = {
				 queryId 		: "Filemng.getGrpFileList"
				,requestParm	: {GRP_FILE_ID : "<@GRP_FILE_ID>"}
			}
			C_COM.requestQuery(parm, function(resultData) {
				if(isValid(resultData.data)) <@compId>.viewFileList(resultData.data)
			});
			
		 }
		,viewFileList : function(list) {
           let rparm = {
                targetId   : "<@compId>_fileList"
               ,list       : list
           }
           C_COM.renderHtml("<@compId>", rparm);
		 }
		,uploadMultiFile : function () {
	
		    // 폼데이터 담기
		    var form = document.querySelector("#<@compId>_form");
		    
		    var formData = new FormData(form);
		    
		    formData.append("GRP_FILE_ID"	, <@compId>.GRP_FILE_ID	);
		    formData.append("OWNER_CD"		, <@compId>.OWNER_CD	);
		    
		    for (var i = 0; i < <@compId>.filesArr.length; i++) {
	            formData.append("attach_file"	, <@compId>.filesArr[i]);
	            formData.append("FILE_IDS"		, C_COM.makeUniqueId());
		    }
	
		    $.ajax({
		    	url: '/multiFileUpload.do',
		        method: 'POST',
		        data: formData,
		        contentType: false,
		        processData: false,
		        success: function (response) {
		        	const msg = response.msg;
		        	<@compId>.init();
		        },
		        error: function (xhr, desc, err) {
		            alert('에러가 발생 하였습니다.');
		            return;
		        }
		    })
		 }
		/* 첨부파일 추가 */
		,addFile : function(obj){

		    var maxFileCnt = 5;   // 첨부파일 최대 개수
		    var attFileCnt = document.querySelectorAll('.filebox').length;    // 기존 추가된 첨부파일 개수
		    var remainFileCnt = maxFileCnt - attFileCnt;    // 추가로 첨부가능한 개수
		    var curFileCnt = obj.files.length;  // 현재 선택된 첨부파일 개수

		    // 첨부파일 개수 확인
		    if (curFileCnt > remainFileCnt) {
		        alert("첨부파일은 한번에 최대 " + maxFileCnt + "개 까지 첨부 가능합니다.");
		    }

		    for (var i = 0; i < Math.min(curFileCnt, remainFileCnt); i++) {

		        const file = obj.files[i];

		        // 첨부파일 검증
		        if (<@compId>.validation(file)) {
		            // 파일 배열에 담기
		            var reader = new FileReader();
		            reader.onload = function () {
		            	<@compId>.filesArr.push(file);
		            };
		            reader.readAsDataURL(file)
		            
		            
		            C_POP.confirm("선택한 파일을 업로드 하시겠습니까?", function() {
		            	<@compId>.uploadMultiFile();
		            })
		        } else {
		            continue;
		        }
		    }
		    // 초기화
		    $("#<@compId> input[type=file]").val("");
		}
		/* 첨부파일 검증 */
		,validation : function(obj){
		    const fileTypes = ['application/pdf', 'image/gif', 'image/jpeg', 'image/png', 'image/bmp', 'image/tif', 'application/haansofthwp', 'application/x-hwp'];
		    if (obj.name.length > 100) {
		        alert("파일명이 100자 이상인 파일은 제외되었습니다.");
		        return false;
		    } else if (obj.size > (20 * 1024 * 1024)) {
		        alert("최대 파일 용량인 20MB를 초과한 파일은 제외되었습니다.");
		        return false;
		    } else if (obj.name.lastIndexOf('.') == -1) {
		        alert("확장자가 없는 파일은 제외되었습니다.");
		        return false;
		    } else if (!fileTypes.includes(obj.type)) {
		        alert("첨부가 불가능한 파일은 제외되었습니다.");
		        return false;
		    } else {
		        return true;
		    }
		 }
		,selectFile : function() {
			$("#<@compId>_select").trigger("click");
		 }
	}
	// Component Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(parm) {
		if(isEmpty(parm.GRP_FILE_ID)) {
			alert('<@compId> 를 Import할때 GRP_FILE_ID가 필요 합니다.');
			return;
		}
		if(isEmpty(parm.OWNER_CD)) {
			alert('<@compId> 를 Import할때 OWNER_CD가 필요 합니다.');
			return;
		}
		<@compId>.GRP_FILE_ID 	= parm.GRP_FILE_ID	;
		<@compId>.OWNER_CD 		= parm.OWNER_CD		;
		
		<@compId>.init();
		
	});
</script>
<div>
	<h4>첨부파일</h4>
	<button type="button" class="stateBtn file" onclick="<@compId>.selectFile()"><span>파일선택</span></button>
	<form method="POST" id="<@compId>_form" onsubmit="return false;" enctype="multipart/form-data">
     	<input id="<@compId>_select" type="file" onchange="<@compId>.addFile(this);" tabindex="-1" multiple style="display:none"/>
    </form>
	<div class="approver_list_wrap person" style="max-height:80px">
		<ul class="approver_list col2" id="<@compId>_fileList">
		</ul>
		
		<script type="text/x-jsrender" id="<@compId>_fileList_template">  
		{{for list}}
			<li><span class="txt"><span>{{:ORG_FILE_NM}}</span> / <span>{{toKb:FILE_SIZE}}</span> Kb</span><button class="pay_close">닫기</button></li>
		{{/for}}
        </script>
		<script type="text/x-jsrender" id="<@compId>_fileList_noData_template">    
			<li><span class="txt"><span>첨부파일이 없습니다.</span></li>
		</script>
		
		
	</div>
</div>
