<meta charset="utf-8">
<script type="text/javascript">
    var <@compId> = {
         textEditor:'' 
        ,MyCustomUploadAdapterPlugin : function(editor) {
            editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
                return new UploadAdapter(loader)
            }
        }
        ,returnFn : function() {
            const editorData = <@compId>.textEditor.getData();
            C_COMP.callback("<@compId>", {editorData:editorData});
        }
        ,getContent : function() {
            const editorData = <@compId>.textEditor.getData();
            return editorData;
        }
        ,setContent : function(data) {
            <@compId>.textEditor.setData(data);
        }
        ,setMode : function(data) {
            if( data.mode == "R" ){
                //에디터 비활성화
                <@compId>.textEditor.enableReadOnlyMode( '#<@compId>_textEditor' );
            }else{
                //에디터 활성화
                <@compId>.textEditor.disableReadOnlyMode( '#<@compId>_textEditor' );
            }
        }
    }
    // Component Load가 완료된후 실행 된다.
    C_COMP.onLoadComp("<@compId>", function(data) {
		dalert('<@compId>');
        ClassicEditor.create( document.querySelector( '#<@compId>_textEditor' ), {
             extraPlugins: [<@compId>.MyCustomUploadAdapterPlugin]
            ,language: "ko"
        }).then( newEditor => {
             
            <@compId>.textEditor = newEditor;
            if( data.mode == "R" ){
                //에디터 비활성화
                <@compId>.textEditor.enableReadOnlyMode( '#<@compId>_textEditor' );
            }else{
                //에디터 활성화
                <@compId>.textEditor.disableReadOnlyMode( '#<@compId>_textEditor' );
            }
            
        }).catch( error => {
            console.log( error );
        });
         
   }); 
</script>
<div>
    <div id="<@compId>_textEditor"><@content></div>
     <!-- 
    <input type=button value=callback onclick="<@compId>.returnFn()"> <br/><br/>
     -->
</div>
