<meta charset="utf-8">
<script type="text/javascript">
var <@compId> = {
		 contractInfo	: {}
		,scheduleList	: []
		,iniLoadCheck	: false
		,loadInitScheduleList : function() {
			if(!<@compId>.iniLoadCheck) <@compId>.loadScheduleList();
		 }
		,loadScheduleList : function() {
			<@compId>.iniLoadCheck = true;
			let today = getDateFormat(getToday(), 8, "-");
			let nxtDay = getDateFormat(getDateByAddDayFromNow(30), 8, "-");

			var parm = {
				 userIdList  : [G_VAL.session.USER_ID]
			    ,contractId  : <@compId>.contractInfo.CONTRACT_ID
				,startDate 	 : today
				,endDate 	 : nxtDay
			}
			C_CALENDAR.getScheduleList(parm, function(resultList) {
				var rparm = {
					 targetId 		: "scheduleList"
					,list			: resultList
				}
				C_COM.renderHtml("<@compId>", rparm);
				
				<@compId>.scheduleList = resultList;
				
			});
		 }
        ,addSchedule: function() {
     		let today = getDateFormat(getToday(), 8, "-");
            let requestParm = {today : today};
            
            C_POP.open('popup_sched_addSchedulePopup', requestParm, function(obj) {
                <@compId>.loadScheduleList();
            })  
         }
        ,modifySchedule : function(index) {
        	let scheduleObj = <@compId>.scheduleList[index];
        	 
        	let today = getToday(8, '-');
        	 
            let parm = {
            	 scheduleId : scheduleObj.SCHEDULE_ID
            	,today		: today
            }
            C_POP.open('popup_sched_updateSchedulePopup', parm, function(obj) {
                if( obj.refresh == 'Y' ){
                    <@compId>.loadScheduleList();
                }
            });        	 
    	 }
		
	}
	// Component Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(data) {
		
		<@compId>.contractInfo =  data.contractInfo;

		if("<@preload>" != "N") {
			<@compId>.loadScheduleList();	
		}
		
	});
</script>
<component>
	<div class="cont_top clearFix">
		<h4 class="fl lh24">- Schedule</h4>
		<div class="fr inlineBlock_wrap">
			<a href="javascript:<@compId>.addSchedule()" class="btn small">등록</a>
		</div>
	</div>
	<div class="approver_list_wrap person mb15" style="height:calc(50% - 40px);">
		<ul class="approver_list" id="scheduleList">
		</ul>
		<script type="text/x-jsrender" id="scheduleList_template">
			{{for list}}
			<li onclick="<@compId>.modifySchedule({{:#index}})">
				<span class="txt"><span>{{:SCHEDULE_START_DATE}} {{:START_TIME_HOUR}}:{{:START_TIME_MINUTE}}</span><span>: {{:TITLE}}</span></span>
			</li>
			{{/for}}
		</script>
		<script type="text/x-jsrender" id="scheduleList_noData_template">	
			<li><span class="txt tc">등록된 내용이 없습니다.</span></li>
		</script>
	</div>
</component>
