<meta charset="utf-8">
<script type="text/javascript">
	var <@compId> = {
		 contractInfo : {}
		,cmmtList	  : []
		,cmmtMap	  : []
		,runLoop	  : false
		,loadCmmtList : function() {
			<@compId>.contractInfo.lastReadTime = undefined;
			var parm = {
				 queryId 		: "contract.getWorkCmmtList"
				,requestParm	: <@compId>.contractInfo
			}
			C_COM.requestQuery(parm, function(resultData) {
				let list = [];

				$.each(resultData.data, function() {
					let item = this;
					item.CMMT = escapeHtml(item.CMMT);
					item.CMMT = item.CMMT.replace(/(?:\r\n|\r|\n)/g, '<br>');
					if(item.DEL_YN == "N") {
						if(item.UPDATE_USER == G_VAL.session.USER_ID) {
							item.mngDisplay = "block"
						} else {
							item.mngDisplay = "none"
						}
						list.push(item);
					}
				});
				
				var rparm = {
					 targetId 		: "cmmtList"
					,list			: list
				}
				C_COM.renderHtml("<@compId>", rparm);
				$('#<@compId> #cmmtList').scrollTop($('#<@compId> #cmmtList')[0].scrollHeight);
				
				<@compId>.cmmtList	= list
				<@compId>.cmmtMap 	= arrayToMap(resultData.data, "WORK_CMMT_ID");
				
				C_COM.requestQuery({queryId : "common.getToday", requestParm : {} }, function(retData) {
					<@compId>.lastReadTime = retData.data[0].TODAY;
				});
				
				C_COM.requestQuery({queryId : "contract.updateLastReadTime", requestParm : <@compId>.contractInfo }, function(retData) {});
				
			});  
			 
		 }
		,registCmmt : function() {
			let parm = {
				 title1 : "메모 등록"	
				,title2 : "메모"
			}
			C_POP.open('popup_common_inputMultilinePopup', parm, function(retData) {
				if(isValid(retData.msg)) {
					// cmmt 등록
					<@compId>.registCmmtProcess(retData.msg, function() {
						<@compId>.loadCmmtList();
					});
				}
			});
		 }
		,addCmmt : function() {
			let cmmtContent = $("#<@compId> #cmmtContent").val()
			
			if(isEmpty(cmmtContent)) {
				C_POP.alert('메모를 입력해주세요.');
				return;
			}

			let bts = getByteLength(cmmtContent)
			
			if(bts > 3700) {
				C_POP.alert(`입력한 메모가 4,000Bytes(한글 2,000자, 또는 영문 4,000자)를 초과 하였습니다.( 입력한 메모 : ${addComma(bts + 300)}bytes )\n \n메모를 4,000bytes 이내로 입력 해주세요.\n\n입력한 메모 중 4,000bytes를 넘는 내용은 삭제 되었습니다.`);
				let substr = getSubStringByByte(cmmtContent, 3700);
				$("#<@compId> #cmmtContent").val(substr);
				return;
			}
			
			if(isEmpty(cmmtContent)) {
				C_POP.alert('메모를 입력해주세요.');
				return;
			} else {
				<@compId>.registCmmtProcess(cmmtContent);
				$("#<@compId> #cmmtContent").val("")
			}
		 }
		,registCmmtProcess : function(cmmt, callback) {
			
			let cmmtId = C_COM.makeUniqueId();
			let parm = {
				 queryId 		: "contract.registWorkCmmt"
				,requestParm	: {
					 WORK_CMMT_ID	: cmmtId
					,CONTRACT_ID 	: '<@contractInfo.CONTRACT_ID>'
					,CMMT			: cmmt
				 }
				,noLoadingBar	: "Y"
			}
			C_COM.requestQuery(parm, function(resultData) {
				if(typeof callback == "function") callback();
			});  
			
		 }
		,deleteCmmt : function(WORK_CMMT_ID) {
			let cmmtInfo = <@compId>.cmmtMap[WORK_CMMT_ID];
			
			C_POP.confirm(`'${cmmtInfo.CMMT}' 항목을 삭제 하시겠습니까?`, function() {
				let parm = {
					 queryId 		: "contract.deleteWorkCmmt"
					,requestParm	: {WORK_CMMT_ID : WORK_CMMT_ID}
				}
				C_COM.requestQuery(parm, function(resultData) {
					$(`#<@compId> #li_${WORK_CMMT_ID}`).hide();
				});  
			});
			
		 }
		,modifyCmmt : function(WORK_CMMT_ID) {
			let cmmtInfo = <@compId>.cmmtMap[WORK_CMMT_ID];

			C_POP.open('popup_common_inputMultilinePopup', { title1 : "메모 수정", title2 : "메모", msg : cmmtInfo.CMMT }, function(retData) {
				
				if(isEmpty(retData.msg)) return;
				
				var parm = {
					 queryId 		: "contract.updateWorkCmmt"
					,requestParm	: { 
						  WORK_CMMT_ID	: WORK_CMMT_ID
						 ,CMMT			: retData.srcmsg
					}
				}
				C_COM.requestQuery(parm, function(resultData) {
					if(resultData.state == "S") {
						$(`#<@compId> #li_${WORK_CMMT_ID} .txt`).html(retData.msg);
						<@compId>.cmmtMap[WORK_CMMT_ID].CMMT = retData.msg;
					} else if(resultData.state == "E") {
						C_POP.alert('메모 수정 실패하였습니다.');
					}
				});
			});
		 }
		,loadCmmtLoop : function() {
			
			if(!<@compId>.runLoop) {
				let templateId = C_COM.getCurrentTemplateId();
				if(in_array(templateId, ["popup_common_inputMultilinePopup","popup_sched_addSchedulePopup","popup_common_inputOnelinePopup"])) {
					setTimeout(<@compId>.loadCmmtLoop, 1500);
					return;
				}
				if("<@parentId>" == templateId && isEmpty("<@inputDisplay>")) {
					setTimeout(<@compId>.loadCmmtLoop, 1500);
				} else {
					return;
				}
			}
			
			var parm = {
				 queryId 		: "contract.getWorkCmmtList"
				,requestParm	: <@compId>.contractInfo
				,noLoadingBar	: "Y"
			}
			parm.requestParm.lastReadTime = <@compId>.lastReadTime;
			C_COM.requestQuery(parm, function(resultData) {
				if(resultData.data.length > 0 ) {
					let list = [];
					
					$.each(resultData.data, function() {
						let item = this;
						item.CMMT = escapeHtml(item.CMMT);
						item.CMMT = item.CMMT.replace(/(?:\r\n|\r|\n)/g, '<br>');
						item.CMMT = convertUrlsToLinks(item.CMMT);
						
						if(item.DEL_YN == "Y") {
							$(`#<@compId> #li_${item.WORK_CMMT_ID}`).hide();
						} else {
							// 수정/신규 확인
							if(isValid(<@compId>.cmmtMap[item.WORK_CMMT_ID])) {
								// 수정
								$(`#<@compId> #li_${item.WORK_CMMT_ID} .txt`).html(item.CMMT);
							} else {
								if(item.UPDATE_USER == G_VAL.session.USER_ID) {
									item.mngDisplay = "block"
								} else {
									item.mngDisplay = "none"
								}
								// 신규
								<@compId>.cmmtMap[item.WORK_CMMT_ID] = item
								list.push(item);
							}
						}
						
					});
					if(list.length > 0) {
						var rparm = {
							 targetId 		: "cmmtList"
							,list			: list
						}
						if(<@compId>.cmmtList.length > 0) {
							rparm.append = "Y"
						}
						C_COM.renderHtml("<@compId>", rparm);
						$('#<@compId> #cmmtList').scrollTop($('#<@compId> #cmmtList')[0].scrollHeight);
						<@compId>.cmmtList = <@compId>.cmmtList.concat(list);
					} 

					C_COM.requestQuery({queryId : "common.getToday", requestParm : {} }, function(retData) {
						<@compId>.lastReadTime = retData.data[0].TODAY;
					});
					
					C_COM.requestQuery({queryId : "contract.updateLastReadTime", requestParm : <@compId>.contractInfo }, function(retData) {});
				}
			});  
		 }
	}
	// Component Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(data) {
		
		<@compId>.contractInfo =  data.contractInfo;
		
		if("<@preload>" != "N") {
			<@compId>.loadCmmtList();

			setTimeout(<@compId>.loadCmmtLoop, 1000);
		}
	
	});
</script>
<component>
<!-- 
	<div class="cont_top clearFix">
		<h4 class="fl lh24">- 메모하기</h4>
		<div class="fr inlineBlock_wrap">
			<a href="javascript:<@compId>.registCmmt()" class="btn small">등록</a>
		</div>
	</div>
	<div class="approver_list_wrap person mb15" style="min-height:<@minHeight>">
		<ul class="approver_list" id="cmmtList">
		</ul>
		<script type="text/x-jsrender" id="cmmtList_template">
			{{for list}}
			<li><span class="txt"><span>{{:UPDATE_DATE}} </span><span>: {{:CMMT}}</span></span><button class="pay_close" onclick="<@compId>.deleteCmmt({{:#index}})">닫기</button></li>
			{{/for}}
		</script>
		<script type="text/x-jsrender" id="cmmtList_noData_template">	
			<li><span class="txt tc">등록된 내용이 없습니다.</span></li>
		</script>
		
	</div>
 -->
	
	<!-- memo 하기 -->
	<div class="cont_top clearFix">
		<h4 class="fl lh24">- 메모하기</h4>
		<div class="fr inlineBlock_wrap" style="<@topBtnDisplay>">
			<a href="javascript:<@compId>.registCmmt()" class="btn small">등록</a>
		</div>
	</div>
	<ul class="share_msg" id="cmmtList" style="<@scrollStyle>">
	</ul>
	<script type="text/x-jsrender" id="cmmtList_template">
	{{for list}}
		<li id="li_{{:WORK_CMMT_ID}}"><span class="time">{{:UPDATE_DATE}}</span> <strong>{{:USER_NM}}</strong> <span class="txt">{{:CMMT}}</span> <div class="fr" style="display:{{:mngDisplay}}"><button onclick="<@compId>.modifyCmmt('{{:WORK_CMMT_ID}}')"><i class="icon_pen"></i></button><button onclick="<@compId>.deleteCmmt('{{:WORK_CMMT_ID}}')"><i class="icon_trash"></i></button></div></li>
	{{/for}}
	</script>
	<script type="text/x-jsrender" id="cmmtList_noData_template">	
		<li class="tc"><span class="txt">메모가 없습니다.</span></li>
	</script>
	<div class="comment clearFix mt10" style="<@inputDisplay>">
		<strong class="fl lh33">메모</strong>
		<!--
		<input class="fl" type="text" id="cmmtContent" style="width:calc(100% - 120px)" onEnter="<@compId>.addCmmt()">
		 -->
		<textarea class="fl" name="cmmtContent" id="cmmtContent" cols="40" rows="12" style="width:calc(100% - 110px);"></textarea>
		
		<button class="btn fl" onclick="<@compId>.addCmmt()">등록</button>
	</div>
	
</component>
