<meta charset="utf-8">
<script type="text/javascript">
	var <@compId> = {
		 contractInfo : {}
		,loadConsultingContentList : function() {
			var parm = {
				 queryId 		: "contract.getConsultingContentList"
				,requestParm	: <@compId>.contractInfo
			}
			C_COM.requestQuery(parm, function(resultData) {
				if(isValid(resultData.data)) {
					let content = resultData.data[0].CONSULTING_DESC;
					if(isEmpty(content)) content = "";
					content = content.replaceAll("\n", "<br/>");
					$("#<@compId> #consultingContent").html(content);
				}
			});  
		 }
		,openFolderMng : function() {
			let contractInfo = <@compId>.contractInfo;
			
			//C_MENU.moveMenu("MN_DSH_FOLDER", {projectInfo : projectInfo});
			
			let parm = {
				 size 			: "MAX"
				,BASE_FOLDER_ID	: contractInfo.BASE_FOLDER_ID 
				,TOP_FOLDER_ID	: contractInfo.BASE_FOLDER_ID 
				,BUYER_ID		: contractInfo.BUYER_ID
			}
			C_POP.open('popup_biz_folderMngPopup', parm, function(retData) {
				
			});
		 }
		
	}
	// Component Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(data) {
		
		if(data.hideFolderButton == "Y") {
			$("#<@compId> #folderButton").hide();
		}
		
		<@compId>.contractInfo =  data.contractInfo;
		
		if("<@preload>" != "N") {
			<@compId>.loadConsultingContentList();	
		}
	
	});
</script>
<div>
	<div class="cont_top clearFix">
		<h4 class="fl lh24">- 컨설팅 프로세스</h4>
		<div class="fr inlineBlock_wrap">
			<button id="folderButton" class="btn small" onclick="<@compId>.openFolderMng()">기업폴더보기</button>
		</div>
				
	</div>
	<div class="approver_list_wrap person mb15">
		<ul class="approver_list" id="consultingContentList" style="max-height:125px;">
			<li><span class="txt"><span id="consultingContent">
			</span></span></li>
		</ul>
	</div>
</div>