<meta charset="utf-8">
<script type="text/javascript">
	var <@compId> = {
		 contractInfo : {}
		,cmmtList	  : []
		,runLoop	  : false
		,loadCmmtList : function() {
			<@compId>.contractInfo.lastReadTime = undefined;
			var parm = {
				 queryId 		: "contract.getWorkCmmtList"
				,requestParm	: <@compId>.contractInfo
			}
			C_COM.requestQuery(parm, function(resultData) {
				var rparm = {
					 targetId 		: "cmmtList"
					,list			: resultData.data
				}
				C_COM.renderHtml("<@compId>", rparm);
				$('#<@compId> #cmmtList').scrollTop($('#<@compId> #cmmtList')[0].scrollHeight);
				
				<@compId>.cmmtList = resultData.data

				<@compId>.lastReadTime = getToday();
			});  
			 
		 }
		,registCmmt : function() {
			let parm = {
				 title1 : "메모 등록"	
				,title2 : "메모"
			}
			C_POP.open('popup_common_inputOnelinePopup', parm, function(retData) {
				if(isValid(retData.msg)) {
					// cmmt 등록
					<@compId>.registCmmtProcess(retData.msg, function() {
						<@compId>.loadCmmtList();
					});
				}
			});
		 }
		,addCmmt : function() {
			let cmmt = $("#<@compId> #cmmtContent").val()
			if(isEmpty(cmmt)) {
				C_POP.alert('메모를 입력해주세요.');
				return;
			} else {
				<@compId>.registCmmtProcess(cmmt);
				$("#<@compId> #cmmtContent").val("")
			}
		 }
		,registCmmtProcess : function(cmmt, callback) {
			let parm = {
				 queryId 		: "contract.registWorkCmmt"
				,requestParm	: {
					 WORK_CMMT_ID	: C_COM.makeUniqueId()
					,CONTRACT_ID 	: '<@contractInfo.CONTRACT_ID>'
					,CMMT			: cmmt
					,updateDate		: getToday()
				 }
				,noLoadingBar	: "Y"
			}
			C_COM.requestQuery(parm, function(resultData) {
				if(typeof callback == "function") callback();
			});  
			
		 }
		,deleteCmmt : function(WORK_CMMT_ID) {
			let cmmtInfo = <@compId>.cmmtList[idx];
			
			C_POP.confirm(`'${cmmtInfo.CMMT}' 항목을 삭제 하시겠습니까?`, function() {
				let parm = {
					 queryId 		: "contract.deleteWorkCmmt"
					,requestParm	: {WORK_CMMT_ID : WORK_CMMT_ID}
				}
				C_COM.requestQuery(parm, function(resultData) {
					<@compId>.loadCmmtList();
				});  
			});
			
		 }
		,loadCmmtLoop : function() {
			
			if(!<@compId>.runLoop) {
				let templateId = C_COM.getCurrentTemplateId();
				if("<@parentId>" == templateId && isEmpty("<@inputDisplay>")) {
					setTimeout(<@compId>.loadCmmtLoop, 1500);
				} else {
					return;
				}
			}
			
			var parm = {
				 queryId 		: "contract.getWorkCmmtList"
				,requestParm	: <@compId>.contractInfo
				,noLoadingBar	: "Y"
			}
			parm.requestParm.lastReadTime = <@compId>.lastReadTime;
			C_COM.requestQuery(parm, function(resultData) {
				if(resultData.data.length > 0 ) {
					
					var rparm = {
						 targetId 		: "cmmtList"
						,list			: resultData.data
					}
					if(<@compId>.cmmtList.length > 0) {
						rparm.append = "Y"
					}
					C_COM.renderHtml("<@compId>", rparm);
					$('#<@compId> #cmmtList').scrollTop($('#<@compId> #cmmtList')[0].scrollHeight);
					
					<@compId>.lastReadTime = getToday();
					<@compId>.cmmtList = <@compId>.cmmtList.concat(resultData.data);
				}
			});  
		 }
	}
	// Component Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(data) {
		
		<@compId>.contractInfo =  data.contractInfo;
		
		if("<@preload>" != "N") {
			<@compId>.loadCmmtList();

			setTimeout(<@compId>.loadCmmtLoop, 1000);
		}
	
	});
</script>
<component>
<!-- 
	<div class="cont_top clearFix">
		<h4 class="fl lh24">- 메모하기</h4>
		<div class="fr inlineBlock_wrap">
			<a href="javascript:<@compId>.registCmmt()" class="btn small">등록</a>
		</div>
	</div>
	<div class="approver_list_wrap person mb15" style="min-height:<@minHeight>">
		<ul class="approver_list" id="cmmtList">
		</ul>
		<script type="text/x-jsrender" id="cmmtList_template">
			{{for list}}
			<li><span class="txt"><span>{{:UPDATE_DATE}} </span><span>: {{:CMMT}}</span></span><button class="pay_close" onclick="<@compId>.deleteCmmt({{:#index}})">닫기</button></li>
			{{/for}}
		</script>
		<script type="text/x-jsrender" id="cmmtList_noData_template">	
			<li><span class="txt tc">등록된 내용이 없습니다.</span></li>
		</script>
		
	</div>
 -->
	
	<!-- memo 하기 -->
	<div class="cont_top clearFix">
		<h4 class="fl lh24">- 메모하기</h4>
		<div class="fr inlineBlock_wrap" style="<@topBtnDisplay>">
			<a href="javascript:<@compId>.registCmmt()" class="btn small">등록</a>
		</div>
	</div>
	<ul class="share_msg" id="cmmtList" style="<@scrollStyle>">
	</ul>
	<script type="text/x-jsrender" id="cmmtList_template">
	{{for list}}
		<li><span class="time">{{:UPDATE_DATE}}</span> <strong>{{:USER_NM}}</strong> <span class="txt">{{:CMMT}}</span> <div class="fr"><button><i class="icon_pen"></i></button><button onclick="<@compId>.deleteCmmt('{{:WORK_CMMT_ID}}')"><i class="icon_trash"></i></button></div></li>
	{{/for}}
	</script>
	<script type="text/x-jsrender" id="cmmtList_noData_template">	
		<li class="tc"><span class="txt">메모가 없습니다.</span></li>
	</script>
	<div class="comment clearFix mt10" style="<@inputDisplay>">
		<strong class="fl lh33">메모</strong>
		<input class="fl" type="text" id="cmmtContent" style="width:calc(100% - 120px)" onEnter="<@compId>.addCmmt()">
		<button class="btn fl" onclick="<@compId>.addCmmt()">등록</button>
	</div>
	
</component>
