<meta charset="utf-8">
<script type="text/javascript">
var <@compId> = {
		 contractInfo : {}
		,scheduleList	  : []
		,loadScheduleList : function() {
			let today = getDateFormat(getToday(), 8, "-");
			let nxtDay = getDateFormat(getDateByAddDayFromNow(30), 8, "-");
			
			var parm = {
				 userIdList  : [G_VAL.session.USER_ID]
			    ,contractId  : <@compId>.contractInfo.CONTRACT_ID
				,startDate 	 : today
				,endDate 	 : nxtDay
			}
			
			C_CALENDAR.getScheduleList(parm, function(resultList) {
				dwrite(resultList);
				var rparm = {
					 targetId 		: "scheduleList"
					,list			: resultList
				}
				C_COM.renderHtml("<@compId>", rparm);
				
				<@compId>.scheduleList = resultData.data
			});
		  }
         ,addSchedule: function() {
     		let today = getDateFormat(getToday(), 8, "-");
            let requestParm = {today : today};
            
            C_POP.open('popup_sched_addSchedulePopup', requestParm, function(obj) {
                <@compId>.loadScheduleList();
            })  
          }
		
	}
	// Component Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(data) {
		
		<@compId>.contractInfo =  data.contractInfo;

		<@compId>.loadScheduleList();
	});
</script>
<div>
	<div class="cont_top clearFix">
		<h4 class="fl lh24">- Schedule</h4>
		<div class="fr inlineBlock_wrap">
			<a href="javascript:<@compId>.addSchedule()" class="btn small">등록</a>
		</div>
	</div>
	<div class="approver_list_wrap person mb15">
		<ul class="approver_list" id="scheduleList">
		</ul>
		<script type="text/x-jsrender" id="scheduleList_template">
			{{for list}}
			<li>
				<span class="txt"><span>{{:START_DATETIME}} </span><span>: {{:TITLE}}</span></span><button class="pay_close">닫기</button>
			</li>
			{{/for}}
		</script>
		<script type="text/x-jsrender" id="scheduleList_noData_template">	
			<li><span class="txt tc">등록된 내용이 없습니다.</span></li>
		</script>
	</div>
</div>
