<meta charset="utf-8">
<script type="text/javascript">
	var <@compId> = {

	}
	// Component Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(data) {
		
	});
</script>
<div>
	<div class="cont_top clearFix">
		<h4 class="fl lh24">- Schedule</h4>
		<div class="fr inlineBlock_wrap">
			<a href="" class="btn small">등록</a>
		</div>
	</div>
	<div class="approver_list_wrap person mb15">
		<ul class="approver_list">
			<li><span class="txt"><span>02-07 11:00 </span><span>: 2차 고객 면담</span></span><button class="pay_close">닫기</button></li>
			<li><span class="txt"><span>02-04 14:23 </span><span>: 3차 고객 면담</span></span><button class="pay_close">닫기</button></li>
			<li><span class="txt"><span>02-04 14:23 </span><span>: 3차 고객 면담</span></span><button class="pay_close">닫기</button></li>
			<li><span class="txt"><span>02-04 14:23 </span><span>: 3차 고객 면담</span></span><button class="pay_close">닫기</button></li>
		</ul>
	</div>
</div>
