<meta charset="utf-8">
<script type="text/javascript">
    var <@compId> = {
              searchedRows : [] // 페이지
             ,selectProduct : ''
             ,searchDate : ''
             ,pageInit : () => {
            	 
            	 let today  = getToday(8, '-');
                 //$("#<@compId>_startDate").val(today);
                 <@compId>.searchDate = today;
             }
             ,brandIdSet : (brandId) => {
                 
                 <@compId>.BRAND_ID = brandId;
                 
                 // 권역
                 var regionList = C_COM.getBrandCodeList( brandId , "STORE_REGION");                
                 var selectBoxRegionList = { 
                      defaultItem    : ["ALL", "선택"] 
                     ,data : regionList
                     ,targetId : "<@compId>_selectBoxRegion" 
                 }
                 C_UICOM.makeSelectBox(selectBoxRegionList, "single");
                 <@compId>.region = "ALL";
                 
                 C_UICOM.addChangeListener("<@compId>_selectBoxRegion", function(dataObj) {
                     <@compId>.region = dataObj;
                     <@compId>.getSelectStore();
                 });
                 
                 // 매장
                 <@compId>.getSelectStore();
                 
                 // 슈퍼바이저
                 var supervisorList = C_COM.getBrandCodeList( brandId , "SUPERVISOR");
                 
                 var selectBoxSupervisorList = {

                      defaultItem    : ["ALL", "선택"]
                     ,data : supervisorList
                     ,targetId : "<@compId>_selectBoxSupervisor" 
                 }
                 C_UICOM.makeSelectBox(selectBoxSupervisorList, "single");
                 <@compId>.supervisor = "ALL";
                 
                 C_UICOM.addChangeListener("<@compId>_selectBoxSupervisor", function(dataObj) {
                     <@compId>.supervisor = dataObj;
                 });
                 
                 <@compId>.getSelectProduct();
                 
             }


             ,getSelectProduct : () => {
                 
                 let requestParm = {};
                 requestParm["brandId"]  = <@compId>.BRAND_ID ;
                 var parm1 = {
                         queryId  : "dashboardCorPerformance.getProductList"
                        ,requestParm   : requestParm
                 }

                 C_COM.requestQuery(parm1, function(resultData) {
                	 
                     const DATA = resultData.data.map( item => [ item.PRODUCT_CD, item.PRODUCT_NM ]);
                     var selectBoxProductList = {
                             data : DATA
                            ,targetId : "<@compId>_selectBoxProduct" 
                     } 
                     C_UICOM.makeSelectBox(selectBoxProductList, "multi");
                     
                     
                 });
                 C_UICOM.addChangeListener("<@compId>_selectBoxProduct", function(dataObj) {
                     <@compId>.selectProduct = dataObj;
                 });
             }
             ,getSelectStore : () => {

                 let requestParm = {};
                 requestParm["spCstmId"] = G_VAL.session.spCstmId ;
                 requestParm["brandId"]  = <@compId>.BRAND_ID ;
                 requestParm["region"]   = <@compId>.region ;
                 
                 var parm1 = {
                         queryId  : "dashboardCorPerformance.getStore"
                        ,requestParm   : requestParm
                 }
                 
                 C_COM.requestQuery(parm1, function(resultData) {
                     
                     const DATA = resultData.data.map( item => [ item.CODE_ID, item.CODE_NM ]);
                     
                     var selectBoxStoreList = {
                             defaultItem    : ["ALL", "선택"]
                            ,data : DATA
                            ,targetId : "<@compId>_selectBoxStore" 
                     }
                     
                     C_UICOM.makeSelectBox(selectBoxStoreList, "single");
                 });
                 
                 C_UICOM.addChangeListener("<@compId>_selectBoxStore", function(dataObj) {
                     <@compId>.store = dataObj;
                 });
             }
            ,searchList : () => {
            	
            	//var startDate   = <@compId>.searchDate;//C_UICOM.getData("<@compId>_startDate");
                var region      = C_UICOM.getData("<@compId>_selectBoxRegion");
                var storeId     = C_UICOM.getData("<@compId>_selectBoxStore");
                //var productCd   = C_UICOM.getData("<@compId>_selectBoxProduct");
                var productList = C_UICOM.getData("<@compId>_selectBoxProduct");
                var brandId     = <@parentId>.getParentBrandId();
                
                //const [year, month, day] = startDate.split('-');

                if(brandId == undefined){
                    C_POP.alert("브랜드가 없습니다.");
                    return;
                }
                
                if( "ALL" == storeId ){
                    //C_POP.alert("지점을 선택해 주세요.");
                    //return;
                }
                
                if (typeof productList === "undefined") {
                    C_POP.alert("상품을 선택해 주세요.");
                    return;
                }
                
                
                let requestParm = {};
                requestParm["brandId"]      = brandId;
                requestParm["storeId"]      = storeId;
                //requestParm["startDate"]    = startDate;
                requestParm["region"]       = region;
                requestParm["productList"]  = productList;
                //requestParm["year"]         = year;
                //requestParm["month"]        = month;
                //requestParm["day"]          = day;
                
                const listRange = C_UICOM.getData("<@compId>_pagingChunk");

                var parm = {
                        queryId  : "dashboardCorPerformance.getInventoryManage"
                       ,requestParm   : requestParm
                }
       
                C_COM.requestQuery(parm, function(resultData) {
                    //<@compId>.setTotal12(resultData);
                    
                    var rparm = {
                         targetId       : "<@compId>_tableId" 
                        ,list           : resultData.data
                        ,listRange      : 10         // 리스트 범위
                        ,pageRange      : 5         // Page 범위
                        ,pagingDomId    : "<@compId>_pageDiv" // Page가 표시되는 Dom Id
                        ,totalCntDomId  : "<@compId>_totalCnt"
                        ,onPageClickCallback : function(pageInfo) {
                         }
                    }
                    C_PAGING.renderHtml("<@compId>", rparm);
                });
            }
            ,setHandler : () => {

                $("#<@compId>_pagingChunk"  ).off().on('change',() =><@compId>.searchList(""));
                
                $("#<@compId>_searchBtn").click( () =>{
                    <@compId>.searchList();
                })            
                
            }
    }
    // Component Load가 완료된후 실행 된다.
    C_COMP.onLoadComp("<@compId>", function(data) {
        <@compId>.pageInit();
        <@compId>.setHandler();
        $("#<@compId>_startDate").datepicker({
            onSelect: function(dateString) {
                <@compId>.searchDate = dateString;
            }
        });
    });
</script>
<div class="container">
    <div class="cont_wrap lnb_none">
        <div class="sec_scroll">
            <section class="sec_wrap">
                <div class="cont_box">
                    <!-- search area -->
                    <div class="search_area">
                        <div class="calendar_wrap">
			                <span class="tit01 fl lh33">권역</span>
			                <!-- 권역 선택 -->
			                <div class="select_box fl" style="width:100px">
			                    <div id="<@compId>_selectBoxRegion" style="width:100px"></div>
			                </div>
			                <!-- 매장명 선택 -->
			                <div class="select_box fl" style="width:170px">
			                    <div id="<@compId>_selectBoxStore" style="width:170px"></div>
			                </div>   
			                <span class="tit01 fl lh33">상품</span>
                            <div class="select_box fl" style="width:200px">
                                <div id="<@compId>_selectBoxProduct" style="width:200px"></div>
                            </div>
                            <div class="select_box fl" style="width:132px">
                                <button type="button" class="btn select fl" id="<@compId>_searchBtn">조회</button>
                            </div>
                        </div>
                        <div class="search_right">
                            <strong class="total">Total: <span class="pointColr" id="<@compId>_totalCnt"></span></strong>
                            <div id="<@compId>_pagingChunk" style="margin-left: 5px;width:130px"></div>
                            
                        </div>
                    </div>
                    <!-- 테이블 -->
                    <div class="tbl01 col">
                        <table>
                            <caption>표 캡션</caption>
                            <colgroup>
                                <col style="width:50px;"/>
                                <col style="width:15%;"/>
                                <col style="width:*"/>
                                <col style="width:15%;"/>
                                <col style="width:15%;"/>
                                <col style="width:15%;"/>
                                <col style="width:15%;"/>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">Num</th>
                                    <th scope="col">지점명</th>
                                    <th scope="col">재고물품</th>
                                    <th scope="col">입고량</th>
                                    <th scope="col">출고량</th>
                                    <th scope="col">적정재고량</th>
                                    <th scope="col">현재재고량</th>
                                    <th scope="col">재고율</th>
                                    <th scope="col">재고상태</th>
                                </tr>
                            </thead>
                            <tbody id="<@compId>_tableId">
                            </tbody>
                            <script type="text/x-jsrender" id="<@compId>_tableId_template">    
                                {{for list}}
                                    <tr id="trId_{{:#index}}" name="<@compId>_tr_{{:#index}}" '>
                                        <td>{{:ROWNUM}}</td>
                                        <td>{{:STORE_NM}}</td>
                                        <td>{{:PRODUCT_NM}}</td>
                                        <td>{{:IN_QUANTITY}}</td>
                                        <td>{{:OUT_QUANTITY}}</td>
                                        <td>{{:AVG_QUANTITY}}</td>
                                        <td>{{:SUM_QUANTITY}}</td>
                                        <td>{{:RATE}}</td>
                                        <td>{{:EVALUATION}}</td>
                                    </tr>
                                {{/for}}
                            </script>
                            <script type="text/x-jsrender" id="<@compId>_tableId_noData_template">    
                               <tr>    
                                   <td colspan=9>자료가 없습니다.</td>    
                               </tr>
                            </script>
                        </table>
                    </div>
                    <!-- paging -->
                    <div class="paging" id="<@compId>_pageDiv">
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
