<meta charset="utf-8">
<script type="text/javascript">
	


    var <@compId> = {
             searchedRows : [] // 페이지
            ,region : ''
            ,mapData : ''
            ,supervisor : ''
            ,pageInit : () => {

                var now = new Date();   // 현재 날짜 및 시간
                var thisYear = now.getFullYear();   // 연도
                
                var startDate = new Date();
                startDate.setFullYear(startDate.getFullYear() - 5);// 현재년도의 과거 5년
                var startYear = startDate.getFullYear();   // 연도
                
                const yearsArray = Array.from({ length: 6 }, (_, index) => {
                      const year = startYear + index;
                      return [year.toString(), year + "년"];
                });
                const monthsArray = Array.from({ length: 12 }, (_, index) => {
                    const months = ("0"+(1 + index) ).slice(-2);
                    return [months.toString(), months + "월"];
                });
                
                var startYearsArrayList = { data : yearsArray,targetId : "<@compId>_startYears"}
                C_UICOM.makeSelectBox(startYearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_startYears", dayjs().year());
                
                var startMonthsArrayList = { data : monthsArray,targetId : "<@compId>_startMonths"}
                C_UICOM.makeSelectBox(startMonthsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_startMonths", ("0"+(dayjs().month() + 1) ).slice(-2));
                
                var endYearsArrayList = { data : yearsArray,targetId : "<@compId>_endYears"}
                C_UICOM.makeSelectBox(endYearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_endYears", dayjs().year());
                
                var endMonthsArrayList = { data : monthsArray,targetId : "<@compId>_endMonths"}
                C_UICOM.makeSelectBox(endMonthsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_endMonths", ("0"+(dayjs().month() + 1) ).slice(-2));
                
                // 권역
                var regionList = C_COM.getCodeList("STORE_REGION");
                
                var selectBoxRegionList = { 
                     defaultItem    : ["ALL", "전체"] 
                    ,data : regionList
                    ,targetId : "<@compId>_selectBoxRegion" 
                }
                C_UICOM.makeSelectBox(selectBoxRegionList, "single");
                <@compId>.region = "ALL";
                
                C_UICOM.addChangeListener("<@compId>_selectBoxRegion", function(dataObj) {
                    <@compId>.region = dataObj;
                });
                
                // 슈퍼바이저
                var supervisorList = C_COM.getCodeList("SUPERVISOR");
                
                var selectBoxSupervisorList = {

                     defaultItem    : ["ALL", "전체"]
                    ,data : supervisorList
                    ,targetId : "<@compId>_selectBoxSupervisor" 
                }
                C_UICOM.makeSelectBox(selectBoxSupervisorList, "single");
                <@compId>.supervisor = "ALL";
                
                C_UICOM.addChangeListener("<@compId>_selectBoxSupervisor", function(dataObj) {
                    <@compId>.supervisor = dataObj;
                });
                
                _setSearchListCnt("<@compId>_pagingChunk" );
                
            }
            /* 가맹점 리스트    가맹점 리스트    가맹점 리스트    가맹점 리스트    가맹점 리스트    가맹점 리스트    가맹점 리스트    */
            ,searchList : ( startDate, endDate, brandId ) => {
                
                if( Number(startDate.replace(/-/gi,"")) > Number(endDate.replace(/-/gi,"")) ){
                    C_POP.alert("시작일이 종료일보다 클 수 없습니다.");
                    $("#<@compId>_startYears").focus();
                    return false;
                }
                
                var region     = C_UICOM.getData("<@compId>_selectBoxRegion");
                var supervisor = C_UICOM.getData("<@compId>_selectBoxSupervisor");
                
                let requestParm = {};
                requestParm["brandId"]    = brandId;
                requestParm["spCstmId"]   = G_VAL.session.spCstmId ;
                requestParm["dateStart"]  = startDate;
                requestParm["dateEnd"]    = endDate;
                requestParm["region"]     = region;
                requestParm["supervisor"] = supervisor;
                
                const listRange = C_UICOM.getData("<@compId>_pagingChunk");
                
                // 페이징 처리 초기화
                C_PAGING.create({
                     pageId             : "<@compId>"
                    ,listDomId          : "<@compId>_tableId"
                    ,pagingDomId        : "<@compId>_pageDiv"
                    ,totalCntDomId      : "<@compId>_totalCnt"
                    ,queryId            : "dashboardCorPerformance.getStorePage"
                    ,listRange          : Number(listRange)
                    ,pageRange          : 10
                    // <@pageId>.setSearchParm function에서 반환하는 json object값을 Query Parameter로 사용한다.
                    ,parmFn             : function() {
                        let parm = requestParm
                        return  parm;
                     }
                    // 페이지를 클릭 했을때 처리가 필요하면 아래에 정의 함
                    ,onPageClickCallback: function(data) {

                     }
                    // 검색해온 List를 수정한다.
                    ,makeListFn         : function(list) {
                        //<@pageId>.searchedRows = list; 
                     }
                });
                
            }/* 가맹점 리스트    가맹점 리스트    가맹점 리스트    가맹점 리스트    가맹점 리스트    가맹점 리스트    가맹점 리스트    */
            
            /* 신규,폐점가맹점    신규,폐점가맹점    신규,폐점가맹점    신규,폐점가맹점    신규,폐점가맹점    신규,폐점가맹점    신규,폐점가맹점    */
            ,searchList1 : ( startDate, endDate, brandId ) => {
                
                let requestParm = {};   
                requestParm["brandId"]     = brandId;         
                requestParm["startDate"]   = startDate+"-01";
                requestParm["endDate"]     = endDate+"-01";           
                requestParm["region"]      = <@compId>.region ;
                requestParm["supervisor"]  = <@compId>.supervisor ;
                requestParm["spCstmId"]    = G_VAL.session.spCstmId ;
                
                var parm = {
                     serviceId              : "DashboardService.getOpenCloseCnt"
                    ,requestParm            : requestParm
                }
                C_COM.requestService(parm, function(resultData) {
                    <@compId>.setChart1( resultData );
                });
                
                
            }//searchList1

            ,setChart1 : (resultData) =>{

                let ymdArry = [];
                let openArry = [];
                let closeArry = [];
                let allArry = [];
                
                var j = 0;
                for (var i=0; i< resultData.data.list.length; i++){                        
                    ymdArry[i] = resultData.data.list[i].YYYYMM.replace('-', '.');
                    openArry[i] = parseInt(resultData.data.list[i].OPEN);
                    closeArry[i] = parseInt(resultData.data.list[i].CLOSE);
                    allArry[i] = parseInt(resultData.data.list[i].ALL);
                }
                
                $('#<@compId>_chart1').highcharts({

                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: '',
                        align: 'left'
                    },
                    colors: ['#27187F', '#F29423','#66ff00', '#0099ff'],
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        categories: ymdArry
                    },
                    yAxis: [
                        { // Primary yAxis
                            labels: {
                                format: '',
                                style: {
                                    color: Highcharts.getOptions().colors[0]
                                }
                            },
                            title: {
                                text: '',
                                style: {
                                    color: Highcharts.getOptions().colors[0]
                                }
                            }
                        },
                        { // Secondary yAxis
                            title: {
                                text: '',
                                style: {
                                    color: Highcharts.getOptions().colors[0]
                                }
                            },
                            labels: {
                                format: '',
                                style: {
                                    color: Highcharts.getOptions().colors[0]
                                }
                            },
                            opposite: true
                        }
                    ],
                    tooltip: {
                        shared: true
                    },
                    series: [
                        {
                            name: '신규가맹점',
                            type: 'column',
                            yAxis: 1,
                            data: openArry
                        }, 
                        {
                            name: '폐점가맹점',
                            type: 'column',
                            yAxis: 1,
                            data: closeArry
                        }, 
                        {
                            name: '가맹점수',
                            type: 'spline',
                            data: allArry
                        }
                    ]
                });
            }//setChart1
            /* 신규,폐점가맹점    신규,폐점가맹점    신규,폐점가맹점    신규,폐점가맹점    신규,폐점가맹점    신규,폐점가맹점    신규,폐점가맹점    */
            
            /* 지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    */
            ,searchList2 : ( startDate, endDate, brandId ) => {
                                
                let requestParm = {};
                requestParm["brandId"]     = brandId;            
                requestParm["startDate"]   = startDate+"-01";
                requestParm["endDate"]     = endDate+"-01";           
                requestParm["region"]      = <@compId>.region ;
                requestParm["supervisor"]  = <@compId>.supervisor ;
                requestParm["spCstmId"]    = G_VAL.session.spCstmId ;
                
                let parm = {
                     queryId        : "dashboardCorPerformance.getRegionCnt"
                    ,requestParm    : requestParm
                }
                C_COM.requestQuery(parm, function(resultData) {
                    
                    <@compId>.setChart2( resultData );
                });
                
                
            }//searchList1

            ,setChart2 : (resultData) =>{

                let regionNm = [];
                let cnt      = [];

                for(var i =0; i < resultData.data.length; i++){
                    regionNm[i] = resultData.data[i].REGION_NM;
                    cnt[i]      = resultData.data[i].CNT;
                }
                
                $('#<@compId>_chart2').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: '',
                        align: 'left'
                    },
                    subtitle: {
                        text:
                            '',
                        align: 'left'
                    },
                    xAxis: {
                        categories: regionNm,
                        crosshair: true,
                        accessibility: {
                            description: ''
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: ''
                        }
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [
                        {
                            name: '',
                            data: cnt
                        }
                    ]
                });
            }//setChart2
            /* 지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    지도챠트    */
            
            /* 사인보드    사인보드    사인보드    사인보드    사인보드    사인보드    사인보드    사인보드    사인보드    사인보드    사인보드    */
            ,searchList3 : ( startDate, endDate, brandId ) => {
                                
                let requestParm = {};
                requestParm["brandId"]     = brandId;            
                requestParm["startDate"]   = startDate+"-01";
                requestParm["endDate"]     = endDate+"-01";           
                requestParm["region"]      = <@compId>.region ;
                requestParm["supervisor"]  = <@compId>.supervisor ;
                requestParm["spCstmId"]    = G_VAL.session.spCstmId ;

                let parm = {
                     queryId        : "dashboardCorPerformance.getOpenCloseCntSummary"
                    ,requestParm    : requestParm
                }
                C_COM.requestQuery(parm, function(resultData) {
                    
                	<@compId>.setSummary( resultData );
                });
                
                
                
            }//searchList1

            ,setSummary : (resultData) =>{
            	
                
                for(var i =0; i < resultData.data.length; i++){
                    
                    $('#<@compId>_franchiseCnt').text(resultData.data[i].ALL_CNT);
                    $('#<@compId>_openCnt').text(resultData.data[i].OPEN_CNT);
                    $('#<@compId>_closeCnt').text(resultData.data[i].CLOSE_CNT);
                }
                
                
            }//setSummary
            /* 사인보드    사인보드    사인보드    사인보드    사인보드    사인보드    사인보드    사인보드    사인보드    사인보드    사인보드    */
            
            
            ,setHandler : () => {
                
                $("#<@compId>_pagingChunk"  ).off().on('change',() =><@compId>.searchList(""));
                
                $("#<@compId>_searchBtn").click( () =>{

                    let startYear   = C_UICOM.getData("<@compId>_startYears");
                    let startMonth  = C_UICOM.getData('<@compId>_startMonths');

                    let endYear     = C_UICOM.getData('<@compId>_endYears');
                    let endMonth    = C_UICOM.getData('<@compId>_endMonths');
                    
                    if ( startYear.length < 1) {
                        C_POP.alert("조회 시작년을 선택해 주세요.");
                        $("#<@compId>_startYears").focus();
                        return false;
                    }
                    if ( startMonth.length < 1) {
                        C_POP.alert("조회 시작월을 선택해 주세요.");
                        $("#<@compId>startMonth").focus();
                        return false;
                    }

                    if ( endYear.length < 1) {
                        C_POP.alert("조회 종료년을 선택해 주세요.");
                        $("#<@compId>_startYears").focus();
                        return false;
                    }
                    if ( endMonth.length < 1) {
                        C_POP.alert("조회 종료월을 선택해 주세요.");
                        $("#<@compId>startMonth").focus();
                        return false;
                    }

                    let startDate = startYear + '-' + startMonth;
                    let endDate   = endYear + '-' + endMonth;
                    var brandId = <@parentId>.getParentBrandId();

                    if(brandId == undefined){
                        C_POP.alert("브랜드가 없습니다.");
                        return;
                    }
                    
                    <@compId>.searchList(  startDate, endDate, brandId );
                    <@compId>.searchList1( startDate, endDate, brandId );
                    <@compId>.searchList2( startDate, endDate, brandId );
                    <@compId>.searchList3( startDate, endDate, brandId );
                })
            }
    }
    // Component Load가 완료된후 실행 된다.
    C_COMP.onLoadComp("<@compId>", function(data) {
        
        <@compId>.pageInit();
        <@compId>.setHandler();
    });
</script>

<div>
<!--// 가맹점 리스트 및 현황 -->
    <!-- search area -->
    <div class="search_area plpr5">
        <div class="fl">
            <!-- 시작년월 선택 -->
            <div class="select_box fl" style="width:100px">
                <div id="<@compId>_startYears" style="width:100px"></div>
            </div>
            <div class="select_box fl" style="width:100px">
                <div id="<@compId>_startMonths" style="width:100px"></div>
            </div>
            <div class="calendar_wrap fl">
                <label for="to">~</label>
            </div>
            <!-- 종료년월 선택 -->
            <div class="select_box fl" style="width:100px">
                <div id="<@compId>_endYears" style="width:100px"></div>
            </div>
            <div class="select_box fl" style="width:100px">
                <div id="<@compId>_endMonths" style="width:100px"></div>
            </div>
            <span class="tit01 fl lh33">권역</span>
            <!-- 권역 선택 -->
            <div class="select_box fl" style="width:150px">
                <div id="<@compId>_selectBoxRegion" style="width:132px"></div>
            </div>   
            <span class="tit01 fl lh33">슈퍼바이저</span>
            <!-- 슈퍼바이저 선택 -->
            <div class="select_box fl" style="width:132px">
                 <div id="<@compId>_selectBoxSupervisor" style="width:132px"></div>
            </div>
            <button type="button" class="btn select fl" id="<@compId>_searchBtn">조회</button>
        </div>
    </div>

    <section class="sec_wrap pd0">
        <div class="left_65">
            <section class="sec_wrap">
                <div class="cont_box">
                    <div class="price_wrap">
                        <div class="won_wrap">
                            <h3>가맹점수</h3>
                            <div class="percent_wrap" id="<@compId>_franchiseCnt"></div>
                        </div>
                        <div class="won_wrap">
                            <h3>신규가맹점</h3>
                            <div class="percent_wrap" id="<@compId>_openCnt"></div>
                        </div>
                        <div class="won_wrap">
                            <h3>폐점가맹점</h3>
                            <div class="percent_wrap" id="<@compId>_closeCnt"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec_wrap">
                <div class="cont_box">
                    <figure class="highcharts-figure2">
                        <div class="chart02_01" id="<@compId>_chart1" style="width:100%;height:313px;margin:0 auto">
                        </div>
                    </figure>
                </div>
            </section>
        </div>
        <div class="right_35">
            <section class="sec_wrap">
                <div class="cont_box pd0">
                    <figure class="highcharts-figure2">
                        <div class="chart02_02" id="<@compId>_chart2" style="width:100%;height:510px;margin:0 auto;border-radius:5px;">
                        </div>
                    </figure>
                </div>
            </section>
        </div>
    </section>

    <section class="sec_wrap">
        <div class="cont_box">
            <h3>가맹점 리스트</h3>
            <!-- 테이블 -->
            <div class="tbl01 col noScroll mt15">
                <table>
                    <caption>표 캡션</caption>
                    <colgroup>
                        <col style="width:50px;"/>
                        <col style="width:16%;"/>
                        <col style="width:14%;" span="2" />
                        <col style="*"/>
                        <col style="width:14%;"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">Num</th>
                            <th scope="col" class="tl">매장명</th>
                            <th scope="col" class="tl">개업일</th>
                            <th scope="col" class="tl">폐점일</th>
                            <th scope="col" class="tl">주소</th>
                            <th scope="col" class="tl">가맹점주명</th>
                        </tr>
                    </thead>
                    <tbody id="<@compId>_tableId">
                    </tbody>
                    <script type="text/x-jsrender" id="<@compId>_tableId_template">    
                        {{for list}}
                            <tr id="trId_{{:#index}}" name="<@compId>_tr_{{:#index}}" '>
                                <td class="tl">{{:#index + 1}}</td>
                                <td class="tl">{{:STORE_NM3}}</td>
                                <td class="tl">{{:OPENING_DAY}}</td>
                                <td class="tl">{{:CLOSING_DATE}}</td>
                                <td class="tl">{{:ADDRESS}}</td>
                                <td class="tl">{{:STORE_MANAGER_NM}}</td>
                            </tr>
                        {{/for}}
                    </script>
                    <script type="text/x-jsrender" id="<@compId>_tableId_noData_template">    
                       <tr>    
                           <td colspan=6>자료가 없습니다.</td>    
                       </tr>
                    </script>
                </table>
            </div>   
            <!-- paging -->
            <div class="paging" id="<@compId>_pageDiv">
            </div>
        </div>
    </section>
    <!-- 가맹점 리스트 및 현황 //-->
</div>

