<meta charset="utf-8">
<script type="text/javascript">
    var <@compId> = {
             searchedRows : [] // 페이지
            ,selectGroup1 : 'ALL'
            ,selectGroup2 : 'ALL'
            ,pageInit : () => {

                const yearsArray = Array.from({ length: 6 }, (_, index) => {
                      const year = 2020 + index;
                      return [year.toString(), year + "년"];
                });
                var yearsArrayList = { data : yearsArray,targetId : "<@compId>_selectBoxYear"}
                C_UICOM.makeSelectBox(yearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_selectBoxYear", dayjs().year());
                
                var startYearsArrayList = { data : yearsArray,targetId : "<@compId>_selectStartBoxYear"}
                C_UICOM.makeSelectBox(startYearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_selectStartBoxYear", dayjs().year());
                
                /*
                var endYearsArrayList = { data : yearsArray,targetId : "<@compId>_selectEndBoxYear"}
                C_UICOM.makeSelectBox(endYearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_selectEndBoxYear", dayjs().year());
                */
                
                // 월
                /*
                var monthList = C_COM.getCodeList("STORE_MONTH");
                
                var selectBoxMonthList = { 
                     data : monthList
                    ,targetId : "<@compId>_selectBoxMonth" 
                }
                C_UICOM.makeSelectBox(selectBoxMonthList, "single");
                
                var selectStartBoxMonthList = { 
                     data : monthList
                    ,targetId : "<@compId>_selectStartBoxMonth" 
                }
                C_UICOM.makeSelectBox(selectStartBoxMonthList, "single");
                */
                
                /*
                var selectEndBoxMontht = { 
                     data : monthList
                    ,targetId : "<@compId>_selectEndBoxMonth" 
                }
                C_UICOM.makeSelectBox(selectEndBoxMontht, "single");
                */ 
                <@compId>.getSelectMenu();
                
                // 권역
                var regionList = C_COM.getCodeList("STORE_REGION");
                //dalert(regionList);
                var selectBoxRegionList = { 
                     defaultItem    : ["ALL", "전체"] 
                    ,data : regionList
                    ,targetId : "<@compId>_selectBoxRegion" 
                }
                C_UICOM.makeSelectBox(selectBoxRegionList, "single");
                <@compId>.region = "ALL";
                
                C_UICOM.addChangeListener("<@compId>_selectBoxRegion", function(dataObj) {
                    console.log("_selectBoxRegion  =>"+dataObj);
                    <@compId>.region = dataObj;
                    <@compId>.getSelectStore();
                });
                
                // 대분류
                var menuGroup1List = C_COM.getCodeList("STORE_MENU_GROUP1");
                //dalert(regionList);
                var selectBoxMenuGroup1List = { 
                     defaultItem    : ["ALL", "대분류"] 
                    ,data : menuGroup1List
                    ,targetId : "<@compId>_selectGroup1" 
                }
                C_UICOM.makeSelectBox(selectBoxMenuGroup1List, "single");
                
                C_UICOM.addChangeListener("<@compId>_selectGroup1", function(dataObj) {
                    console.log("_selectGroup1  =>"+dataObj);
                    <@compId>.selectGroup1 = dataObj;
                    <@compId>.getSelectMenu();
                });

                // 분류명
                var menuGroup2List = C_COM.getCodeList("STORE_MENU_GROUP2");
                //dalert(regionList);
                var selectBoxMenuGroup2List = { 
                     defaultItem    : ["ALL", "분류명"] 
                    ,data : menuGroup2List
                    ,targetId : "<@compId>_selectGroup2" 
                }
                C_UICOM.makeSelectBox(selectBoxMenuGroup2List, "single");
                
                C_UICOM.addChangeListener("<@compId>_selectGroup2", function(dataObj) {
                    console.log("_selectGroup2  =>"+dataObj);
                    <@compId>.selectGroup2 = dataObj;
                    <@compId>.getSelectMenu();
                });
                
                // 메뉴명
                <@compId>.getSelectMenu();
                
                // 매장
                <@compId>.getSelectStore();
                
                // 슈퍼바이저
                var supervisorList = C_COM.getCodeList("SUPERVISOR");
                
                var selectBoxSupervisorList = {

                     defaultItem    : ["ALL", "전체"]
                    ,data : supervisorList
                    ,targetId : "<@compId>_selectBoxSupervisor" 
                }
                C_UICOM.makeSelectBox(selectBoxSupervisorList, "single");
                <@compId>.supervisor = "ALL";
                
                C_UICOM.addChangeListener("<@compId>_selectBoxSupervisor", function(dataObj) {
                    console.log("_selectBoxSupervisor  =>"+dataObj);
                    <@compId>.supervisor = dataObj;
                });
                
            }

            ,getSelectMenu : () => {
                
                console.log("getSelectMenu 1" );
                
                let requestParm = {};
                requestParm["group1"] = <@compId>.selectGroup1 ;
                requestParm["group2"] = <@compId>.selectGroup2 ;
                
                console.log("getSelectMenu 2" );
                var parm1 = {
                        queryId  : "dashboardCorPerformance.getMenuList"
                       ,requestParm   : requestParm
                }

                console.log("getSelectMenu 3" );
                
                C_COM.requestQuery(parm1, function(resultData) {
                    
                    const DATA = resultData.data.map( item => [ item.MENU_ID, item.MENU_NM ]);
                    
                    var selectBoxMenuList = {
                            defaultItem    : ["ALL", "전체"]
                           ,data : DATA
                           ,targetId : "<@compId>_selectBoxMenu" 
                    }
                    
                    C_UICOM.makeSelectBox(selectBoxMenuList, "single");
                });

                console.log("getSelectMenu 4" );
                
                C_UICOM.addChangeListener("<@compId>_selectBoxMenu", function(dataObj) {
                    //<@compId>.select = dataObj;
                });
            }
            
            ,getSelectStore : () => {
                
                console.log("getSelectStore =>"+<@compId>.region );
                
                let requestParm = {};
                requestParm["spCstmId"] = G_VAL.session.spCstmId ;
                requestParm["region"] = <@compId>.region ;
                
                console.log("=== region ===>"+<@compId>.region);
                
                var parm1 = {
                        queryId  : "dashboardCorPerformance.getStore"
                       ,requestParm   : requestParm
                }
                
                C_COM.requestQuery(parm1, function(resultData) {
                    
                    const DATA = resultData.data.map( item => [ item.CODE_ID, item.CODE_NM ]);
                    
                    var selectBoxStoreList = {
                            defaultItem    : ["ALL", "전체"]
                           ,data : DATA
                           ,targetId : "<@compId>_selectBoxStore" 
                    }
                    
                    C_UICOM.makeSelectBox(selectBoxStoreList, "single");
                });
                
                C_UICOM.addChangeListener("<@compId>_selectBoxStore", function(dataObj) {
                    <@compId>.store = dataObj;
                });
            }
            /*============= 매출 비교 그래프    매출 비교 그래프    매출 비교 그래프    매출 비교 그래프    매출 비교 그래프    =============*/
            ,searchList1 : () => {
            	console.log(" searchList1");
            	<@compId>.setChart1();
            }

            ,setChart1 : () => {
                console.log(" setChart1");
            }
            /*############# 매출 비교 그래프    매출 비교 그래프    매출 비교 그래프    매출 비교 그래프    매출 비교 그래프    #############*/
            
            /*============= 분류명별 매출액    분류명별 매출액    분류명별 매출액    분류명별 매출액    분류명별 매출액    =============*/
            ,searchList2 : () => {
                console.log(" searchList2");
                <@compId>.setChart2();
            }

            ,setChart2 : () => {
                console.log(" setChart2");
            }
            /*############# 분류명별 매출액    분류명별 매출액    분류명별 매출액    분류명별 매출액    분류명별 매출액    #############*/
            
            /*============= 상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    =============*/
            ,searchList3 : () => {
                console.log(" searchList3");
                <@compId>.setChart3();
            }

            ,setChart3 : () => {
                console.log(" setChart3");
            }
            /*############# 상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    #############*/
            
            /*============= 마진비교           마진비교          마진비교           마진비교           마진비교           =============*/
            ,searchList4 : () => {
                console.log(" searchList4");
                <@compId>.setChart4();
            }

            ,setChart4 : () => {
                console.log(" setChart4");
            }
            /*############# 마진비교           마진비교          마진비교           마진비교           마진비교           #############*/
            
            /*============= 상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트     =============*/
            ,searchList5 : () => {
                console.log(" searchList5");
                <@compId>.setChart5();
            }

            ,setChart5 : () => {
                console.log(" setChart5");
            }
            /*============= 상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트     =============*/
            
            /*============= 상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    =============*/
            ,searchList6 : () => {
                console.log(" searchList6");
                <@compId>.setChart6();
            }

            ,setChart6 : () => {
                console.log(" setChart6");
            }
            /*============= 상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    =============*/
            
            
            ,setHandler : () => {

                $("#<@compId>_searchBtn").click( () =>{
                    console.log(" search 클릭");
                    <@compId>.searchList1();//매출 비교
                    <@compId>.searchList2();//분류명별 매출액
                    <@compId>.searchList3();//상세메뉴 매출액
                    <@compId>.searchList4();//마진비교
                    <@compId>.searchList5();//상세메뉴 코스트
                    <@compId>.searchList6();//상세메뉴 마진금액
                })            
                
            } 

    }
    // Component Load가 완료된후 실행 된다.
    C_COMP.onLoadComp("<@compId>", function(data) {
        <@compId>.pageInit();
        <@compId>.setHandler();
    });
</script>

<div>
        <!--// 매장별 매출 분석 -->
        <!-- search area -->
        <div class="search_area plpr5">
        <div class="fl">
            <div class="select_box fl" style="width:132px">
                <div id="<@compId>_selectBoxYear" style="width:132px"></div>
            </div>
            <!--
            <div class="select_box fl" style="width:132px">
                <div id="<@compId>_selectBoxMonth" style="width:132px"></div>
            </div>
             -->
            <!-- 대분류 선택 -->
            <div class="select_box fl" style="width:130px">
                <div id="<@compId>_selectGroup1" style="width:130px"></div>
            </div>
            <!-- 분류명 선택 -->
            <div class="select_box fl" style="width:150px">
                <div id="<@compId>_selectGroup2" style="width:150px"></div>
            </div>
            
            <span class="tit01 fl lh33">메뉴명</span>
            <!-- 대분류 선택 -->
            <div class="select_box fl" style="width:200px">
                <div id="<@compId>_selectBoxMenu" style="width:200px"></div>
            </div>
            
            <span class="tit01 fl lh33">권역</span>
            <!-- 권역 선택 -->
            <div class="select_box fl" style="width:100px">
                <div id="<@compId>_selectBoxRegion" style="width:100px"></div>
            </div>
            <!-- 매장명 선택 -->
            <div class="select_box fl" style="width:170px">
                <div id="<@compId>_selectBoxStore" style="width:170px"></div>
            </div>   
            <span class="tit01 fl lh33">슈퍼바이저</span>
            <!-- 슈퍼바이저 선택 -->
            <div class="select_box fl" style="width:132px">
                 <div id="<@compId>_selectBoxSupervisor" style="width:132px"></div>
            </div>
            <button type="button" class="btn select fl" id="<@compId>_searchBtn">조회</button>
        </div>
    </div>

        <section class="sec_wrap">
            <div class="cont_box">
                <h3>매출 비교 그래프</h3>
                <figure class="highcharts-figure2">
                    <div class="chart02_01" style="width:100%;height:280px;margin:0 auto">
                        <!-- 임시 차트 이미지 -->
                        <img src="../img/img_chart_list11.png" style="width:100%;height:280px;">
                    </div>
                </figure>
            </div>
        </section>

        <section class="sec_wrap">
            <div class="cont_box col2">
                <h3>분류명별 매출액</h3>
                <div class="clearFix">
                    <figure class="highcharts-figure2 fl mt20" style="width:45%">
                        <div class="chart02_01" style="width:100%;height:210px;margin:0 auto">
                            <!-- 임시 차트 이미지 -->
                            <img src="../img/img_chart_list13.png" style="width:100%;height:210px;">
                        </div>
                    </figure>
                    <div class="fl ml15" style="width:calc(55% - 15px)">
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:50px;"/>
                                    <col style="*"/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="tl">분류명</th>
                                        <th scope="col" class="tr">총매출액</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tl">1.</td>
                                        <td class="tl">세트메뉴(뉴코)</td>
                                        <td class="tr">1,289,903,400</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">2.</td>
                                        <td class="tl">대실료(뉴코)</td>
                                        <td class="tr">1,260,302,500</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">3.</td>
                                        <td class="tl">주류(뉴코)</td>
                                        <td class="tr">1,076,028,400</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">4.</td>
                                        <td class="tl">스페셜안주(뉴코)</td>
                                        <td class="tr">304,678,400</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">5.</td>
                                        <td class="tl">튀김안주(뉴코)</td>
                                        <td class="tr">228,636,600</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="tl">총 합계</td>
                                        <td class="tr">5,062,829,100</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- paging -->
                        <div class="paging small">
                            <a href="#none" class="btn_pg_first disabled">첫번째 페이지</a>
                            <a href="#none" class="btn_pg_prev disabled">이전 페이지</a>
                            <strong title="현재 페이지">1</strong>
                            <a href="#none">2</a>
                            <a href="#none">3</a>
                            <a href="#none">4</a>
                            <a href="#none">5</a>
                            <a href="#none" class="btn_pg_next">다음 페이지</a>
                            <a href="#none" class="btn_pg_last">마지막 페이지</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont_box col2">
                <h3>상세 메뉴 매출액</h3>
                <div class="clearFix">
                    <figure class="highcharts-figure2 fl mt20" style="width:45%">
                        <div class="chart02_01" style="width:100%;height:210px;margin:0 auto">
                            <!-- 임시 차트 이미지 -->
                            <img src="../img/img_chart_list14.png" style="width:100%;height:210px;">
                        </div>
                    </figure>
                    <div class="fl ml15" style="width:calc(55% - 15px)">
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:50px;"/>
                                    <col style="*"/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="tl">메뉴명</th>
                                        <th scope="col" class="tr">총매출액</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tl">1.</td>
                                        <td class="tl">NEWCO 4~5인코스</td>
                                        <td class="tr">401,600,700</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">2.</td>
                                        <td class="tl">참이슬</td>
                                        <td class="tr">294,450,500</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">3.</td>
                                        <td class="tl">NEWCO 2인코스</td>
                                        <td class="tr">266,896,600</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">4.</td>
                                        <td class="tl">스페셜모듬과일</td>
                                        <td class="tr">257,513,500</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">5.</td>
                                        <td class="tl">카스(500ml)</td>
                                        <td class="tr">184,583,500</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="tl">총 합계</td>
                                        <td class="tr">3,877,889,100</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- paging -->
                        <div class="paging small">
                            <a href="#none" class="btn_pg_first disabled">첫번째 페이지</a>
                            <a href="#none" class="btn_pg_prev disabled">이전 페이지</a>
                            <strong title="현재 페이지">1</strong>
                            <a href="#none">2</a>
                            <a href="#none">3</a>
                            <a href="#none">4</a>
                            <a href="#none">5</a>
                            <a href="#none" class="btn_pg_next">다음 페이지</a>
                            <a href="#none" class="btn_pg_last">마지막 페이지</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec_wrap">
            <div class="cont_box">
                <h3>마진 비교 그래프</h3>
                <figure class="highcharts-figure2">
                    <div class="chart02_01" style="width:100%;height:280px;margin:0 auto">
                        <!-- 임시 차트 이미지 -->
                        <img src="../img/img_chart_list12.png" style="width:100%;height:280px;">
                    </div>
                </figure>
            </div>
        </section>

        <section class="sec_wrap">
            <div class="cont_box col2">
                <h3>상세 메뉴 코스트 금액</h3>
                <div class="clearFix">
                    <figure class="highcharts-figure2 fl mt20" style="width:45%">
                        <div class="chart02_01" style="width:100%;height:210px;margin:0 auto">
                            <!-- 임시 차트 이미지 -->
                            <img src="../img/img_chart_list15.png" style="width:100%;height:210px;">
                        </div>
                    </figure>
                    <div class="fl ml15" style="width:calc(55% - 15px)">
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:50px;"/>
                                    <col style="*"/>
                                    <col style="width:80px;"/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="tl">메뉴명</th>
                                        <th scope="col">코스트올</th>
                                        <th scope="col" class="tr">코스트금액</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tl">1.</td>
                                        <td class="tl">참이슬</td>
                                        <td>25.8%</td>
                                        <td class="tr">75,963,229</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">2.</td>
                                        <td class="tl">스페셜모듬과일</td>
                                        <td>22.32%</td>
                                        <td class="tr">57,472,366.99</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">3.</td>
                                        <td class="tl">카스(500ml)</td>
                                        <td>30.18%</td>
                                        <td class="tr">55,710,656.36</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">4.</td>
                                        <td class="tl">스페셜과일화채</td>
                                        <td>26.21%</td>
                                        <td class="tr">
                                        23,024,288.05</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">5.</td>
                                        <td class="tl">테라(500ml)</td>
                                        <td>30.18%</td>
                                        <td class="tr">21,804,794.18</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="tl">총 합계</td>
                                        <td>28.04%</td>
                                        <td class="tr">513,409,534...</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- paging -->
                        <div class="paging small">
                            <a href="#none" class="btn_pg_first disabled">첫번째 페이지</a>
                            <a href="#none" class="btn_pg_prev disabled">이전 페이지</a>
                            <strong title="현재 페이지">1</strong>
                            <a href="#none">2</a>
                            <a href="#none">3</a>
                            <a href="#none">4</a>
                            <a href="#none">5</a>
                            <a href="#none" class="btn_pg_next">다음 페이지</a>
                            <a href="#none" class="btn_pg_last">마지막 페이지</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont_box col2">
                <h3>상세 메뉴 마진 금액</h3>
                <div class="clearFix">
                    <figure class="highcharts-figure2 fl mt20" style="width:45%">
                        <div class="chart02_01" style="width:100%;height:210px;margin:0 auto">
                            <!-- 임시 차트 이미지 -->
                            <img src="../img/img_chart_list16.png" style="width:100%;height:210px;">
                        </div>
                    </figure>
                    <div class="fl ml15" style="width:calc(55% - 15px)">
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:50px;"/>
                                    <col style="*"/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="tl">메뉴명</th>
                                        <th scope="col" class="tr">마진금액
                                            <button class="inline" style="width:20px"><i class="icon_sorting"></i></button>
                                            <!-- <button class="inline" style="width:20px"><i class="icon_sorting2"></i></button> -->
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tl">1.</td>
                                        <td class="tl">참이슬</td>
                                        <td class="tr">218,482,271</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">2.</td>
                                        <td class="tl">스페셜모듬과일</td>
                                        <td class="tr">200,040,133.01</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">3.</td>
                                        <td class="tl">카스(500ml)</td>
                                        <td class="tr">128,872,843.64</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">4.</td>
                                        <td class="tl">진로이즈벡</td>
                                        <td class="tr">65,617,936.18</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">5.</td>
                                        <td class="tl">스페셜과일화채</td>
                                        <td class="tr">64,831,911.95</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="tl">총 합계</td>
                                        <td class="tr">1,999,430,165.3</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- paging -->
                        <div class="paging small">
                            <a href="#none" class="btn_pg_first disabled">첫번째 페이지</a>
                            <a href="#none" class="btn_pg_prev disabled">이전 페이지</a>
                            <strong title="현재 페이지">1</strong>
                            <a href="#none">2</a>
                            <a href="#none">3</a>
                            <a href="#none">4</a>
                            <a href="#none">5</a>
                            <a href="#none" class="btn_pg_next">다음 페이지</a>
                            <a href="#none" class="btn_pg_last">마지막 페이지</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 매장별 매출 분석 //-->
<div>
