<meta charset="utf-8">
<script type="text/javascript">
    var <@compId> = {
             searchedRows : [] // 페이지
            ,selectGroup1 : 'ALL'
            ,selectGroup2 : 'ALL'
            ,selectMonth  : 'ALL'
            ,BRAND_ID : ''
            ,pageInit : () => {

                var now = new Date();   // 현재 날짜 및 시간
                var thisYear = now.getFullYear();   // 연도
                
                var startDate = new Date();
                startDate.setFullYear(startDate.getFullYear() - 5);// 현재년도의 과거 5년
                var startYear = startDate.getFullYear();   // 연도
                
                const yearsArray = Array.from({ length: 6 }, (_, index) => {
                      const year = startYear + index;
                      return [year.toString(), year + "년"];
                });
                
                var yearsArrayList = { data : yearsArray,targetId : "<@compId>_selectBoxYear"}
                C_UICOM.makeSelectBox(yearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_selectBoxYear", dayjs().year());
                
                var startYearsArrayList = { data : yearsArray,targetId : "<@compId>_selectStartBoxYear"}
                C_UICOM.makeSelectBox(startYearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_selectStartBoxYear", dayjs().year());
                
                // 월
                var monthList = C_COM.getCodeList("STORE_MONTH");
                
                var selectBoxMonthList = { 
                     data : monthList
                    ,targetId : "<@compId>_selectBoxMonth" 
                }
                C_UICOM.makeSelectBox(selectBoxMonthList, "single");
                
                var selectStartBoxMonthList = { 
                     data : monthList
                    ,targetId : "<@compId>_selectStartBoxMonth" 
                }
                C_UICOM.makeSelectBox(selectStartBoxMonthList, "single");
            }

            ,brandIdSet : (brandId) => {

                console.log("== Tab2 brandIdSet ===>");
                
                <@compId>.BRAND_ID = brandId;
                
                // 권역
                var regionList = C_COM.getBrandCodeList( brandId , "STORE_REGION");                
                var selectBoxRegionList = { 
                     defaultItem    : ["ALL", "전체"] 
                    ,data : regionList
                    ,targetId : "<@compId>_selectBoxRegion" 
                }
                C_UICOM.makeSelectBox(selectBoxRegionList, "single");
                <@compId>.region = "ALL";
                
                C_UICOM.addChangeListener("<@compId>_selectBoxRegion", function(dataObj) {
                    <@compId>.region = dataObj;
                    <@compId>.getSelectStore();
                });
                
                // 매장
                <@compId>.getSelectStore();
                
                // 슈퍼바이저
                var supervisorList = C_COM.getBrandCodeList( brandId , "SUPERVISOR");
                
                var selectBoxSupervisorList = {

                     defaultItem    : ["ALL", "전체"]
                    ,data : supervisorList
                    ,targetId : "<@compId>_selectBoxSupervisor" 
                }
                C_UICOM.makeSelectBox(selectBoxSupervisorList, "single");
                <@compId>.supervisor = "ALL";
                
                C_UICOM.addChangeListener("<@compId>_selectBoxSupervisor", function(dataObj) {
                    <@compId>.supervisor = dataObj;
                });
                
                
            }
            ,getSelectStore : () => {

                let requestParm = {};
                requestParm["spCstmId"] = G_VAL.session.spCstmId ;
                requestParm["brandId"]  = <@compId>.BRAND_ID ;
                requestParm["region"]   = <@compId>.region ;
                
                var parm1 = {
                        queryId  : "dashboardCorPerformance.getStore"
                       ,requestParm   : requestParm
                }
                
                C_COM.requestQuery(parm1, function(resultData) {
                    
                    const DATA = resultData.data.map( item => [ item.CODE_ID, item.CODE_NM ]);
                    
                    var selectBoxStoreList = {
                            defaultItem    : ["ALL", "전체"]
                           ,data : DATA
                           ,targetId : "<@compId>_selectBoxStore" 
                    }
                    
                    C_UICOM.makeSelectBox(selectBoxStoreList, "single");
                });
                
                C_UICOM.addChangeListener("<@compId>_selectBoxStore", function(dataObj) {
                    <@compId>.store = dataObj;
                });
            }


            /*============= 매출 예측 그래프    매출 예측 그래프    매출 예측 그래프    매출 예측 그래프    매출 예측 그래프    =============*/
            ,searchList1 : (requestParm) => {
            	
                var month = requestParm["month"];
                 
                var serviceUrl = 'dashboardCorPerformance.getPredictSales';

                var parm = {
                        queryId  : serviceUrl
                       ,requestParm   : requestParm
                }
        
                C_COM.requestQuery(parm, function(resultData) {
                    <@compId>.setChart1(resultData);
                });
                 
            	
            }

            ,setChartData : function( resultData, menuKey) {
                let resultList = [];
                var j = 0;
                for (var i=0; i< resultData.data.length; i++){
                    if( resultData.data[i].MENU_KEY == menuKey ){
                        resultList[j++] = resultData.data[i].SALES;
                    }
                }
                return resultList;
             }
            ,setChart1 : (resultData) =>{

                let categories1Arr = [];
                let categories2Arr = [];
                let categoryArr    = [];

                let accrue1      = 0;
                let accrue2      = 0;

                for (var i=0; i< resultData.data.length; i++){
                   accrue1 =  resultData.data[i].MIXED_PREDICT;
                   accrue2 =  resultData.data[i].TREND;

                   console.log("MIXED_PREDICT ==>"+accrue1);
                   console.log("TREND ==>"+accrue2);
                   categories1Arr[i] = accrue1;
                   categories2Arr[i] = accrue2;
                   
                   categoryArr[i]    = resultData.data[i].BASE_DATE;
                }
                 $('#<@compId>_chart1').highcharts({
                	 chart: {
                         type: 'column'
                     },
                     title: {
                         text: '오봉집기장장안점',
                         align: 'left'
                     },
                     colors: ['#27187F', '#F29423'],
                     xAxis: {
                         categories: categoryArr,
                         crosshair: true,
                         lineColor: '#66ff00', /* x축 라인색 */
                         accessibility: {
                             description: 'Countries'
                         }
                     },
                     yAxis: {
                         format: '{value}',
                         min: 0,
                         title: {
                             text: ''
                         }
                     },
                     tooltip: {
                         valueSuffix: ''
                     },
                     plotOptions: {
                         column: {
                             pointPadding: 0.2,
                             borderWidth: 0
                         }
                     },
                     series: [
                         {
                             name: '주변상가와 트렌드 혼합 예측',
                             type: 'column',
                             yAxis: 0,
                             tooltip: {
                                 valueSuffix: ''
                             },
                             data: categories1Arr
                         },
                         {
                             name: '트렌드 예측',
                             type: 'column',
                             yAxis: 0,  
                             data: categories2Arr
                         }
                     ]

                 });
             }
            /*############# 매출 예측 그래프    매출 예측 그래프    매출 예측 그래프    매출 예측 그래프    매출 예측 그래프    #############*/
            
            /*============= 영업이익 예측 그래프    영업이익 예측 그래프    영업이익 예측 그래프    영업이익 예측 그래프    =============*/
            ,searchList2 : (requestParm) => {
                
                var month = requestParm["month"];
                var serviceUrl = 'dashboardCorPerformance.getBusinessProfit';
                
                var parm = {
                        queryId  : serviceUrl
                       ,requestParm   : requestParm
                }
        
                C_COM.requestQuery(parm, function(resultData) {
                    <@compId>.setChart2(resultData);
                });
                 
                
            }

            ,setChart2 : (resultData) =>{

                let categories1Arr = [];
                let categories2Arr = [];
                let categoryArr    = [];

                let accrue1      = 0;
                let accrue2      = 0;

                for (var i=0; i< resultData.data.length; i++){
                   accrue1 =  resultData.data[i].BUSINESS_PROFIT;
                   accrue2 =  resultData.data[i].BUSINESS_PROFIT_RATIO;
                   
                   categories1Arr[i] = accrue1;
                   categories2Arr[i] = accrue2;
                   
                   console.log("BUSINESS_PROFIT ==>"+accrue1);
                   console.log("BUSINESS_PROFIT_RATIO ==>"+accrue2);
                   
                   categoryArr[i]    = resultData.data[i].BASE_DATE;
                }

                 $('#<@compId>_chart2').highcharts({
                	 chart: {
                	        zooming: {
                	            type: 'xy'
                	        }
                	    },
                	    title: {
                	        text: '오봉집기장장안점',
                	        align: 'left'
                	    },
                        colors: ['#27187F', '#F29423'],
                	    xAxis: [{
                	        categories: categoryArr,
                	        crosshair: true
                	    }],
                	    yAxis: [{ // Primary yAxis
                	        labels: {
                	            format: '{value}%',
                	            style: {
                	                color: '#F29423' 
                	            }
                	        },
                	        title: {
                	            text: '영업이익률',
                	            style: {
                	                color: '#F29423'
                	            }
                	        }
                	    }, { // Secondary yAxis
                	        title: {
                	            text: '영업이익',
                	            style: {
                	                color: '#27187F'
                	            }
                	        },
                	        labels: {
                	            format: '{value}',
                	            style: {
                	                color: '#27187F'
                	            }
                	        },
                	        opposite: true
                	    }],
                	    tooltip: {
                	        shared: true
                	    },
                	    legend: {
                	        align: 'left',
                	        verticalAlign: 'top',
                	        backgroundColor:
                	            Highcharts.defaultOptions.legend.backgroundColor || // theme
                	            'rgba(255,255,255,0.25)'
                	    },
                	    series: [{
                	        name: '영업이익',
                	        type: 'column',
                	        yAxis: 1,
                	        data: categories1Arr,
                	        tooltip: {
                	            valueSuffix: ''
                	        }

                	    }, {
                	        name: '영업이익률',
                	        type: 'spline',
                	        data: categories2Arr,
                	        tooltip: {
                	            valueSuffix: '%'
                	        }
                	    }]

                 });
             }
            /*############# 영업이익 예측 그래프    영업이익 예측 그래프    영업이익 예측 그래프    영업이익 예측 그래프    #############*/
            
            ,setHandler : () => {

                $("#<@compId>_searchBtn").click( () =>{
                	
                	var brandId = <@compId>.BRAND_ID;

                    if(brandId == undefined){
                        C_POP.alert("브랜드가 없습니다.");
                        return;
                    }
                    
                    var year        = C_UICOM.getData("<@compId>_selectBoxYear");
                    var month       = C_UICOM.getData("<@compId>_selectBoxMonth");;
                    var region      = C_UICOM.getData("<@compId>_selectBoxRegion");
                    var store       = C_UICOM.getData("<@compId>_selectBoxStore");
                    var supervisor  = C_UICOM.getData("<@compId>_selectBoxSupervisor");
                    
                    let requestParm = {};
                    requestParm["brandId"]       = brandId;
                    requestParm["year"]          = year;
                    requestParm["month"]         = month;
                    requestParm["region"]        = region;
                    requestParm["store"]         = store;
                    requestParm["supervisor"]    = supervisor;
                    
                    <@compId>.selectMonth = month;
                    
                    <@compId>.searchList1(requestParm);
                    <@compId>.searchList2(requestParm);
                })            
                
            } 

    }
    // Component Load가 완료된후 실행 된다.
    C_COMP.onLoadComp("<@compId>", function(data) {
        <@compId>.pageInit();
        <@compId>.setHandler();
    });
</script>

<div>
        <!--// 매장별 매출 분석 -->
        <!-- search area -->
    <div class="search_area plpr5">
	    <!-- search area -->
	    <div class="search_area plpr5">
	        <div class="fl">
	            <div class="select_box fl" style="width:132px">
	                <div id="<@compId>_selectBoxYear" style="width:132px"></div>
	            </div>
	            <div class="select_box fl" style="width:132px">
	                <div id="<@compId>_selectBoxMonth" style="width:132px"></div>
	            </div>
	            <span class="tit01 fl lh33">권역</span>
	            <!-- 권역 선택 -->
	            <div class="select_box fl" style="width:100px">
	                <div id="<@compId>_selectBoxRegion" style="width:100px"></div>
	            </div>
	            <!-- 매장명 선택 -->
	            <div class="select_box fl" style="width:170px">
	                <div id="<@compId>_selectBoxStore" style="width:170px"></div>
	            </div>   
	            <span class="tit01 fl lh33">슈퍼바이저</span>
	            <!-- 슈퍼바이저 선택 -->
	            <div class="select_box fl" style="width:132px">
	                 <div id="<@compId>_selectBoxSupervisor" style="width:132px"></div>
	            </div>
	            <button type="button" class="btn select fl" id="<@compId>_searchBtn">조회</button>
	        </div>
	    </div>
    </div>

        <section class="sec_wrap">
            <div class="cont_box">
                <h3>매출 예측 그래프</h3>
                <figure class="highcharts-figure2">
                    <div class="chart02_01" id="<@compId>_chart1" style="width:100%;height:280px;margin:0 auto">
                        <!-- 임시 차트 이미지
                        <img src="../img/img_chart_list11.png" style="width:100%;height:280px;">
                         -->
                    </div>
                </figure>
            </div>
        </section>

        <section class="sec_wrap">
            <div class="cont_box">
                <h3>영업이익 예측 그래프</h3>
                <figure class="highcharts-figure2">
                    <div class="chart02_01" id="<@compId>_chart2" style="width:100%;height:280px;margin:0 auto">
                        <!-- 임시 차트 이미지
                        <img src="../img/img_chart_list11.png" style="width:100%;height:280px;">
                         -->
                    </div>
                </figure>
            </div>
        </section>
<div>
