<meta charset="utf-8">
<script type="text/javascript">
    var <@compId> = {
    		 selectYear : ''
    		,selectWeek : ''
            ,pageInit : () => {

                const yearsArray = Array.from({ length: 5 }, (_, index) => {
                      const year = 2022 + index;
                      return [year.toString(), year + "년"];
                });
                var yearsArrayList = { data : yearsArray,targetId : "<@compId>_selectBoxYear"}
                C_UICOM.makeSelectBox(yearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_selectBoxYear", dayjs().year());
                

                C_UICOM.addChangeListener("<@compId>_selectBoxYear", function(dataObj) {
                    console.log("_selectBoxRegion  =>"+dataObj);
                    <@compId>.getSelectWeek(dataObj);
                });
                
                <@compId>.getSelectWeek('2024');

                // 권역
                var regionList = C_COM.getCodeList("STORE_REGION");
                //dalert(regionList);
                var selectBoxRegionList = { 
                     defaultItem    : ["ALL", "전체"] 
                    ,data : regionList
                    ,targetId : "<@compId>_selectBoxRegion" 
                }
                C_UICOM.makeSelectBox(selectBoxRegionList, "single");
                <@compId>.region = "ALL";
                
                C_UICOM.addChangeListener("<@compId>_selectBoxRegion", function(dataObj) {
                    console.log("_selectBoxRegion  =>"+dataObj);
                    <@compId>.region = dataObj;
                    <@compId>.getSelectStore();
                });
                
                // 매장
                <@compId>.getSelectStore();
                
                // 슈퍼바이저
                /*
                var supervisorList = C_COM.getCodeList("SUPERVISOR");
                
                var selectBoxSupervisorList = {

                     defaultItem    : ["ALL", "전체"]
                    ,data : supervisorList
                    ,targetId : "<@compId>_selectBoxSupervisor" 
                }
                C_UICOM.makeSelectBox(selectBoxSupervisorList, "single");
                <@compId>.supervisor = "ALL";
                
                C_UICOM.addChangeListener("<@compId>_selectBoxSupervisor", function(dataObj) {
                    console.log("_selectBoxSupervisor  =>"+dataObj);
                    <@compId>.supervisor = dataObj;
                });
                */
                
                $("#<@compId>_chart1_no").show();
                $("#<@compId>_chart1").hide();
            }
            ,getSelectStore : () => {
                
                console.log("getSelectStore =>"+<@compId>.region );
                
                let requestParm = {};
                requestParm["spCstmId"] = G_VAL.session.spCstmId ;
                requestParm["region"] = <@compId>.region ;
                
                console.log("=== region ===>"+<@compId>.region);
                
                var parm1 = {
                        queryId  : "dashboardCorPerformance.getStore"
                       ,requestParm   : requestParm
                }
                
                C_COM.requestQuery(parm1, function(resultData) {
                    
                    const DATA = resultData.data.map( item => [ item.CODE_ID, item.CODE_NM ]);
                    
                    var selectBoxStoreList = {
                            defaultItem    : ["ALL", "선택"]
                           ,data : DATA
                           ,targetId : "<@compId>_selectBoxStore" 
                    }
                    
                    C_UICOM.makeSelectBox(selectBoxStoreList, "single");
                });
                
                C_UICOM.addChangeListener("<@compId>_selectBoxStore", function(dataObj) {
                    <@compId>.store = dataObj;
                });
            }

            ,getSelectWeek : (dataObj) => {
                
                console.log("getSelectWeek =>"+dataObj );
                
                let requestParm = {};
                requestParm["weekStart"] = dataObj+"01"+"01" ;
                requestParm["weekEnd"]   = dataObj+"12"+"31" ;
                
                console.log("=== weekStart ===>"+dataObj+"01"+"01");
                console.log("=== weekEnd ===>"+dataObj+"12"+"31" );
                
                var parm1 = {
                        queryId  : "dashboardCorPerformance.getWeekList"
                       ,requestParm   : requestParm
                }
                
                C_COM.requestQuery(parm1, function(resultData) {
                    
                    const DATA = resultData.data.map( item => [ item.START_END, item.WEEK_OF_YEAR+"주차 : "+item.START_END ]);
                    
                    var selectBoxWeekList = {
                            data : DATA
                           ,targetId : "<@compId>_selectBoxWeek" 
                    }
                    
                    C_UICOM.makeSelectBox(selectBoxWeekList, "single");
                });
                
                C_UICOM.addChangeListener("<@compId>_selectBoxWeek", function(dataObj) {
                    <@compId>.selectWeek = dataObj;
                });
            }
            ,getAddDay : (yyyy, mm, dd, value) => {
            	
                let date = new Date(Number(yyyy), Number(mm)-1, Number(dd));
                date.setDate(date.getDate() + value);// 7일전
                
                const year   = date.getFullYear(); // 2023
                const month  = (date.getMonth() + 1).toString().padStart(2, '0'); // 06
                const day    = date.getDate().toString().padStart(2, '0'); // 18
                return year + '-' + month + '-' + day;
            }

            /* 주차별 순매출액 */
           ,searchSalesByWeek : ( startDate, endDate, startDatePre, endDatePre, storeId ) => {
               
               console.log('startDate : ' +startDate );
               console.log('endDate : ' +endDate );
               console.log('startDatePre : ' +startDatePre );
               console.log('endDatePre : ' +endDatePre );
               console.log('storeId : ' +storeId );

               let requestParm = {};
               requestParm["dateStart"]     = startDate;
               requestParm["dateEnd"]       = endDate;
               requestParm["startDatePre"]  = startDatePre;
               requestParm["endDatePre"]    = endDatePre;
               requestParm["storeId"]       = storeId;
               
               let parm = {
                    queryId        : "dashboardCorPerformance.getSalesByWeek"
                   ,requestParm    : requestParm
               }
               C_COM.requestQuery(parm, function(resultData) {
                   //챠트
            	   <@compId>.setChartSalesByWeek( resultData );
                   
            	   //지난주차
                   var rparm = {
                        targetId       : "<@compId>_tableId1"
                       ,list           : resultData.data
                       ,listRange      : 7         // 리스트 범위
                       ,pageRange      : 7         // Page 범위
                       ,onPageClickCallback : function(pageInfo) {
                           //<@compId>.setChart11(pageInfo);
                        }
                   }
                   C_PAGING.renderHtml("<@compId>", rparm);
                   <@compId>.setTotal1(resultData);

                   //이번주차
                   var rparm1 = {
                        targetId       : "<@compId>_tableId2"
                       ,list           : resultData.data
                       ,listRange      : 7         // 리스트 범위
                       ,pageRange      : 7         // Page 범위
                       ,onPageClickCallback : function(pageInfo) {
                           //<@compId>.setChart11(pageInfo);
                        }
                   }
                   C_PAGING.renderHtml("<@compId>", rparm1);
                   <@compId>.setTotal2(resultData);
               });
               
           }

           ,setTotal1 : (resultData) =>{
               let totalTB   = 0;
               let totalSale = 0;
               for (var i=0; i<resultData.data.length; i++){
            	   totalTB += resultData.data[i].RECEIPT_CNT;
            	   totalSale += resultData.data[i].NET_SALES;
               }
               $('#<@compId>_totalTB').text(totalTB);
               $('#<@compId>_totalSale').text(totalSale);
           }

           ,setTotal2 : (resultData) =>{

               let totalTB   = 0;
               let totalSale = 0;
               for (var i=0; i<resultData.data.length; i++){
                   totalTB += resultData.data[i].PRE_RECEIPT_CNT;
                   totalSale += resultData.data[i].PRE_NET_SALES;
               }
               $('#<@compId>_totalPreTB').text(totalTB);
               $('#<@compId>_totalPreSale').text(totalSale);
           }
           
           /* 챠트 */
           ,setChartSalesByWeek : (resultData) =>{

               $("#<@compId>_chart1_no").hide();
               $("#<@compId>_chart1").show();
               
               let categoriesList = [];
               let salesList      = [];
               let preSalesList   = [];
               let storeNm   = '';
               
               for (var i=0; i< resultData.data.length; i++){
            	   storeNm = resultData.data[i].STORE_NM3;
                   categoriesList[i] = resultData.data[i].STR_DATE;
                   salesList[i]      = resultData.data[i].NET_SALES;
                   preSalesList[i]  = resultData.data[i].PRE_NET_SALES;
               }
               
               $("#<@compId>_chart1").highcharts({
                  
                    chart: {
                           type: 'column'
                       },
                       title: {
                           text: storeNm,
                           align: 'left'
                       },
                       subtitle: {
                           text: '',
                           align: 'left'
                       },
                       colors: ['#66ff00', '#0099ff'],
                       xAxis: {
                           categories: categoriesList,
                           crosshair: true,
                           accessibility: {
                               description: 'Countries'
                           }
                       },
                       yAxis: {
                           min: 0,
                           title: {
                               text: ''
                           }
                       },
                       tooltip: {
                           valueSuffix: ''
                       },
                       plotOptions: {
                           column: {
                               pointPadding: 0.2,
                               borderWidth: 0
                           }
                       },
                       series: [
                           {
                               name: '이번주차 순매출액',
                               data: salesList
                           },
                           {
                               name: '지난주차 순매출액',
                               data: preSalesList
                           }
                       ]
               });
           }
           ,setHandler : () => {
                
                $("#<@compId>_searchBtn").click( () =>{
                    console.log(" _searchBtn 클릭");
                    /**/
                    let selectBoxWeek        = C_UICOM.getData('<@compId>_selectBoxWeek');
                    let selectBoxStore       = C_UICOM.getData('<@compId>_selectBoxStore');
                    if( selectBoxStore == "ALL" ){
                    	alert("지점을 선택해 주세요.");
                    }
                    
                    console.log(" selectBoxWeek ==>"+selectBoxWeek);
                    console.log(" selectBoxStore ==>"+selectBoxStore);
                    let trimWeekArr = selectBoxWeek.trim().replaceAll(' ', '').split("~");
                    
                    
                    const startDate = trimWeekArr[0];
                    const endDate = trimWeekArr[1];
                    
                    let startY = trimWeekArr[0].substr(0, 4);    
                    let startM = trimWeekArr[0].substr(5, 2);    
                    let startD = trimWeekArr[0].substr(8, 2);

                    let endY = trimWeekArr[1].substr(0, 4);    
                    let endM = trimWeekArr[1].substr(5, 2);    
                    let endD = trimWeekArr[1].substr(8, 2);
                    
                    const startDatePre = <@compId>.getAddDay( startY, startM, startD, -7 );
                    const endDatePre = <@compId>.getAddDay( endY, endM, endD, -7  );


                    <@compId>.searchSalesByWeek( startDate, endDate, startDatePre, endDatePre, selectBoxStore );
                    
                    
                })
           }

    }
    // Component Load가 완료된후 실행 된다.
    C_COMP.onLoadComp("<@compId>", function(data) {
        <@compId>.pageInit();
        <@compId>.setHandler();
    });
</script>

<div>
    <!--// 주차별 매출 데이터 분석 -->
    <!-- search area -->
    <div class="search_area plpr5">
        <div class="fl">
            <div class="select_box fl" style="width:132px">
                <div id="<@compId>_selectBoxYear" style="width:132px"></div>
            </div>
            <div class="select_box fl" style="width:300px">
                <div id="<@compId>_selectBoxWeek" style="width:300px"></div>
            </div>
            <span class="tit01 fl lh33">권역</span>
            <!-- 권역 선택 -->
            <div class="select_box fl" style="width:100px">
                <div id="<@compId>_selectBoxRegion" style="width:100px"></div>
            </div>
            <!-- 매장명 선택 -->
            <span class="tit01 fl lh33">지점</span>
            <div class="select_box fl" style="width:170px">
                <div id="<@compId>_selectBoxStore" style="width:170px"></div>
            </div> 
            <!--   
            <span class="tit01 fl lh33">슈퍼바이저</span>
            슈퍼바이저 선택
            <div class="select_box fl" style="width:132px">
                 <div id="<@compId>_selectBoxSupervisor" style="width:132px"></div>
            </div>
             -->
            <button type="button" class="btn select fl" id="<@compId>_searchBtn">조회</button>
        </div>
    </div>
    
    <section class="sec_wrap">
        <div class="cont_box">
            <h3>순매출액 비교</h3>
            <figure class="highcharts-figure2">
                <div class="nodata"     id="<@compId>_chart1_no" style="height:137px;"></div>
                <div class="chart04_01" id="<@compId>_chart1" style="width:100%;height:332px;margin:0 auto"></div>
            </figure>
        </div>
    </section>
    <div class="clearFix mt15">
        <div class="w66 fl">
            <section class="sec_wrap">
                <div class="cont_box col2">
                    <h3>지난주차</h3>
                    <figure class="highcharts-figure2">
                        <!-- <div class="nodata2" style="height:345px"></div> -->
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small mt20">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:150px;"/>
                                    <col style="*"/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">기간</th>
                                        <th scope="col" class="tl">테이블수</th>
                                        <th scope="col" class="tr">순매출액</th>
                                    </tr>
                                </thead>
                                <tbody id="<@compId>_tableId1">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>총 합계</td>
                                        <td class="tl" id="<@compId>_totalPreTB"></td>
                                        <td class="tr" id="<@compId>_totalPreSale"></td>
                                    </tr>
                                </tfoot>
                                <script type="text/x-jsrender" id="<@compId>_tableId1_template">   
                                     {{for list}}
                                     <tr>    
                                         <td class="tl">{{:PRE_STR_DATE}}</td>    
                                         <td class="tl">{{:PRE_RECEIPT_CNT}}</td> 
                                         <td class="tr">{{:PRE_NET_SALES}}</td>  
                                     </tr>
                                     {{/for}}
                                 </script>
                                 <script type="text/x-jsrender" id="<@compId>_tableId1_noData_template">    
                                     <tr>    
                                         <td colspan=3>자료가 없습니다.</td>    
                                     </tr>
                                 </script>
                            </table>
                        </div>
                    </figure>
                </div>
                <div class="cont_box col2">
                    <h3>이번주차</h3>
                    <figure class="highcharts-figure2">
                        <!-- <div class="nodata3" style="height:345px"></div> -->
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small mt20">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:150px;"/>
                                    <col style="*"/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">기간</th>
                                        <th scope="col" class="tl">테이블수</th>
                                        <th scope="col" class="tr">순매출액</th>
                                    </tr>
                                </thead>
                                <tbody id="<@compId>_tableId2">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>총 합계</td>
                                        <td class="tl" id="<@compId>_totalTB"></td>
                                        <td class="tr" id="<@compId>_totalSale"></td>
                                    </tr>
                                </tfoot>
                                <script type="text/x-jsrender" id="<@compId>_tableId2_template">   
                                     {{for list}}
                                     <tr>    
                                         <td class="tl">{{:STR_DATE}}</td>    
                                         <td class="tl">{{:RECEIPT_CNT}}</td> 
                                         <td class="tr">{{:NET_SALES}}</td>  
                                     </tr>
                                     {{/for}}
                                 </script>
                                 <script type="text/x-jsrender" id="<@compId>_tableId2_noData_template">    
                                     <tr>    
                                         <td colspan=3>자료가 없습니다.</td>    
                                     </tr>
                                 </script>
                            </table>
                        </div>
                    </figure>
                </div>
            </section>
        </div>
        <div class="w33 fl">
            <section class="sec_wrap ml-10">
                <div class="cont_box">
                    <h3>테이블 수 증감률</h3>
                    <div class="nodata_txt" style="height:130px;">
                        No Data
                    </div>
                    <!-- <figure class="highcharts-figure2">
                        <div class="nodata3" style="height:137px;"></div>
                    </figure> -->
                </div>
            </section>
            <section class="sec_wrap ml-10">
                <div class="cont_box">
                    <h3>순매출액 증감률</h3>
                    <div class="nodata_txt" style="height:130px;">
                        No Data
                    </div>
                    <!-- <figure class="highcharts-figure2">
                        <div class="nodata3" style="height:137px;"></div>
                    </figure> -->
                </div>
            </section>
        </div>
    </div>
    <!-- 주차별 매출 데이터 분석 //-->
</div>






