<meta charset="utf-8">
<script type="text/javascript">
    var <@compId> = {
             searchedRows : [] // 페이지
            ,selectGroup1 : 'ALL'
            ,selectGroup2 : 'ALL'
            ,selectMonth  : 'ALL'
            ,pageInit : () => {

                var now = new Date();   // 현재 날짜 및 시간
                var thisYear = now.getFullYear();   // 연도
                
                var startDate = new Date();
                startDate.setFullYear(startDate.getFullYear() - 5);// 현재년도의 과거 5년
                var startYear = startDate.getFullYear();   // 연도
                
                const yearsArray = Array.from({ length: 6 }, (_, index) => {
                      const year = startYear + index;
                      return [year.toString(), year + "년"];
                });
                var yearsArrayList = { data : yearsArray,targetId : "<@compId>_selectBoxYear"}
                C_UICOM.makeSelectBox(yearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_selectBoxYear", dayjs().year());
                
                // 월
                var monthList = C_COM.getCodeList("STORE_MONTH");
                
                var selectBoxMonthList = {
                	 defaultItem    : ["ALL", "전체"]
                    ,data : monthList
                    ,targetId : "<@compId>_selectBoxMonth" 
                }
                C_UICOM.makeSelectBox(selectBoxMonthList, "single");
                
                <@compId>.getSelectMenu();
                
                // 권역
                var regionList = C_COM.getCodeList("STORE_REGION");
                
                var selectBoxRegionList = { 
                     defaultItem    : ["ALL", "전체"] 
                    ,data : regionList
                    ,targetId : "<@compId>_selectBoxRegion" 
                }
                C_UICOM.makeSelectBox(selectBoxRegionList, "single");
                <@compId>.region = "ALL";
                
                C_UICOM.addChangeListener("<@compId>_selectBoxRegion", function(dataObj) {
                    console.log("_selectBoxRegion  =>"+dataObj);
                    <@compId>.region = dataObj;
                    <@compId>.getSelectStore();
                });
                
                // 대분류
                var menuGroup1List = C_COM.getCodeList("STORE_MENU_GROUP1");
                
                var selectBoxMenuGroup1List = { 
                     defaultItem    : ["ALL", "대분류"] 
                    ,data : menuGroup1List
                    ,targetId : "<@compId>_selectGroup1" 
                }
                C_UICOM.makeSelectBox(selectBoxMenuGroup1List, "single");
                
                C_UICOM.addChangeListener("<@compId>_selectGroup1", function(dataObj) {
                    console.log("_selectGroup1  =>"+dataObj);
                    <@compId>.selectGroup1 = dataObj;
                    <@compId>.getSelectMenu();
                });

                // 분류명
                var menuGroup2List = C_COM.getCodeList("STORE_MENU_GROUP2");
                
                var selectBoxMenuGroup2List = { 
                     defaultItem    : ["ALL", "분류명"] 
                    ,data : menuGroup2List
                    ,targetId : "<@compId>_selectGroup2" 
                }
                C_UICOM.makeSelectBox(selectBoxMenuGroup2List, "single");
                
                C_UICOM.addChangeListener("<@compId>_selectGroup2", function(dataObj) {
                    console.log("_selectGroup2  =>"+dataObj);
                    <@compId>.selectGroup2 = dataObj;
                    <@compId>.getSelectMenu();
                });
                
                // 메뉴명
                <@compId>.getSelectMenu();
                
                // 매장
                <@compId>.getSelectStore();
                
                // 슈퍼바이저
                var supervisorList = C_COM.getCodeList("SUPERVISOR");
                
                var selectBoxSupervisorList = {

                     defaultItem    : ["ALL", "전체"]
                    ,data : supervisorList
                    ,targetId : "<@compId>_selectBoxSupervisor" 
                }
                C_UICOM.makeSelectBox(selectBoxSupervisorList, "single");
                <@compId>.supervisor = "ALL";
                
                C_UICOM.addChangeListener("<@compId>_selectBoxSupervisor", function(dataObj) {
                    console.log("_selectBoxSupervisor  =>"+dataObj);
                    <@compId>.supervisor = dataObj;
                });
                
            }

            ,getSelectMenu : () => {
                
                console.log("getSelectMenu 1" );
                
                let requestParm = {};
                requestParm["group1"] = <@compId>.selectGroup1 ;
                requestParm["group2"] = <@compId>.selectGroup2 ;
                
                console.log("getSelectMenu 2" );
                var parm1 = {
                        queryId  : "dashboardCorPerformance.getMenuList"
                       ,requestParm   : requestParm
                }

                console.log("getSelectMenu 3" );
                
                C_COM.requestQuery(parm1, function(resultData) {
                    
                    const DATA = resultData.data.map( item => [ item.MENU_ID, item.MENU_NM ]);
                    
                    var selectBoxMenuList = {
                            defaultItem    : ["ALL", "전체"]
                           ,data : DATA
                           ,targetId : "<@compId>_selectBoxMenu" 
                    }
                    
                    C_UICOM.makeSelectBox(selectBoxMenuList, "single");
                });

                console.log("getSelectMenu 4" );
                
                C_UICOM.addChangeListener("<@compId>_selectBoxMenu", function(dataObj) {
                    //<@compId>.select = dataObj;
                });
            }
            
            ,getSelectStore : () => {
                
                console.log("getSelectStore =>"+<@compId>.region );
                
                let requestParm = {};
                requestParm["spCstmId"] = G_VAL.session.spCstmId ;
                requestParm["region"] = <@compId>.region ;
                
                console.log("=== region ===>"+<@compId>.region);
                
                var parm1 = {
                        queryId  : "dashboardCorPerformance.getStore"
                       ,requestParm   : requestParm
                }
                
                C_COM.requestQuery(parm1, function(resultData) {
                    
                    const DATA = resultData.data.map( item => [ item.CODE_ID, item.CODE_NM ]);
                    
                    var selectBoxStoreList = {
                            defaultItem    : ["ALL", "전체"]
                           ,data : DATA
                           ,targetId : "<@compId>_selectBoxStore" 
                    }
                    
                    C_UICOM.makeSelectBox(selectBoxStoreList, "single");
                });
                
                C_UICOM.addChangeListener("<@compId>_selectBoxStore", function(dataObj) {
                    <@compId>.store = dataObj;
                });
            }

            /*============= 매출 비교 그래프    매출 비교 그래프    매출 비교 그s래프    매출 비교 그래프    매출 비교 그래프    =============*/
            ,searchList1 : (requestParm) => {
            	console.log("searchList1 1")
                var month = requestParm["month"];
                var serviceUrl = '';
                if( month == 'ALL'){
                	serviceUrl = 'dashboardCorPerformance.getmenuSalesMonthTop5';
                }else{
                	serviceUrl = 'dashboardCorPerformance.getmenuSalesDayTop5';
                }

                var parm = {
                        queryId  : serviceUrl
                       ,requestParm   : requestParm
                }
        
                C_COM.requestQuery(parm, function(resultData) {
                    <@compId>.setChart1(resultData);
                });
                 
            	
            }

            ,setChartData : function( resultData, menuKey) {
                //console.log("=== setChart21Data");
                let resultList = [];
                var j = 0;
                for (var i=0; i< resultData.data.length; i++){
                    if( resultData.data[i].MENU_KEY == menuKey ){
                        resultList[j++] = resultData.data[i].SALES;
                    }
                }
                return resultList;
             }
            ,getSeriesArry : function( resultData) {
            	let arr = [];
                //중복 제거된 메뉴 찾기
                for (var i=0; i< resultData.data.length; i++){
                	
                    let menuMap = {};
                	menuMap.menuKey = resultData.data[i].MENU_KEY
                    menuMap.menuNm  = resultData.data[i].MENU_NM
                    arr.push(menuMap);
                }
                
                // Map을 사용하여 중복을 제거
                let map = new Map();
                arr.forEach(item => map.set(item.menuKey, item));
 
                // Map을 다시 배열로 변환
                let uniqueArr = Array.from(map.values());

                let seriesArr = [];
                for (let item of uniqueArr) {
                  var categoriesArr = <@compId>.setChartData( resultData, item.menuKey);
                  let seriesMap = {};
                  seriesMap.name = item.menuNm
                  seriesMap.data = categoriesArr
                  seriesArr.push(seriesMap);
                }
                return seriesArr;
             }
            ,getCategoryArr : function( resultData) {
                let arr = [];
                
                //중복 제거된 데이터 찾기
                for (var i=0; i< resultData.data.length; i++){
                    
                    let dataMap = {};
                    if( <@compId>.selectMonth == 'ALL'){
                    	dataMap.data = resultData.data[i].MONTH+"월";	
                    }else{
                    	dataMap.data = resultData.data[i].DAY+"일";
                    }
                    arr.push(dataMap);
                }
                
                // Map을 사용하여 중복을 제거
                let map = new Map();
                arr.forEach(item => map.set(item.data, item));
 
                // Map을 다시 배열로 변환
                let uniqueArr = Array.from(map.values());

                let dataArr = [];
                
                for (let item of uniqueArr) {
                  let dataMap = {};
                  dataMap.data = item.data
                  dataArr.push(item.data);
                }
                return dataArr;
             }
            ,setChart1 : (resultData) =>{

                 console.log("searchList1 2")
                 var seriesArr = <@compId>.getSeriesArry( resultData);
                 var categoryArr = <@compId>.getCategoryArr( resultData);
                 console.log("searchList1 3")
                 $('#<@compId>_chart1').highcharts({
                     title: {
                         text: '',
                         align: 'left'
                     },

                     yAxis: {
                         title: {
                             text: ''
                         }
                     },
                     colors: ['#3399ff', '#66ff00','#ffcc00', '#006600', '#ff0000'],
                     xAxis: {
                         categories: categoryArr,
                         accessibility: {
                             rangeDescription: '2'
                         }
                     },
                     plotOptions: {
                         column: {
                             pointPadding: 0.2,
                             borderWidth: 0
                         }
                     },
                     series: seriesArr,

                     responsive: {
                         rules: [{
                             condition: {
                                 maxWidth: 500
                             },
                             chartOptions: {
                                 legend: {
                                     layout: 'horizontal',
                                     align: 'center',
                                     verticalAlign: 'bottom'
                                 }
                             }
                         }]
                     }

                 });
             }//setChart22
            /*############# 매출 비교 그래프    매출 비교 그래프    매출 비교 그래프    매출 비교 그래프    매출 비교 그래프    #############*/
            
            /*============= 분류명별 매출액    분류명별 매출액    분류명별 매출액    분류명별 매출액    분류명별 매출액    =============*/
            ,searchList2 : (requestParm) => {
                
                var parm = {
                        queryId       : 'dashboardCorPerformance.getMenuGrp1SalesRanking'
                       ,requestParm   : requestParm
                }
       
                C_COM.requestQuery(parm, function(resultData) { 
                    <@compId>.setTotal2(resultData);
                    let isOnCall = true;
                    var rparm = {
                         targetId       : "<@compId>_tableId2"
                        ,list           : resultData.data
                        ,listRange      : 5         // 리스트 범위
                        ,pageRange      : 5         // Page 범위
                        ,pagingDomId    : "<@compId>_pageDiv2" // Page가 표시되는 Dom Id
                        ,totalCntDomId  : "<@compId>_total2"
                        ,onPageClickCallback : function(pageInfo) {
                        	if (isOnCall) {
                                <@compId>.setChart2(pageInfo);
                                isOnCall = false;
                        	}
                         }
                    }
                    C_PAGING.renderHtml("<@compId>", rparm);
                });
                
            }

            ,setTotal2 : (resultData) =>{
                
                let total = 0;
                for (var i=0; i<resultData.data.length; i++){
                    total += resultData.data[i].SALES;
                }
                $('#<@compId>_totalAmount2').text(total);
                
            }//searchList
            ,setChart2 : (resultData) =>{

                let seriesArr = [];
                let top5Sales = 0;

                for (var i=0; i<resultData.list.length; i++){

                    let seriesMap = {};
                    seriesMap.name = resultData.list[i].GROUP_1_NM;
                    seriesMap.y    = Number(resultData.list[i].SALES); 
                    seriesArr.push(seriesMap);
                    
                }
                var totalAmount = $('#<@compId>_totalAmount2').text();
                
                let seriesMap = {};
                seriesMap.name = '기타';
                seriesMap.y    = Number(totalAmount); 
                seriesArr.push(seriesMap);
                
                
                $("#<@compId>_chart2").highcharts({
                   

                    colors: ['#3399ff', '#66ff00','#ffcc00', '#006600', '#ff0000','#cc6633'],
                    chart: {
                        type: 'pie'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.0f}%</b>'
                    },
                    plotOptions: {
                       
                    },
                    series: [{
                        name: 'Registrations',
                        colorByPoint: true,
                        innerSize: '70%',
                        data: seriesArr
                    }]
                });
            }//setChart11
            /*############# 분류명별 매출액    분류명별 매출액    분류명별 매출액    분류명별 매출액    분류명별 매출액    #############*/
            
            /*============= 상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    =============*/
            ,searchList3 : (requestParm) => {
            	
                var parm = {
                        queryId       : 'dashboardCorPerformance.getMenuSalesRanking'
                       ,requestParm   : requestParm
                }
                console.log(" searchList3 1");
       
                C_COM.requestQuery(parm, function(resultData) { 
                    <@compId>.setTotal3(resultData);
                    let isOnCall = true;
                    var rparm = {
                         targetId       : "<@compId>_tableId3"
                        ,list           : resultData.data
                        ,listRange      : 5         // 리스트 범위
                        ,pageRange      : 5         // Page 범위
                        ,pagingDomId    : "<@compId>_pageDiv3" // Page가 표시되는 Dom Id
                        ,totalCntDomId  : "<@compId>_total3"
                        ,onPageClickCallback : function(pageInfo) {
                        	if (isOnCall) {
                        		<@compId>.setChart3(pageInfo);
                        		isOnCall = false;
                        	}
                         }
                    }
                    C_PAGING.renderHtml("<@compId>", rparm);
                });
            }

            ,setTotal3 : (resultData) =>{
                
                let total = 0;
                for (var i=0; i<resultData.data.length; i++){
                    total += resultData.data[i].SALES;
                }
                $('#<@compId>_totalAmount3').text(total);
                
            }
            ,setChart3 : (resultData) => {
                

                var categoriesArr = []; 
                var dataArr = [];
                
                let seriesArr = [];
                let top5Sales = 0;
                
                for (var i=0; i<resultData.list.length; i++){

                    let seriesMap = {};
                    seriesMap.name = resultData.list[i].MENU_NM;
                    seriesMap.y    = Number(resultData.list[i].SALES); 
                    seriesArr.push(seriesMap);
                    
                }
                var totalAmount3 = $('#<@compId>_totalAmount3').text();
                
                let seriesMap = {};
                seriesMap.name = '기타';
                seriesMap.y    = Number($('#<@compId>_totalAmount3').text()); 
                seriesArr.push(seriesMap);
                
                $("#<@compId>_chart3").highcharts({
                	colors: ['#3399ff', '#66ff00','#ffcc00', '#006600', '#ff0000','#cc6633'],
                    chart: {
                        type: 'pie'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.0f}%</b>'
                    },
                    plotOptions: {
                       
                    },
                    series: [{
                        name: 'Registrations',
                        colorByPoint: true,
                        innerSize: '70%',
                        data: seriesArr
                    }]
                });
            }
            /*############# 상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    #############*/
            
            /*============= 마진비교           마진비교          마진비교           마진비교           마진비교           =============*/
            ,searchList4 : (requestParm) => {
                console.log(" searchList4");
                
                var month = requestParm["month"];
                var serviceUrl = '';
                if( month == 'ALL'){
                    serviceUrl = 'dashboardCorPerformance.getmenuMarginMonthTop5';
                }else{
                    serviceUrl = 'dashboardCorPerformance.getmenuMarginDayTop5';
                }

                var parm = {
                        queryId  : serviceUrl
                       ,requestParm   : requestParm
                }
        
                C_COM.requestQuery(parm, function(resultData) {
                    <@compId>.setChart4(resultData);
                });
                 
            }

            ,setChart4 : (resultData) => {
                console.log("=== setChart4");
                
                var seriesArr = <@compId>.getSeriesArry( resultData);
                var categoryArr = <@compId>.getCategoryArr( resultData);
                
                $('#<@compId>_chart4').highcharts({
                    title: {
                        text: '',
                        align: 'left'
                    },

                    yAxis: {
                        title: {
                            text: ''
                        }
                    },
                    colors: ['#3399ff', '#66ff00','#ffcc00', '#006600', '#ff0000'],
                    xAxis: {
                        categories: categoryArr,
                        accessibility: {
                            rangeDescription: '2'
                        }
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: seriesArr,

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });
            }
            /*############# 마진비교           마진비교          마진비교           마진비교           마진비교           #############*/
            
            /*============= 상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트     =============*/
            ,searchList5 : (requestParm) => {
                console.log(" searchList5");
                var month = requestParm["month"];
                var serviceUrl = '';
                if( month == 'ALL'){
                    serviceUrl = 'dashboardCorPerformance.getMenuMonthCostRanking';
                }else{
                    serviceUrl = 'dashboardCorPerformance.getMenuMonthCostRanking';
                    //serviceUrl = 'dashboardCorPerformance.getMenuDayGrp1SalesRanking'; kbntt
                }
                
                var parm = {
                        queryId       : serviceUrl
                       ,requestParm   : requestParm
                }
       
                C_COM.requestQuery(parm, function(resultData) { 
                    <@compId>.setTotal5(resultData);
                    let isOnCall = true;
                    var rparm = {
                         targetId       : "<@compId>_tableId5"
                        ,list           : resultData.data
                        ,listRange      : 5         // 리스트 범위
                        ,pageRange      : 5         // Page 범위
                        ,pagingDomId    : "<@compId>_pageDiv5" // Page가 표시되는 Dom Id
                        ,totalCntDomId  : "<@compId>_total5"
                        ,onPageClickCallback : function(pageInfo) {
                            if (isOnCall) {
                                <@compId>.setChart5(pageInfo);
                                isOnCall = false;
                            }
                         }
                    }
                    C_PAGING.renderHtml("<@compId>", rparm);
                });
            }

            ,setTotal5 : (resultData) =>{
                
                let total = 0;
                for (var i=0; i<resultData.data.length; i++){
                    total += resultData.data[i].COST_PRICE;
                }
                $('#<@compId>_totalAmount5').text(total);
                
            }
            ,setChart5 : (resultData) => {
                console.log(" setChart6");
                var categoriesArr = []; 
                var dataArr = [];
                
                let seriesArr = [];
                let top5Sales = 0;
                
                for (var i=0; i<resultData.list.length; i++){

                    let seriesMap = {};
                    seriesMap.name = resultData.list[i].MENU_NM;
                    seriesMap.y    = Number(resultData.list[i].COST_PRICE); 
                    seriesArr.push(seriesMap);
                    
                }
                var totalAmount3 = $('#<@compId>_totalAmount5').text();
                
                let seriesMap = {};
                seriesMap.name = '기타';
                seriesMap.y    = Number($('#<@compId>_totalAmount5').text()); 
                seriesArr.push(seriesMap);
                
                $("#<@compId>_chart5").highcharts({
                    colors: ['#3399ff', '#66ff00','#ffcc00', '#006600', '#ff0000','#cc6633'],
                    chart: {
                        type: 'pie'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.0f}%</b>'
                    },
                    plotOptions: {
                       
                    },
                    series: [{
                        name: 'Registrations',
                        colorByPoint: true,
                        innerSize: '70%',
                        data: seriesArr
                    }]
                });
            }
            /*============= 상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트     =============*/
            
            /*============= 상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    =============*/
            ,searchList6 : (requestParm) => {
                
                var parm = {
                        queryId     : 'dashboardCorPerformance.getmenuMarginRanking'
                       ,requestParm : requestParm
                }
                console.log(" searchList3 1");
       
                C_COM.requestQuery(parm, function(resultData) { 
                    <@compId>.setTotal6(resultData);
                    let isOnCall = true;
                    var rparm = {
                         targetId       : "<@compId>_tableId6"
                        ,list           : resultData.data
                        ,listRange      : 5         // 리스트 범위
                        ,pageRange      : 5         // Page 범위
                        ,pagingDomId    : "<@compId>_pageDiv6" // Page가 표시되는 Dom Id
                        ,totalCntDomId  : "<@compId>_total6"
                        ,onPageClickCallback : function(pageInfo) {
                            if (isOnCall) {
                                <@compId>.setChart6(pageInfo);
                                isOnCall = false;
                            }
                         }
                    }
                    C_PAGING.renderHtml("<@compId>", rparm);
                });
            }

            ,setTotal6 : (resultData) =>{
                
                let total = 0;
                for (var i=0; i<resultData.data.length; i++){
                    total += resultData.data[i].MARGIN;
                }
                $('#<@compId>_totalAmount6').text(total);
                
            }
            ,setChart6 : (resultData) => {
                console.log(" setChart6");
                var categoriesArr = []; 
                var dataArr = [];
                
                let seriesArr = [];
                let top5Sales = 0;
                
                for (var i=0; i<resultData.list.length; i++){

                    let seriesMap = {};
                    seriesMap.name = resultData.list[i].MENU_NM;
                    seriesMap.y    = Number(resultData.list[i].MARGIN); 
                    seriesArr.push(seriesMap);
                    
                }
                var totalAmount3 = $('#<@compId>_totalAmount6').text();
                
                let seriesMap = {};
                seriesMap.name = '기타';
                seriesMap.y    = Number($('#<@compId>_totalAmount6').text()); 
                seriesArr.push(seriesMap);
                
                $("#<@compId>_chart6").highcharts({
                    colors: ['#3399ff', '#66ff00','#ffcc00', '#006600', '#ff0000','#cc6633'],
                    chart: {
                        type: 'pie'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.0f}%</b>'
                    },
                    plotOptions: {
                       
                    },
                    series: [{
                        name: 'Registrations',
                        colorByPoint: true,
                        innerSize: '70%',
                        data: seriesArr
                    }]
                });
            }
            /*============= 상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    =============*/
            
            
            ,setHandler : () => {

                $("#<@compId>_searchBtn").click( () =>{
                	
                	var buyerId = G_VAL.session.BUYER_ID;

                    var year        = C_UICOM.getData("<@compId>_selectBoxYear");
                    var month       = C_UICOM.getData("<@compId>_selectBoxMonth");
                    var group1      = C_UICOM.getData("<@compId>_selectGroup1");
                    var group2      = C_UICOM.getData("<@compId>_selectGroup2");
                    var menu        = C_UICOM.getData("<@compId>_selectBoxMenu");
                    var region      = C_UICOM.getData("<@compId>_selectBoxRegion");
                    var store       = C_UICOM.getData("<@compId>_selectBoxStore");
                    var supervisor  = C_UICOM.getData("<@compId>_selectBoxSupervisor");
                    
                    let requestParm = {};
                    requestParm["buyerId"]       = buyerId;
                    requestParm["year"]          = year;
                    requestParm["month"]         = month;
                    requestParm["group1"]        = group1;
                    requestParm["group2"]        = group2;
                    requestParm["menu"]          = menu;
                    requestParm["region"]        = region;
                    requestParm["store"]         = store;
                    requestParm["menu"]          = menu;
                    requestParm["supervisor"]    = supervisor;
                    
                    <@compId>.selectMonth = month;
                    
                    <@compId>.searchList1(requestParm);//매출 비교
                    <@compId>.searchList2(requestParm);//분류명별 매출액
                    <@compId>.searchList3(requestParm);//상세메뉴 매출액
                    <@compId>.searchList4(requestParm);//마진비교
                    <@compId>.searchList5(requestParm);//상세메뉴 코스트
                    <@compId>.searchList6(requestParm);//상세메뉴 마진금액
                })            
                
            } 

    }
    // Component Load가 완료된후 실행 된다.
    C_COMP.onLoadComp("<@compId>", function(data) {
        <@compId>.pageInit();
        <@compId>.setHandler();
    });
</script>

<div>
        <!--// 매장별 매출 분석 -->
        <!-- search area -->
        <div class="search_area plpr5">
        <div class="fl">
            <div class="select_box fl" style="width:132px">
                <div id="<@compId>_selectBoxYear" style="width:132px"></div>
            </div>
            <!-- -->
            <div class="select_box fl" style="width:132px">
                <div id="<@compId>_selectBoxMonth" style="width:132px"></div>
            </div>
            
            <!-- 대분류 선택 -->
            <div class="select_box fl" style="width:130px">
                <div id="<@compId>_selectGroup1" style="width:130px"></div>
            </div>
            <!-- 분류명 선택 -->
            <div class="select_box fl" style="width:150px">
                <div id="<@compId>_selectGroup2" style="width:150px"></div>
            </div>
            
            <span class="tit01 fl lh33">메뉴명</span>
            <!-- 대분류 선택 -->
            <div class="select_box fl" style="width:200px">
                <div id="<@compId>_selectBoxMenu" style="width:200px"></div>
            </div>
            
            <span class="tit01 fl lh33">권역</span>
            <!-- 권역 선택 -->
            <div class="select_box fl" style="width:100px">
                <div id="<@compId>_selectBoxRegion" style="width:100px"></div>
            </div>
            <!-- 매장명 선택 -->
            <div class="select_box fl" style="width:170px">
                <div id="<@compId>_selectBoxStore" style="width:170px"></div>
            </div>   
            <span class="tit01 fl lh33">슈퍼바이저</span>
            <!-- 슈퍼바이저 선택 -->
            <div class="select_box fl" style="width:132px">
                 <div id="<@compId>_selectBoxSupervisor" style="width:132px"></div>
            </div>
            <button type="button" class="btn select fl" id="<@compId>_searchBtn">조회</button>
        </div>
    </div>

        <section class="sec_wrap">
            <div class="cont_box">
                <h3>매출 비교 그래프</h3>
                <figure class="highcharts-figure2">
                    <div class="chart02_01" id="<@compId>_chart1" style="width:100%;height:280px;margin:0 auto">
                        <!-- 임시 차트 이미지
                        <img src="../img/img_chart_list11.png" style="width:100%;height:280px;">
                         -->
                    </div>
                </figure>
            </div>
        </section>

        <section class="sec_wrap">
            <div class="cont_box col2">
                <h3>분류명별 매출액</h3>
                <div class="clearFix">
                    <figure class="highcharts-figure2 fl mt20" style="width:45%">
                        <div class="chart02_01" id="<@compId>_chart2" style="width:100%;height:210px;margin:0 auto">
                            <!-- 임시 차트 이미지
                            <img src="../img/img_chart_list13.png" style="width:100%;height:210px;">
                             -->
                        </div>
                    </figure>
                    <div class="fl ml15" style="width:calc(55% - 15px)">
                        <h3>매출 TOP5 Total : <span id="<@compId>_total2"></span></h3>
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:50px;"/>
                                    <col style="*"/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="tl">분류명</th>
                                        <th scope="col" class="tr">총매출액</th>
                                    </tr>
                                </thead>
                                <tbody id="<@compId>_tableId2">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="tl">총합계</td>
                                        <td class="tr" id="<@compId>_totalAmount2"></td>
                                    </tr>
                                </tfoot>
                                <script type="text/x-jsrender" id="<@compId>_tableId2_template">   
                                    {{for list}}
                                    <tr>     
                                        <td class="tl">{{:rownum}}</td>    
                                        <td class="tl">{{:GROUP_1_NM}}</td> 
                                        <td class="tr">{{:SALES}}</td>  
                                    </tr>
                                    {{/for}}
                                </script>
                                <script type="text/x-jsrender" id="<@compId>_tableId2_noData_template">    
                                    <tr>    
                                        <td colspan=3>자료가 없습니다.</td>    
                                    </tr>
                                </script>
                            </table>
                        </div>
                        <!-- paging -->
                        <div class="paging" id="<@compId>_pageDiv2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont_box col2">
                <h3>상세 메뉴 매출액</h3>
                <div class="clearFix">
                    <figure class="highcharts-figure2 fl mt20" style="width:45%">
                        <div class="chart02_01" id="<@compId>_chart3" style="width:100%;height:210px;margin:0 auto">
                            <!-- 임시 차트 이미지
                            <img src="../img/img_chart_list13.png" style="width:100%;height:210px;">
                             -->
                        </div>
                    </figure>
                    <div class="fl ml15" style="width:calc(55% - 15px)">
                        <h3>매출 TOP5 Total : <span id="<@compId>_total3"></span></h3>
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:50px;"/>
                                    <col style="*"/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="tl">메뉴명</th>
                                        <th scope="col" class="tr">총매출액</th>
                                    </tr>
                                </thead>
                                <tbody id="<@compId>_tableId3">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="tl">총합계</td>
                                        <td class="tr" id="<@compId>_totalAmount3"></td>
                                    </tr>
                                </tfoot>
                                <script type="text/x-jsrender" id="<@compId>_tableId3_template">   
                                    {{for list}}
                                    <tr>     
                                        <td class="tl">{{:rownum}}</td>    
                                        <td class="tl">{{:MENU_NM}}</td> 
                                        <td class="tr">{{:SALES}}</td>  
                                    </tr>
                                    {{/for}}
                                </script>
                                <script type="text/x-jsrender" id="<@compId>_tableId3_noData_template">    
                                    <tr>    
                                        <td colspan=3>자료가 없습니다.</td>    
                                    </tr>
                                </script>
                            </table>
                        </div>
                        <!-- paging -->
                        <div class="paging" id="<@compId>_pageDiv3">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec_wrap">
            <div class="cont_box">
                <h3>마진 비교 그래프</h3>
                <figure class="highcharts-figure2">
                    <div class="chart02_01" id="<@compId>_chart4" style="width:100%;height:280px;margin:0 auto">
                        <!-- 임시 차트 이미지
                        <img src="../img/img_chart_list12.png" style="width:100%;height:280px;">
                         -->
                    </div>
                </figure>
            </div>
        </section>

        <section class="sec_wrap">
            <div class="cont_box col2">
                <h3>상세 메뉴 코스트 금액</h3>
                <div class="clearFix">
                    <figure class="highcharts-figure2 fl mt20" style="width:45%">
                        <div class="chart02_01"  id="<@compId>_chart5" style="width:100%;height:210px;margin:0 auto">
                            <!-- 임시 차트 이미지
                            <img src="../img/img_chart_list15.png" style="width:100%;height:210px;">
                             -->
                        </div>
                    </figure>
                    <div class="fl ml15" style="width:calc(55% - 15px)">
                        <h3>메뉴 Total : <span id="<@compId>_total5"></span></h3>
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:50px;"/>
                                    <col style="*"/>
                                    <col style="width:70px;"/>
                                    <col style="width:90px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="tl">메뉴명</th>
                                        <th scope="col">코스트올</th>
                                        <th scope="col" class="tr">코스트금액</th>
                                    </tr>
                                </thead>
                                <tbody id="<@compId>_tableId5">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="tl">총 합계</td>
                                        <td></td>
                                        <td class="tr" id="<@compId>_totalAmount5"></td>
                                    </tr>
                                </tfoot>
                                <script type="text/x-jsrender" id="<@compId>_tableId5_template">   
                                    {{for list}}
                                    <tr>     
                                        <td class="tl">{{:rownum}}</td>    
                                        <td class="tl">{{:MENU_NM}}</td>   
                                        <td class="tl">{{:COST_RATIO}}%</td> 
                                        <td class="tr">{{:COST_PRICE}}</td>  
                                    </tr>
                                    {{/for}}
                                </script>
                                <script type="text/x-jsrender" id="<@compId>_tableId5_noData_template">    
                                    <tr>    
                                        <td colspan=3>자료가 없습니다.</td>    
                                    </tr>
                                </script>
                            </table>
                        </div>
                        <!-- paging -->
                        <div class="paging" id="<@compId>_pageDiv5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont_box col2">
                <h3>상세 메뉴 마진 금액</h3>
                <div class="clearFix">
                    <figure class="highcharts-figure2 fl mt20" style="width:45%">
                        <div class="chart02_01" id="<@compId>_chart6" style="width:100%;height:210px;margin:0 auto">
                            <!-- 임시 차트 이미지
                            <img src="../img/img_chart_list16.png" style="width:100%;height:210px;">
                             -->
                        </div>
                    </figure>
                    <div class="fl ml15" style="width:calc(55% - 15px)">
                        <h3>메뉴 Total : <span id="<@compId>_total6"></span></h3>
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:50px;"/>
                                    <col style="*"/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="tl">메뉴명</th>
                                        <th scope="col" class="tr">마진금액
                                            <button class="inline" style="width:20px"><i class="icon_sorting"></i></button>
                                            <!-- <button class="inline" style="width:20px"><i class="icon_sorting2"></i></button> -->
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="<@compId>_tableId6">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="tl">총합계</td>
                                        <td class="tr" id="<@compId>_totalAmount6"></td>
                                    </tr>
                                </tfoot>
                                <script type="text/x-jsrender" id="<@compId>_tableId6_template">   
                                    {{for list}}
                                    <tr>     
                                        <td class="tl">{{:rownum}}</td>    
                                        <td class="tl">{{:MENU_NM}}</td> 
                                        <td class="tr">{{:MARGIN}}</td>  
                                    </tr>
                                    {{/for}}
                                </script>
                                <script type="text/x-jsrender" id="<@compId>_tableId6_noData_template">    
                                    <tr>    
                                        <td colspan=3>자료가 없습니다.</td>    
                                    </tr>
                                </script>
                            </table>
                        </div>
                        <!-- paging -->
                        <div class="paging" id="<@compId>_pageDiv6">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 매장별 매출 분석 //-->
<div>
