<meta charset="utf-8">
<script type="text/javascript">
	var <@compId> = {
		 baseFolderId 		: "BASE"
		,topFolderId		: "BASE"
		,upFolderId			: ""
		,onClickCheck		: false
		,BUYER_ID			: "<@BUYER_ID>"
		,leftFolderList		: []
		,subFolderList		: []
		,selectFolderId		: ""
		,shareMsgList		: []
		,loadLeftFolderList	: function(defaultIdx) {

			let baseFolderId = <@compId>.baseFolderId;
			
			if(isEmpty(defaultIdx)) defaultIdx = 0;

			var parm = {
				queryGroup : [
					 {
						 queryId 		: "faDashboard.getSubFolderList"
						,requestParm	: {
							 FOLDER_ID 		: baseFolderId
							,BUYER_ID		: <@compId>.BUYER_ID
							,LOGIN_TYPE		: G_VAL.session.LOGIN_TYPE
						}
					 }
					,{
						 queryId 		: "faDashboard.getFolderInfo"
						,requestParm	: {
							 FOLDER_ID 		: baseFolderId
						}
					 }
					,{
						 queryId 		: "faDashboard.getFolderPath"
						,requestParm	: {
							 FOLDER_ID 		: baseFolderId
						}
					 }
				]
			}

			C_COM.requestQuery(parm, function(resultData) {
				
				if(baseFolderId != <@compId>.topFolderId) {
					<@compId>.upFolderId = resultData.data["faDashboard.getFolderInfo"][0].UP_FOLDER_ID;
				}
				
				// 경로 설정
				let folderPathList 	= resultData.data["faDashboard.getFolderPath"];

				let buyerInfo		= getBuyerInfo("<@BUYER_ID>");
				var rparm = {
					 targetId 		: "folderPath"
					,list			: folderPathList
					,buyerInfo		: buyerInfo
				}
				C_COM.renderHtml("<@compId>", rparm);
				
				<@compId>.leftFolderList = resultData.data["faDashboard.getSubFolderList"];
				
				$.each(<@compId>.leftFolderList, function(idx) {
					if(idx == defaultIdx) {
						<@compId>.leftFolderList[idx].cls 	= ` class="active"`;
						<@compId>.selectFolderId			= this.FOLDER_ID;
					}
				});
				var rparm = {
					 targetId 		: "leftFolder"
					,list			: <@compId>.leftFolderList
				}
				C_COM.renderHtml("<@compId>", rparm);
				
				if(baseFolderId == <@compId>.topFolderId) {
					$("#<@compId> #upFolder").hide();
					$("#<@compId> #noFolder").hide();
					if(isEmpty(<@compId>.leftFolderList)) {
						$("#<@compId> #noFolder").show();
					}
				} else {
					$("#<@compId> #upFolder").show();
					$("#<@compId> #noFolder").hide();
				}
			
				
				if(isValid(<@compId>.leftFolderList)) {
					<@compId>.loadSubFolderList(<@compId>.selectFolderId);	
				} else {
					<@compId>.clearRightBlock();					
				}
			});  
		 }
		,clearRightBlock : function() {
			var rparm = {
				 targetId 		: "subFolder"
				,list			: []
			}
			C_COM.renderHtml("<@compId>", rparm);
			
			var rparm = {
				 targetId 		: "shareMsg"
				,list			: []
			}
			
			C_COM.renderHtml("<@compId>", rparm);

			var parm = {
				 GRP_FILE_ID 	: "NA"
				,OWNER_CD 		: "NA"
				,mode			: "M"
				,title			: "NA"
				,hideComponent	: "Y"		// 화면에 보여주지 않고 기능만 활용함.
				,templateId		: "<@compId>"
			}

			C_COMP.import("folderFileMng", "component_compMultiFilemng", parm , function() {
				
			});
			
		 }
		,loadSubFolderList : function(selectFolderId) {
			
			if(isEmpty(selectFolderId)) selectFolderId = <@compId>.selectFolderId;
			
			var parm = {
				 queryId 		: "faDashboard.getSubFolderList"
				,requestParm	: {
					 FOLDER_ID 		: selectFolderId
					,BUYER_ID		: <@compId>.BUYER_ID
				}
			}
			C_COM.requestQuery(parm, function(resultData) {
				<@compId>.subFolderList 	= resultData.data;
				<@compId>.selectFolderId	= selectFolderId

				var rparm = {
					 targetId 		: "subFolder"
					,list			: <@compId>.subFolderList
				}
				
				C_COM.renderHtml("<@compId>", rparm);
				
				<@compId>.initFolderFileMng(selectFolderId);
				
				<@compId>.loadShareMsgList();
			});  
		 }
		// File Mng Setting
		,initFolderFileMng : function(folderId) {
			<@compId>.folderFileMng.init("MN_DSH_FOLDER", folderId);
		 }
		,selectLeftFolder	: function(folderId) {
			<@compId>.onClickCheck = true;
			setTimeout(function() {
				if(<@compId>.onClickCheck) <@compId>.loadSubFolderList(folderId);
				<@compId>.onClickCheck = false;
			}, 250);
		 }
		,addFolder : function() {
			C_POP.open('popup_common_inputOnelinePopup', {title1 : "폴더추가", title2 : "폴더명", msg : ""}, function(retData) {

				if(isEmpty(retData)) return;
				
				let folderNm = retData.msg;
				let baseFolderId = <@compId>.baseFolderId;
				let folderInfo = {
					 FOLDER_ID 		: C_COM.makeUniqueId()
					,FOLDER_NM 		: folderNm
					,BUYER_ID		: <@compId>.BUYER_ID
					,UP_FOLDER_ID	: baseFolderId
				}				
				<@compId>.saveFolder(folderInfo, <@compId>.loadLeftFolderList);				
			});
		 }
		,saveFolder : function(folderInfo, callback) {

			var parm = {
				 queryId 		: "faDashboard.saveFolder"
				,requestParm	: folderInfo
			}
			C_COM.requestQuery(parm, function(resultData) {
				if(resultData.state == "S") {
					if(typeof callback == "function") callback();
				} else if(resultData.state == "E") {
					C_POP.alert('폴더저장에 실패하였습니다.');
				}					
			});  
		 }
		,modifyFolder : function() {
			$("#<@compId> #leftFolder li[class=active]").each(function() {
				let idx = $(this).attr("idx");
				selectFolderInfo = <@compId>.leftFolderList[idx];
				
				C_POP.open('popup_common_inputOnelinePopup', {title1 : "폴더수정", title2 : "폴더명", msg : selectFolderInfo.FOLDER_NM}, function(retData) {
					
					if(isEmpty(retData)) return;
					
					selectFolderInfo.FOLDER_NM = retData.msg;
					
					<@compId>.saveFolder(selectFolderInfo, <@compId>.loadLeftFolderList);
				});
			});
		 }
		,addSubFolder : function() {
			let selectFolderInfo = "";
			$("#<@compId> #leftFolder li[class=active]").each(function() {
				let idx = $(this).attr("idx");
				selectFolderInfo = <@compId>.leftFolderList[idx];
			});

			if(isEmpty(selectFolderInfo)) {
				C_POP.alert('상위 폴더를 선택해 주세요.')
				return;
			}
			C_POP.open('popup_common_inputOnelinePopup', {title1 : "폴더추가", title2 : "폴더명", msg : ""}, function(retData) {

				if(isEmpty(retData)) return;
				
				let folderNm = retData.msg;
				
				let baseFolderId = selectFolderInfo.FOLDER_ID;
				
				let folderInfo = {
					 FOLDER_ID 		: C_COM.makeUniqueId()
					,FOLDER_NM 		: folderNm
					,BUYER_ID		: <@compId>.BUYER_ID
					,UP_FOLDER_ID	: baseFolderId
				}				
				<@compId>.saveFolder(folderInfo, function() {
					<@compId>.loadSubFolderList(baseFolderId);	
				});
			});
		 }
		,moveFolder : function(folderId, idx) {
			<@compId>.onClickCheck = false;
			<@compId>.baseFolderId = folderId;
			<@compId>.loadLeftFolderList(idx);
		 }
		,moveUpFolder : function() {
			
			 <@compId>.baseFolderId = <@compId>.upFolderId;
			
			<@compId>.loadLeftFolderList();
		 }
		,selectFile : function() {
			
			let selectFolderInfo = "";
			$("#<@compId> #leftFolder li[class=active]").each(function() {
				let idx = $(this).attr("idx");
				selectFolderInfo = <@compId>.leftFolderList[idx];
			});

			if(isEmpty(selectFolderInfo)) {
				C_POP.alert('상위 폴더를 선택해 주세요.')
				return;
			}
			
			<@compId>.folderFileMng.selectFile();
		 }
		,loadShareMsgList : function() {
			
			var parm = {
				 queryId 		: "faDashboard.getShareMsgList"
				,requestParm	: { FOLDER_ID : <@compId>.selectFolderId }
				,noLoadingBar	: "Y"
			}
			C_COM.requestQuery(parm, function(resultData) {
				
				var rparm = {
					 targetId 		: "shareMsg"
					,list			: resultData.data
				}
				
				C_COM.renderHtml("<@compId>", rparm);
				
				$('#<@compId> #shareMsg').scrollTop($('#<@compId> #shareMsg')[0].scrollHeight);

				<@compId>.shareMsgList = resultData.data;

			});  
			
		 }
		,addShareMsg : function() {
			let folderMsg = $("#<@compId> #folderMsg").val();
			
			if(isEmpty(folderMsg)) {
				C_POP.alert("메시지를 입력하세요.");
				return;
			}
			
			let selectFolderInfo = "";
			$("#<@compId> #leftFolder li[class=active]").each(function() {
				let idx = $(this).attr("idx");
				selectFolderInfo = <@compId>.leftFolderList[idx];
			});

			if(isEmpty(selectFolderInfo)) {
				C_POP.alert('상위 폴더를 선택해 주세요.')
				return;
			}
			
			if(isEmpty(<@compId>.selectFolderId)) {
				C_POP.alert("좌측 영역에서 폴더를 추가 하신 후에 메시지를 남겨주세요.");
				return;
			}
			var parm = {
				 queryId 		: "faDashboard.saveShareMsg"
				,requestParm	: { 
					 FOLDER_MSG_ID 	: C_COM.makeUniqueId()
					,FOLDER_ID 		: <@compId>.selectFolderId
					,CONTENT		: folderMsg
				}
				,noLoadingBar		: "Y"
			}
			C_COM.requestQuery(parm, function(resultData) {
				if(resultData.state == "S") {
					<@compId>.loadShareMsgList();
					$("#<@compId> #folderMsg").val("").focus();
				} else if(resultData.state == "E") {
					C_POP.alert('메시지 저장에 실패하였습니다.');
				}					
			});  
		 }
		,modifyMsg : function(index) {
			let shareMsg = <@compId>.shareMsgList[index];
			
			C_POP.open('popup_common_inputOnelinePopup', { title1 : "메시지 수정", title2 : "메시지", msg : shareMsg.CONTENT }, function(retData) {
				
				var parm = {
					 queryId 		: "faDashboard.saveShareMsg"
					,requestParm	: { 
						  FOLDER_MSG_ID		: shareMsg.FOLDER_MSG_ID
						 ,CONTENT			: retData.msg
					}
				}
				C_COM.requestQuery(parm, function(resultData) {
					if(resultData.state == "S") {
						<@compId>.loadShareMsgList();
					} else if(resultData.state == "E") {
						C_POP.alert('메시지 수정 실패하였습니다.');
					}
				});
			});
		 }
		,delShareMsg : function(index) {
			let shareMsg = <@compId>.shareMsgList[index];
			C_POP.confirm(`'${shareMsg.CONTENT}' 메시지를 삭제 하시겠습니까?`, function() {
				var parm = {
					 queryId 		: "faDashboard.delShareMsg"
					,requestParm	: shareMsg
				}
				C_COM.requestQuery(parm, function(resultData) {
					if(resultData.state == "S") {
						<@compId>.loadShareMsgList();
						$("#<@compId> #folderMsg").focus();
					} else if(resultData.state == "E") {
						C_POP.alert('메시지 삭제에 실패하였습니다.');
					}					
				});  
			});
		 }
		,deleteFolder : function() {
			if(isEmpty(<@compId>.selectFolderId)) {
				C_POP.alert('폴더를 선택해 주세요');
				return;
			}	
			C_POP.confirm('선택된 폴더를 삭제하시겠습니까?', function() {
				var parm = {
					 queryId 		: "faDashboard.deleteFolder"
					,requestParm	: { 
						 FOLDER_ID 		: <@compId>.selectFolderId
					}
				}
				C_COM.requestQuery(parm, function(resultData) {
					if(resultData.state == "S") {
						<@compId>.loadLeftFolderList();
					} else if(resultData.state == "E") {
						C_POP.alert('폴더 삭제 실패하였습니다.');
					}					
				});  
			});
		 }
		,deleteSubFolder : function(folderId) {
			C_POP.confirm('폴더를 삭제하시겠습니까?', function() {
				var parm = {
					 queryId 		: "faDashboard.deleteFolder"
					,requestParm	: { 
						 FOLDER_ID 		: folderId
					}
				}
				C_COM.requestQuery(parm, function(resultData) {
					if(resultData.state == "S") {
						<@compId>.loadSubFolderList();
					} else if(resultData.state == "E") {
						C_POP.alert('폴더 삭제 실패하였습니다.');
					}					
				});  
			});
		 }
		,addFile : function() {
			let selectFolderInfo = "";
			$("#<@compId> #leftFolder li[class=active]").each(function() {
				let idx = $(this).attr("idx");
				selectFolderInfo = <@compId>.leftFolderList[idx];
			});
			if(isEmpty(selectFolderInfo)) {
				C_POP.alert('상위 폴더를 선택해 주세요.')
				return;
			}
			<@compId>.folderFileMng.selectFile();
		 }
		,renderFileList : function(fileList) {
			let rparm = {
			     targetId   : "fileList"
			    ,list       : fileList
			}
			C_COM.renderHtml("<@compId>", rparm);
/*			
			if(isEmpty(fileList)) {
				$("#<@compId> #fileList").parent().addClass("flex-midle");
			} else {
				$("#<@compId> #fileList").parent().removeClass("flex-midle");
			}
*/
		 }
	}
	// Component Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(data) {
		if(isValid(data.BASE_FOLDER_ID)) {
			<@compId>.baseFolderId 	= data.BASE_FOLDER_ID;
		}
		if(isValid(data.TOP_FOLDER_ID)) {
			<@compId>.topFolderId 	= data.TOP_FOLDER_ID;
		}
		if(isEmpty(data.BUYER_ID)) {
			C_POP.alert('관리 고객이 없습니다.');
			return;
		} else {
			<@compId>.loadLeftFolderList();
		}
		var parm = {
			 GRP_FILE_ID 	: "NA"
			,OWNER_CD 		: "NA"
			,mode			: "M"
			,title			: "NA"
			,hideComponent	: "Y"		// 화면에 보여주지 않고 기능만 활용함.
			,templateId		: "<@compId>"
		}
		C_COMP.import("folderFileMng", "component_compMultiFilemng", parm , function(fileList) {
			<@compId>.renderFileList(fileList);
		});
	});
</script>
<component>
	<section class="sec_wrap mb15 <@mt15>">
		<div class="cont_box font12" id="folderPath">
		</div>
		<script type="text/x-jsrender" id="folderPath_template">
			<a href="javascript:<@compId>.moveFolder('BASE')"><strong>{{:buyerInfo.BUYER_NM}}</strong></a> 
		{{for list}}
			&gt; <a href="javascript:<@compId>.moveFolder('{{:FOLDER_ID}}')">{{:FOLDER_NM}}</a>
		{{/for}}
		</script>
		<script type="text/x-jsrender" id="folderPath_noData_template">	
			<a href="javascript:<@compId>.moveFolder('BASE')"><strong>{{:buyerInfo.BUYER_NM}}</strong></a> 
		</script>
	</section>
	<div class="sec_scroll" style="height:calc(100% - <@calc>px);">
		<section class="sec_wrap h100">
			<!-- 분류별 실적 -->
			<div class="cont_box left v2 h100">
				<ul class="folder_menu" id="leftFolder">
				</ul>
				<script type="text/x-jsrender" id="leftFolder_template">
					<li id="upFolder" onDblclick="<@compId>.moveUpFolder()">..</li>	
				{{for list}}
					<li idx="{{:#index}}" {{:cls}} onclick="<@compId>.selectLeftFolder('{{:FOLDER_ID}}')" onDblClick="<@compId>.moveFolder('{{:FOLDER_ID}}', 0 )">{{:FOLDER_NM}}</li>
				{{/for}}
				</script>
				<script type="text/x-jsrender" id="leftFolder_noData_template">	
					<li id="upFolder" onDblclick="<@compId>.moveUpFolder()">..</li>	
					<li id="noFolder">폴더를 추가해주세요.</li>	
				</script>
				<div class="fr" style="height:30px;line-height:30px;">
					<button class="btn small select" onclick="<@compId>.addFolder()">추가</button>
					<button class="btn small select" onclick="<@compId>.modifyFolder()">수정</button>
					<button class="btn small select" onclick="<@compId>.deleteFolder()">삭제</button>
				</div>
			</div>
			<div class="cont_box right v2 h100" style="overflow-y:auto;">							
				<!--// 폴더 등록 -->
				<div class="clearFix mb10">
					<h3 class="fl <@mtb0>">폴더</h3>
					<a href="#modal-ex02" class="btn small fl" onclick="<@compId>.addSubFolder()">등록</a>
				</div>
				<ul class="listBtn v2" id="subFolder">
				</ul>
				<script type="text/x-jsrender" id="subFolder_template">	
				{{for list}}
					<li>
						<a href="javascript:;" class="btn" onDblClick="<@compId>.moveFolder('{{:UP_FOLDER_ID}}', {{:#index}} )">{{:FOLDER_NM}}</a>
						<button class="close" onclick="<@compId>.deleteSubFolder('{{:FOLDER_ID}}')">닫기</button>
					</li>
				{{/for}}
				</script>
				<script type="text/x-jsrender" id="subFolder_noData_template">	
					<li>
						등록된 폴더가 없습니다.
					</li>
				</script>
				<!-- 폴더 등록 //-->

				<div class="clearFix" style="height:calc(100% - 153px);">
					<div class="fl w50 h100">
						<!--// 파일 등록 -->
						<div class="clearFix mb10 mt15">
							<h3 class="fl <@mtb0>">첨부파일</h3>
							<button type="button" class="stateBtn file fl mt0" onclick="<@compId>.addFile()"><span>등록</span></button>
						</div>
						<input name="file" type="file" id="file-input" tabindex="-1" title="파일찾기">
						<div class="approver_list_wrap person" style="max-height:calc(100% - 49px);height:calc(100% - 49px)">
							<ul class="approver_list" id="fileList">
							</ul>
							<script type="text/x-jsrender" id="fileList_template">
							{{for list}}
								<li><span class="txt" onclick="<@compId>.folderFileMng.download('{{:FILE_ID}}')"><span>{{:ORG_FILE_NM}}</span> / <span>{{toKb:FILE_SIZE}}</span> Kb</span><button class="pay_close" onclick="<@compId>.folderFileMng.deleteFile('{{:FILE_ID}}')">닫기</button></li>
							{{/for}}
							</script>
							<script type="text/x-jsrender" id="fileList_noData_template">	
								<li class="tc"><span class="txt"><span>첨부파일이 없습니다.</span></li>
							</script>
						</div>
						<component id="folderFileMng">
						</component>
						<!-- 파일 등록 //-->
					</div>
					<div class="fl w50 h100">
						<!--// 공유 메시지 -->
						<h3 class="mt15 mb10">공유 메시지</h3>
						<ul class="share_msg" id="shareMsg" style="max-height:calc(100% - 92px);height:calc(100% - 92px);">
						</ul>
						<script type="text/x-jsrender" id="shareMsg_template">	
						{{for list}}
							<li><span class="time">{{:UPDATE_DATE}}</span> <strong>{{:UPDATE_USER_NM}}</strong> <span class="txt">{{:CONTENT}}</span> 
								<div class="fr"><button onclick="<@compId>.modifyMsg({{:#index}})"><i class="icon_pen"></i></button><button onclick="<@compId>.delShareMsg({{:#index}})"><i class="icon_trash"></i></button></div>
							</li>
						{{/for}}
						</script>
						<script type="text/x-jsrender" id="shareMsg_noData_template">	
							<li class="tc">
								<span class="txt">등록된 내용이 없습니다.</span>
							</li>
						</script>
						<div class="comment clearFix mt10">
							<strong class="fl lh33">메시지</strong>
							<input class="fl" type="text" style="width:calc(100% - 120px);" value="" id="folderMsg" onEnter="<@compId>.addShareMsg()">
							<button class="btn fl" onclick="<@compId>.addShareMsg()">등록</button>
						</div>
						<!-- 공유 메시지 //-->
					</div>
					
				</div>
			</div>
		</section>
	</div>
</component>
