<meta charset="utf-8">
<script type="text/javascript">
    var <@compId> = {
              searchedRows : [] // 페이지
             ,selectProduct : ''
             ,pageInit : () => {

                 var now = new Date();   // 현재 날짜 및 시간
                 var thisYear = now.getFullYear();   // 연도
                 
                 var startDate = new Date();
                 startDate.setFullYear(startDate.getFullYear() - 5);// 현재년도의 과거 5년
                 var startYear = startDate.getFullYear();   // 연도
                 
                 const yearsArray = Array.from({ length: 6 }, (_, index) => {
                       const year = startYear + index;
                       console.log("year ==>"+year);
                       return [year.toString(), year + "년"];
                 }).reverse();

                 const monthsArray = Array.from({ length: 12 }, (_, index) => {
                       const months = ("0"+(1 + index) ).slice(-2);
                       return [months.toString(), months + "월"];
                 });


                 var startYearsArrayList = { data : yearsArray,targetId : "<@compId>_startYears"}
                 C_UICOM.makeSelectBox(startYearsArrayList, "single");
                 C_UICOM.setSingleBox("<@compId>_startYears", dayjs().year());
                 C_UICOM.addChangeListener("<@compId>_startYears", function(dataObj) {
                     <@compId>.checkDay();
                 });
                 
                 var startMonthsArrayList = { data : monthsArray,targetId : "<@compId>_startMonths"}
                 C_UICOM.makeSelectBox(startMonthsArrayList, "single");
                 C_UICOM.setSingleBox("<@compId>_startMonths", ("0"+(dayjs().month() + 1) ).slice(-2));
                 C_UICOM.addChangeListener("<@compId>_startMonths", function(dataObj) {
                     <@compId>.checkDay();
                 });
                 
                 var endYearsArrayList = { data : yearsArray,targetId : "<@compId>_endYears"}
                 C_UICOM.makeSelectBox(endYearsArrayList, "single");
                 C_UICOM.setSingleBox("<@compId>_endYears", dayjs().year());
                 C_UICOM.addChangeListener("<@compId>_endYears", function(dataObj) {
                     <@compId>.checkDay();
                 });
                 
                 var endMonthsArrayList = { data : monthsArray,targetId : "<@compId>_endMonths"}
                 C_UICOM.makeSelectBox(endMonthsArrayList, "single");
                 C_UICOM.setSingleBox("<@compId>_endMonths", ("0"+(dayjs().month() + 1) ).slice(-2));
                 C_UICOM.addChangeListener("<@compId>_endMonths", function(dataObj) {
                     <@compId>.checkDay();
                 });
             }

             /* ******  UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    */
             ,getMonthDifference : (start, end) =>{
                 var startYear = parseInt(start.split('-')[0], 10);
                 var startMonth = parseInt(start.split('-')[1], 10);
                 var endYear = parseInt(end.split('-')[0], 10);
                 var endMonth = parseInt(end.split('-')[1], 10);

                 var yearDifference = endYear - startYear;
                 var monthDifference = endMonth - startMonth;

                 return yearDifference * 12 + monthDifference;
              }

             ,checkDay : () =>{

                 var startYears  = C_UICOM.getData("<@compId>_startYears");
                 var startMonths = C_UICOM.getData("<@compId>_startMonths");
                 var endYears    = C_UICOM.getData("<@compId>_endYears");
                 var endMonths   = C_UICOM.getData("<@compId>_endMonths");
                 
                 var startDate  = startYears+"-"+startMonths;
                 var endDate    = endYears+"-"+endMonths;
                 
                 var dateStart  = startYears+startMonths;
                 var dateEnd    = endYears+endMonths;
                 
                 //시작일이 종료일보다 클경우 종료일을 시작일로 변경
                 if( Number(dateStart) > Number(dateEnd) ){
                     C_UICOM.setSingleBox("<@compId>_endYears", startYears);
                     C_UICOM.setSingleBox("<@compId>_endMonths", startMonths);
                 }
                 
                 var monthDifference = <@compId>.getMonthDifference(startDate, endDate);
                 
                 //조회 기간은 12 개월이상일 경우 종료일을 12개월로 변경
                 if( 12 <= monthDifference  ){

                     var date = new Date(startYears, startMonths - 1);
                     date.setMonth(date.getMonth() + 11);
                     var resultYear = date.getFullYear();
                     var resultMonth = ('0' + (date.getMonth() + 1)).slice(-2); // 월은 0부터 시작하므로 다시 1을 더해주고, 두 자리로 맞춤

                     C_UICOM.setSingleBox("<@compId>_endYears", resultYear.toString());
                     C_UICOM.setSingleBox("<@compId>_endMonths", resultMonth.toString());
                     
                 }
             }
             /* #######  UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    */
             ,brandIdSet : (brandId) => {

                 console.log("== Tab2 brandIdSet ===>");
                 
                 <@compId>.BRAND_ID = brandId;
                 
                 // 권역
                 var regionList = C_COM.getBrandCodeList( brandId , "STORE_REGION");                
                 var selectBoxRegionList = { 
                      defaultItem    : ["ALL", "선택"] 
                     ,data : regionList
                     ,targetId : "<@compId>_selectBoxRegion" 
                 }
                 C_UICOM.makeSelectBox(selectBoxRegionList, "single");
                 <@compId>.region = "ALL";
                 
                 C_UICOM.addChangeListener("<@compId>_selectBoxRegion", function(dataObj) {
                     <@compId>.region = dataObj;
                     <@compId>.getSelectStore();
                 });
                 
                 // 매장
                 <@compId>.getSelectStore();
                 
                 // 슈퍼바이저
                 var supervisorList = C_COM.getBrandCodeList( brandId , "SUPERVISOR");
                 
                 var selectBoxSupervisorList = {

                      defaultItem    : ["ALL", "선택"]
                     ,data : supervisorList
                     ,targetId : "<@compId>_selectBoxSupervisor" 
                 }
                 C_UICOM.makeSelectBox(selectBoxSupervisorList, "single");
                 <@compId>.supervisor = "ALL";
                 
                 C_UICOM.addChangeListener("<@compId>_selectBoxSupervisor", function(dataObj) {
                     <@compId>.supervisor = dataObj;
                 });
                 
                 <@compId>.getSelectProduct();
                 
             }


             ,getSelectProduct : () => {
                 
                 console.log("getSelectProduct 1 ");
                 
                 let requestParm = {};
                 requestParm["brandId"]  = <@compId>.BRAND_ID ;
                 var parm1 = {
                         queryId  : "dashboardCorPerformance.getProductList"
                        ,requestParm   : requestParm
                 }

                 C_COM.requestQuery(parm1, function(resultData) {
                     
                     const DATA = resultData.data.map( item => [ item.PRODUCT_CD, item.PRODUCT_NM ]);
                     
                     if( DATA.length > 0 ){
                         var selectBoxProductList = {
                                 data : DATA
                                ,targetId : "<@compId>_selectBoxProduct" 
                         } 
                         C_UICOM.makeSelectBox(selectBoxProductList, "single");
                     }else{

                         var selectBoxProductList = {

                              defaultItem    : ["NOTTHING", "없음"]
                             ,data : DATA
                             ,targetId : "<@compId>_selectBoxProduct" 
                         }
                         C_UICOM.makeSelectBox(selectBoxProductList, "single");
                     }
                     
                 });
                 C_UICOM.addChangeListener("<@compId>_selectBoxProduct", function(dataObj) {
                     <@compId>.selectProduct = dataObj;
                 });
             }
             ,getSelectStore : () => {

                 let requestParm = {};
                 requestParm["spCstmId"] = G_VAL.session.spCstmId ;
                 requestParm["brandId"]  = <@compId>.BRAND_ID ;
                 requestParm["region"]   = <@compId>.region ;
                 
                 var parm1 = {
                         queryId  : "dashboardCorPerformance.getStore"
                        ,requestParm   : requestParm
                 }
                 
                 C_COM.requestQuery(parm1, function(resultData) {
                     
                     const DATA = resultData.data.map( item => [ item.CODE_ID, item.CODE_NM ]);
                     
                     var selectBoxStoreList = {
                             defaultItem    : ["ALL", "선택"]
                            ,data : DATA
                            ,targetId : "<@compId>_selectBoxStore" 
                     }
                     
                     C_UICOM.makeSelectBox(selectBoxStoreList, "single");
                 });
                 
                 C_UICOM.addChangeListener("<@compId>_selectBoxStore", function(dataObj) {
                     <@compId>.store = dataObj;
                 });
             }
            ,searchList : () => {

                var startYears  = C_UICOM.getData("<@compId>_startYears");
                var startMonths = C_UICOM.getData("<@compId>_startMonths");
                var endYears    = C_UICOM.getData("<@compId>_endYears");
                var endMonths   = C_UICOM.getData("<@compId>_endMonths");
                var region      = C_UICOM.getData("<@compId>_selectBoxRegion");
                var storeId     = C_UICOM.getData("<@compId>_selectBoxStore");
                var productCd   = C_UICOM.getData("<@compId>_selectBoxProduct");
                var startDate   = startYears+"-"+startMonths;
                var endDate     = endYears+"-"+endMonths;
                var brandId = <@parentId>.getParentBrandId();

                if(brandId == undefined){
                    C_POP.alert("브랜드가 없습니다.");
                    return;
                }
                
                console.log("storeId ==>"+storeId);
                if( "ALL" == storeId ){
                    C_POP.alert("지점을 선택해 주세요.");
                    return;
                }
                
                let requestParm = {};
                requestParm["brandId"]      = brandId;
                requestParm["storeId"]      = storeId;
                requestParm["startDate"]    = startDate;
                requestParm["endDate"]      = endDate;
                requestParm["region"]       = region;
                requestParm["productCd"]    = productCd;
                
                const listRange = C_UICOM.getData("<@compId>_pagingChunk");

                var parm = {
                        queryId  : "dashboardCorPerformance.getInventoryManage"
                       ,requestParm   : requestParm
                }
       
                C_COM.requestQuery(parm, function(resultData) {
                    //<@compId>.setTotal12(resultData);
                    
                    var rparm = {
                         targetId       : "<@compId>_tableId" 
                        ,list           : resultData.data
                        ,listRange      : 10         // 리스트 범위
                        ,pageRange      : 5         // Page 범위
                        ,pagingDomId    : "<@compId>_pageDiv" // Page가 표시되는 Dom Id
                        ,totalCntDomId  : "<@compId>_totalCnt"
                        ,onPageClickCallback : function(pageInfo) {
                         }
                    }
                    C_PAGING.renderHtml("<@compId>", rparm);
                });
            }
            ,setHandler : () => {

                $("#<@compId>_pagingChunk"  ).off().on('change',() =><@compId>.searchList(""));
                
                $("#<@compId>_searchBtn").click( () =>{
                    <@compId>.searchList();
                })            
                
            }
    }
    // Component Load가 완료된후 실행 된다.
    C_COMP.onLoadComp("<@compId>", function(data) {
        <@compId>.pageInit();
        <@compId>.setHandler();
    });
</script>
<div class="container">
    <div class="cont_wrap lnb_none">
        <div class="sec_scroll">
            <section class="sec_wrap">
                <div class="cont_box">
                    <!-- search area -->
                    <div class="search_area">
                        <div class="calendar_wrap">
                            <!-- 시작년월 선택 -->
                            <div class="select_box fl" style="width:100px">
                                <div id="<@compId>_startYears" style="width:100px"></div>
                            </div>
                            <div class="select_box fl" style="width:100px">
                                <div id="<@compId>_startMonths" style="width:100px"></div>
                            </div>
                            <div class="calendar_wrap fl">
                                <label for="to">~</label>
                            </div>
                            <!-- 종료년월 선택 -->
                            <div class="select_box fl" style="width:100px">
                                <div id="<@compId>_endYears" style="width:100px"></div>
                            </div>
                            <div class="select_box fl" style="width:100px">
                                <div id="<@compId>_endMonths" style="width:100px"></div>
                            </div>
                            <span class="tit01 fl lh33">권역</span>
                            <!-- 권역 선택 -->
                            <div class="select_box fl" style="width:100px">
                                <div id="<@compId>_selectBoxRegion" style="width:100px"></div>
                            </div>
                            <!-- 매장명 선택 -->
                            <div class="select_box fl" style="width:170px">
                                <div id="<@compId>_selectBoxStore" style="width:170px"></div>
                            </div>   
                            <span class="tit01 fl lh33">상품</span>
                            <div class="select_box fl" style="width:200px">
                                <div id="<@compId>_selectBoxProduct" style="width:200px"></div>
                            </div>
                            <div class="select_box fl" style="width:132px">
                                <button type="button" class="btn select fl" id="<@compId>_searchBtn">조회</button>
                            </div>
                        </div>
                        <div class="search_right">
                            <strong class="total">Total: <span class="pointColr" id="<@compId>_totalCnt"></span></strong>
                            <div id="<@compId>_pagingChunk" style="margin-left: 5px;width:130px"></div>
                            
                        </div>
                    </div>
                    <!-- 테이블 -->
                    <div class="tbl01 col">
                        <table>
                            <caption>표 캡션</caption>
                            <colgroup>
                                <col style="width:50px;"/>
                                <col style="width:200px;"/>
                                <col style="width:15%;"/>
                                <col style="width:*"/>
                                <col style="width:15%;"/>
                                <col style="width:15%;"/>
                                <col style="width:15%;"/>
                                <col style="width:15%;"/>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">Num</th>
                                    <th scope="col">날짜</th>
                                    <th scope="col">지점명</th>
                                    <th scope="col">재고물품</th>
                                    <th scope="col">재고량</th>
                                    <th scope="col">재고율</th>
                                    <th scope="col">재고 기준량(g,ea)</th>
                                    <th scope="col">재고상태</th>
                                </tr>
                            </thead>
                            <tbody id="<@compId>_tableId">
                            </tbody>
                            <script type="text/x-jsrender" id="<@compId>_tableId_template">    
                                {{for list}}
                                    <tr id="trId_{{:#index}}" name="<@compId>_tr_{{:#index}}" '>
                                        <td>{{:ROWNUM}}</td>
                                        <td>{{:STOCK_DATE}}</td>
                                        <td>{{:STORE_NM}}</td>
                                        <td>{{:PRODUCT_NM}}</td>
                                        <td>{{:QUANTITY}}</td>
                                        <td>{{:INVENTORY_RATE}}</td>
                                        <td>{{:FULL_QUANTITY}}</td>
                                        <td>{{:EVALUATION}}</td>
                                    </tr>
                                {{/for}}
                            </script>
                            <script type="text/x-jsrender" id="<@compId>_tableId_noData_template">    
                               <tr>    
                                   <td colspan=8>자료가 없습니다.</td>    
                               </tr>
                            </script>
                        </table>
                    </div>
                    <!-- paging  -->
                    <div class="paging" id="<@compId>_pageDiv">
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
