<meta charset="utf-8">
<script type="text/javascript">
    var <@compId> = {
             searchedRows : [] // 페이지
            ,selectGroup1 : 'ALL'
            ,selectGroup2 : 'ALL'
            ,selectMonth  : 'ALL'
            ,BRAND_ID : ''
            ,pageInit : () => {

                var now = new Date();   // 현재 날짜 및 시간
                var thisYear = now.getFullYear();   // 연도
                
                var startDate = new Date();
                startDate.setFullYear(startDate.getFullYear() - 5);// 현재년도의 과거 5년
                var startYear = startDate.getFullYear();   // 연도
                
                const yearsArray = Array.from({ length: 6 }, (_, index) => {
                      const year = startYear + index;
                      return [year.toString(), year + "년"];
                });
                
                
                const monthsArray = Array.from({ length: 12 }, (_, index) => {
                      const months = ("0"+(1 + index) ).slice(-2);
                      return [months.toString(), months + "월"];
                });

                var startYearsArrayList = { data : yearsArray,targetId : "<@compId>_startYears"}
                C_UICOM.makeSelectBox(startYearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_startYears", dayjs().year());
                C_UICOM.addChangeListener("<@compId>_startYears", function(dataObj) {
                    <@compId>.checkDay();
                });
                
                var startMonthsArrayList = { data : monthsArray,targetId : "<@compId>_startMonths"}
                C_UICOM.makeSelectBox(startMonthsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_startMonths", ("0"+(dayjs().month() + 1) ).slice(-2));
                C_UICOM.addChangeListener("<@compId>_startMonths", function(dataObj) {
                    <@compId>.checkDay();
                });
                
                var endYearsArrayList = { data : yearsArray,targetId : "<@compId>_endYears"}
                C_UICOM.makeSelectBox(endYearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_endYears", dayjs().year());
                C_UICOM.addChangeListener("<@compId>_endYears", function(dataObj) {
                    <@compId>.checkDay();
                });
                
                var endMonthsArrayList = { data : monthsArray,targetId : "<@compId>_endMonths"}
                C_UICOM.makeSelectBox(endMonthsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_endMonths", ("0"+(dayjs().month() + 1) ).slice(-2));
                C_UICOM.addChangeListener("<@compId>_endMonths", function(dataObj) {
                    <@compId>.checkDay();
                });
            }

            ,brandIdSet : (brandId) => {
                
                <@compId>.BRAND_ID = brandId;
                
                // 권역
                var regionList = C_COM.getBrandCodeList( brandId , "STORE_REGION");                
                var selectBoxRegionList = { 
                     defaultItem    : ["ALL", "선택"] 
                    ,data : regionList
                    ,targetId : "<@compId>_selectBoxRegion" 
                }
                C_UICOM.makeSelectBox(selectBoxRegionList, "single");
                <@compId>.region = "ALL";
                
                C_UICOM.addChangeListener("<@compId>_selectBoxRegion", function(dataObj) {
                    <@compId>.region = dataObj;
                    <@compId>.getSelectStore();
                });
                
                // 매장
                <@compId>.getSelectStore();
                                
                
            }
            ,getSelectStore : () => {

                let requestParm = {};
                requestParm["spCstmId"] = G_VAL.session.spCstmId ;
                requestParm["brandId"]  = <@compId>.BRAND_ID ;
                requestParm["region"]   = <@compId>.region ;
                
                var parm1 = {
                        queryId  : "dashboardCorPerformance.getStore"
                       ,requestParm   : requestParm
                }
                
                C_COM.requestQuery(parm1, function(resultData) {
                    
                    const DATA = resultData.data.map( item => [ item.CODE_ID, item.CODE_NM ]);
                    
                    var selectBoxStoreList = {
                            defaultItem    : ["ALL", "선택"]
                           ,data : DATA
                           ,targetId : "<@compId>_selectBoxStore" 
                    }
                    
                    C_UICOM.makeSelectBox(selectBoxStoreList, "single");
                });
                
                C_UICOM.addChangeListener("<@compId>_selectBoxStore", function(dataObj) {
                    <@compId>.store = dataObj;
                });
            }


            /*============= 매출 예측 그래프    매출 예측 그래프    매출 예측 그래프    매출 예측 그래프    매출 예측 그래프    =============*/
            ,searchList1 : (requestParm) => {

                var serviceUrl = 'dashboardCorPerformance.getPredictSales';

                var parm = {
                        queryId  : serviceUrl
                       ,requestParm   : requestParm
                }
        
                C_COM.requestQuery(parm, function(resultData) {
                    <@compId>.setChart1(resultData);
                });
                 
                
            }

            ,setChartData : function( resultData, menuKey) {
                let resultList = [];
                var j = 0;
                for (var i=0; i< resultData.data.length; i++){
                    if( resultData.data[i].MENU_KEY == menuKey ){
                        resultList[j++] = resultData.data[i].SALES;
                    }
                }
                return resultList;
             }
            ,setChart1 : (resultData) =>{
                
            	console.log("setChart1");
                
                let categories1Arr = [];
                let categories2Arr = [];
                let categories3Arr = [];
                let categoryArr    = [];

                let accrue1      = 0;
                let accrue2      = 0;
                let accrue3      = 0;
                let title        = "";
                for (var i=0; i< resultData.data.length; i++){
                    
                   title   =  resultData.data[i].STORE_NM;
                    
                   accrue1 =  resultData.data[i].SUBJECT_001;                   
                   accrue2 =  resultData.data[i].SUBJECT_002;
                   accrue3 =  resultData.data[i].SUBJECT_005;
                   
                   categories1Arr[i] = accrue1;
                   categories2Arr[i] = accrue2;
                   categories3Arr[i] = accrue3;
                   
                   categoryArr[i]    = resultData.data[i].YEAR_MONTH;
                }
                 $('#<@compId>_chart1').highcharts({
                     credits: {enabled: false},// 하이차트 워터마크 삭제
                     chart: {
                         type: 'column'
                     },
                     title: {
                         text: title,
                         align: 'left'
                     },
                     colors: ['#27187F', '#F29423','#66ff00'],
                     xAxis: {
                         categories: categoryArr,
                         crosshair: true,
                         lineColor: '#66ff00', /* x축 라인색 */
                         accessibility: {
                             description: 'Countries'
                         }
                     },
                     yAxis: {
                         format: '{value}',
                         min: 0,
                         title: {
                             text: ''
                         }
                     },
                     tooltip: {
                         valueSuffix: ''
                     },
                     plotOptions: {
                         column: {
                             pointPadding: 0.2,
                             borderWidth: 0,
                             dataLabels: {
                                 enabled: true,
                                 formatter: function () {
                                     return Highcharts.numberFormat(this.y, 0, '.', ',');
                                 },
                                 style: {
                                     fontSize: '11px',
                                     color: '#000'
                                 }
                             }
                         }
                     },
                     series: [
                         {
                             name: '매출액',
                             type: 'column',
                             yAxis: 0,
                             data: categories1Arr
                         },
                         {
                             name: '매출원가',
                             type: 'column',
                             yAxis: 0,  
                             data: categories2Arr
                         },
                         {
                             name: '영업이익',
                             type: 'column',
                             yAxis: 0,  
                             data: categories3Arr
                         }
                     ]

                 });
             }
            /*############# 매출 예측 그래프    매출 예측 그래프    매출 예측 그래프    매출 예측 그래프    매출 예측 그래프    #############*/
            
            /*============= 영업이익 예측 그래프    영업이익 예측 그래프    영업이익 예측 그래프    영업이익 예측 그래프    =============*/
            ,searchList2 : (requestParm) => {
                
                var month = requestParm["month"];
                var serviceUrl = 'dashboardCorPerformance.getBusinessProfit';
                
                var parm = {
                        queryId  : serviceUrl
                       ,requestParm   : requestParm
                }
        
                C_COM.requestQuery(parm, function(resultData) {
                    <@compId>.setChart2(resultData);
                });
                 
                
            }

            ,setChart2 : (resultData) =>{

                let categories1Arr = [];
                let categories2Arr = [];
                let categoryArr    = [];

                let accrue1      = 0;
                let accrue2      = 0;
                let title        = "";

                for (var i=0; i< resultData.data.length; i++){
                   accrue1 =  resultData.data[i].SUBJECT_005;
                   accrue2 =  resultData.data[i].SUBJECT_104;
                   title   =  resultData.data[i].STORE_NM;
                   
                   categories1Arr[i] = accrue1;
                   categories2Arr[i] = accrue2;
                   
                   categoryArr[i]    = resultData.data[i].YEAR_MONTH;
                }

                 $('#<@compId>_chart2').highcharts({
                     chart: {
                            zooming: {
                                type: 'xy'
                            }
                        },
                        title: {
                            text: title,
                            align: 'left'
                        },
                        colors: ['#27187F', '#F29423'],
                        xAxis: [{
                            categories: categoryArr,
                            crosshair: true
                        }],
                        yAxis: [{ // Primary yAxis
                            labels: {
                                format: '{value}%',
                                style: {
                                    color: '#F29423' 
                                }
                            },
                            title: {
                                text: '영업이익률',
                                style: {
                                    color: '#F29423'
                                }
                            }
                        }, { // Secondary yAxis
                            title: {
                                text: '영업이익',
                                style: {
                                    color: '#27187F'
                                }
                            },
                            labels: {
                                format: '{value}',
                                style: {
                                    color: '#27187F'
                                }
                            },
                            opposite: true
                        }],
                        tooltip: {
                            shared: true
                        },
                        legend: {
                            align: 'left',
                            verticalAlign: 'top',
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || // theme
                                'rgba(255,255,255,0.25)'
                        },
                        series: [{
                            name: '영업이익',
                            type: 'column',
                            yAxis: 1,
                            data: categories1Arr,
                            tooltip: {
                                valueSuffix: ''
                            }

                        }, {
                            name: '영업이익률',
                            type: 'spline',
                            data: categories2Arr,
                            tooltip: {
                                valueSuffix: '%'
                            }
                        }]

                 });
             }
            /*############# 영업이익 예측 그래프    영업이익 예측 그래프    영업이익 예측 그래프    영업이익 예측 그래프    #############*/
            
            ,setHandler : () => {

                $("#<@compId>_searchBtn").click( () =>{
                    
                    var brandId = <@compId>.BRAND_ID;

                    if(brandId == undefined){
                        C_POP.alert("브랜드가 없습니다.");
                        return;
                    }
                    var startYears  = C_UICOM.getData("<@compId>_startYears");
                    var startMonths = C_UICOM.getData("<@compId>_startMonths");
                    var endYears    = C_UICOM.getData("<@compId>_endYears");
                    var endMonths   = C_UICOM.getData("<@compId>_endMonths");
                    var region      = C_UICOM.getData("<@compId>_selectBoxRegion");
                    var store       = C_UICOM.getData("<@compId>_selectBoxStore");

                    var startDate  = startYears+"-"+startMonths;
                    var endDate    = endYears+"-"+endMonths;
                    
                    var dateStart  = startYears+startMonths;
                    var dateEnd    = endYears+endMonths;
                    
                    let requestParm = {};
                    requestParm["brandId"]    = brandId;
                    requestParm["year"]       = startYears;
                    requestParm["startDate"]  = startDate;
                    requestParm["startYMD"]   = startDate+"-01";
                    requestParm["endDate"]    = endDate;
                    requestParm["endYMD"]     = endDate+"-01";
                    requestParm["region"]     = region;
                    requestParm["store"]      = store;
                    
                    if( "ALL" == store ){
                        C_POP.alert("지점을 선택해 주세요.");
                        return;
                    }

                    if( Number(dateStart) > Number(dateEnd) ){
                        C_POP.alert("시작일이 종료일보다 클 수 없습니다.");
                        return true;
                    }
                    
                    var monthDifference = <@compId>.getMonthDifference(startDate, endDate);

                    if( 12 <= monthDifference  ){
                        C_POP.alert("조회 기간은 12 개월 이내로 하세요");
                        return true;
                    }
                    <@compId>.searchList1(requestParm);
                    <@compId>.searchList2(requestParm);
                })            
                
            } 
            /* ******  UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    */
            ,getMonthDifference : (start, end) =>{
                var startYear = parseInt(start.split('-')[0], 10);
                var startMonth = parseInt(start.split('-')[1], 10);
                var endYear = parseInt(end.split('-')[0], 10);
                var endMonth = parseInt(end.split('-')[1], 10);

                var yearDifference = endYear - startYear;
                var monthDifference = endMonth - startMonth;

                return yearDifference * 12 + monthDifference;
             }

            ,checkDay : () =>{

                var startYears  = C_UICOM.getData("<@compId>_startYears");
                var startMonths = C_UICOM.getData("<@compId>_startMonths");
                var endYears    = C_UICOM.getData("<@compId>_endYears");
                var endMonths   = C_UICOM.getData("<@compId>_endMonths");
                
                var startDate  = startYears+"-"+startMonths;
                var endDate    = endYears+"-"+endMonths;
                
                var dateStart  = startYears+startMonths;
                var dateEnd    = endYears+endMonths;
                
                //시작일이 종료일보다 클경우 종료일을 시작일로 변경
                if( Number(dateStart) > Number(dateEnd) ){
                    C_UICOM.setSingleBox("<@compId>_endYears", startYears);
                    C_UICOM.setSingleBox("<@compId>_endMonths", startMonths);
                }
                
                var monthDifference = <@compId>.getMonthDifference(startDate, endDate);
                
                //조회 기간은 12 개월이상일 경우 종료일을 12개월로 변경
                if( 12 <= monthDifference  ){

                    var date = new Date(startYears, startMonths - 1);
                    date.setMonth(date.getMonth() + 11);
                    var resultYear = date.getFullYear();
                    var resultMonth = ('0' + (date.getMonth() + 1)).slice(-2); // 월은 0부터 시작하므로 다시 1을 더해주고, 두 자리로 맞춤

                    C_UICOM.setSingleBox("<@compId>_endYears", resultYear.toString());
                    C_UICOM.setSingleBox("<@compId>_endMonths", resultMonth.toString());
                    
                }
            }
            /* #######  UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    UTIL    */
            

    }
    // Component Load가 완료된후 실행 된다.
    C_COMP.onLoadComp("<@compId>", function(data) {
        <@compId>.pageInit();
        <@compId>.setHandler();
    });
</script>

<div>
        <!--// 매장별 매출 분석 -->
        <!-- search area -->
    <div class="search_area plpr5">
        <!-- search area -->
        <div class="search_area plpr5">
            <div class="fl">
                <!-- 시작년월 선택 -->
                <div class="select_box fl" style="width:100px">
                    <div id="<@compId>_startYears" style="width:100px"></div>
                </div>
                <div class="select_box fl" style="width:100px">
                    <div id="<@compId>_startMonths" style="width:100px"></div>
                </div>
                <div class="calendar_wrap fl">
                    <label for="to">~</label>
                </div>
                <!-- 종료년월 선택 -->
                <div class="select_box fl" style="width:100px">
                    <div id="<@compId>_endYears" style="width:100px"></div>
                </div>
                <div class="select_box fl" style="width:100px">
                    <div id="<@compId>_endMonths" style="width:100px"></div>
                </div>
                <span class="tit01 fl lh33">권역</span>
                <!-- 권역 선택 -->
                <div class="select_box fl" style="width:100px">
                    <div id="<@compId>_selectBoxRegion" style="width:100px"></div>
                </div>
                <!-- 매장명 선택 -->
                <div class="select_box fl" style="width:170px">
                    <div id="<@compId>_selectBoxStore" style="width:170px"></div>
                </div>   
                <button type="button" class="btn select fl" id="<@compId>_searchBtn">조회</button>
            </div>
        </div>
    </div>

        <section class="sec_wrap">
            <div class="cont_box">
                <h3>매출 예측 그래프</h3>
                <figure class="highcharts-figure2">
                    <div class="chart02_01" id="<@compId>_chart1" style="width:100%;height:280px;margin:0 auto">
                        <!-- 임시 차트 이미지
                        <img src="../img/img_chart_list11.png" style="width:100%;height:280px;">
                         -->
                    </div>
                </figure>
            </div>
        </section>

        <section class="sec_wrap">
            <div class="cont_box">
                <h3>영업이익 예측 그래프</h3>
                <figure class="highcharts-figure2">
                    <div class="chart02_01" id="<@compId>_chart2" style="width:100%;height:280px;margin:0 auto">
                        <!-- 임시 차트 이미지 
                        <img src="../img/img_chart_list11.png" style="width:100%;height:280px;">
                         -->
                    </div>
                </figure>
            </div>
        </section>
<div>
