<meta charset="utf-8">
<script type="text/javascript">
    var <@compId> = {
             searchedRows : [] // 페이지
            ,selectGroup1 : 'ALL'
            ,selectGroup2 : 'ALL'
            ,pageInit : () => {

                const yearsArray = Array.from({ length: 6 }, (_, index) => {
                      const year = 2020 + index;
                      return [year.toString(), year + "년"];
                });
                var yearsArrayList = { data : yearsArray,targetId : "<@compId>_selectBoxYear"}
                C_UICOM.makeSelectBox(yearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_selectBoxYear", dayjs().year());
                
                var startYearsArrayList = { data : yearsArray,targetId : "<@compId>_selectStartBoxYear"}
                C_UICOM.makeSelectBox(startYearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_selectStartBoxYear", dayjs().year());
                
                /*
                var endYearsArrayList = { data : yearsArray,targetId : "<@compId>_selectEndBoxYear"}
                C_UICOM.makeSelectBox(endYearsArrayList, "single");
                C_UICOM.setSingleBox("<@compId>_selectEndBoxYear", dayjs().year());
                */
                
                // 월
                /*
                var monthList = C_COM.getCodeList("STORE_MONTH");
                
                var selectBoxMonthList = { 
                     data : monthList
                    ,targetId : "<@compId>_selectBoxMonth" 
                }
                C_UICOM.makeSelectBox(selectBoxMonthList, "single");
                
                var selectStartBoxMonthList = { 
                     data : monthList
                    ,targetId : "<@compId>_selectStartBoxMonth" 
                }
                C_UICOM.makeSelectBox(selectStartBoxMonthList, "single");
                */
                
                /*
                var selectEndBoxMontht = { 
                     data : monthList
                    ,targetId : "<@compId>_selectEndBoxMonth" 
                }
                C_UICOM.makeSelectBox(selectEndBoxMontht, "single");
                */ 
                <@compId>.getSelectMenu();
                
                // 권역
                var regionList = C_COM.getCodeList("STORE_REGION");
                //dalert(regionList);
                var selectBoxRegionList = { 
                     defaultItem    : ["ALL", "전체"] 
                    ,data : regionList
                    ,targetId : "<@compId>_selectBoxRegion" 
                }
                C_UICOM.makeSelectBox(selectBoxRegionList, "single");
                <@compId>.region = "ALL";
                
                C_UICOM.addChangeListener("<@compId>_selectBoxRegion", function(dataObj) {
                    console.log("_selectBoxRegion  =>"+dataObj);
                    <@compId>.region = dataObj;
                    <@compId>.getSelectStore();
                });
                
                // 대분류
                var menuGroup1List = C_COM.getCodeList("STORE_MENU_GROUP1");
                //dalert(regionList);
                var selectBoxMenuGroup1List = { 
                     defaultItem    : ["ALL", "대분류"] 
                    ,data : menuGroup1List
                    ,targetId : "<@compId>_selectGroup1" 
                }
                C_UICOM.makeSelectBox(selectBoxMenuGroup1List, "single");
                
                C_UICOM.addChangeListener("<@compId>_selectGroup1", function(dataObj) {
                    console.log("_selectGroup1  =>"+dataObj);
                    <@compId>.selectGroup1 = dataObj;
                    <@compId>.getSelectMenu();
                });

                // 분류명
                var menuGroup2List = C_COM.getCodeList("STORE_MENU_GROUP2");
                //dalert(regionList);
                var selectBoxMenuGroup2List = { 
                     defaultItem    : ["ALL", "분류명"] 
                    ,data : menuGroup2List
                    ,targetId : "<@compId>_selectGroup2" 
                }
                C_UICOM.makeSelectBox(selectBoxMenuGroup2List, "single");
                
                C_UICOM.addChangeListener("<@compId>_selectGroup2", function(dataObj) {
                    console.log("_selectGroup2  =>"+dataObj);
                    <@compId>.selectGroup2 = dataObj;
                    <@compId>.getSelectMenu();
                });
                
                // 메뉴명
                <@compId>.getSelectMenu();
                
                // 매장
                <@compId>.getSelectStore();
                
                // 슈퍼바이저
                var supervisorList = C_COM.getCodeList("SUPERVISOR");
                
                var selectBoxSupervisorList = {

                     defaultItem    : ["ALL", "전체"]
                    ,data : supervisorList
                    ,targetId : "<@compId>_selectBoxSupervisor" 
                }
                C_UICOM.makeSelectBox(selectBoxSupervisorList, "single");
                <@compId>.supervisor = "ALL";
                
                C_UICOM.addChangeListener("<@compId>_selectBoxSupervisor", function(dataObj) {
                    console.log("_selectBoxSupervisor  =>"+dataObj);
                    <@compId>.supervisor = dataObj;
                });
                
            }

            ,getSelectMenu : () => {
                
                console.log("getSelectMenu 1" );
                
                let requestParm = {};
                requestParm["group1"] = <@compId>.selectGroup1 ;
                requestParm["group2"] = <@compId>.selectGroup2 ;
                
                console.log("getSelectMenu 2" );
                var parm1 = {
                        queryId  : "dashboardCorPerformance.getMenuList"
                       ,requestParm   : requestParm
                }

                console.log("getSelectMenu 3" );
                
                C_COM.requestQuery(parm1, function(resultData) {
                    
                    const DATA = resultData.data.map( item => [ item.MENU_ID, item.MENU_NM ]);
                    
                    var selectBoxMenuList = {
                            defaultItem    : ["ALL", "전체"]
                           ,data : DATA
                           ,targetId : "<@compId>_selectBoxMenu" 
                    }
                    
                    C_UICOM.makeSelectBox(selectBoxMenuList, "single");
                });

                console.log("getSelectMenu 4" );
                
                C_UICOM.addChangeListener("<@compId>_selectBoxMenu", function(dataObj) {
                    //<@compId>.select = dataObj;
                });
            }
            
            ,getSelectStore : () => {
                
                console.log("getSelectStore =>"+<@compId>.region );
                
                let requestParm = {};
                requestParm["spCstmId"] = G_VAL.session.spCstmId ;
                requestParm["region"] = <@compId>.region ;
                
                console.log("=== region ===>"+<@compId>.region);
                
                var parm1 = {
                        queryId  : "dashboardCorPerformance.getStore"
                       ,requestParm   : requestParm
                }
                
                C_COM.requestQuery(parm1, function(resultData) {
                    
                    const DATA = resultData.data.map( item => [ item.CODE_ID, item.CODE_NM ]);
                    
                    var selectBoxStoreList = {
                            defaultItem    : ["ALL", "전체"]
                           ,data : DATA
                           ,targetId : "<@compId>_selectBoxStore" 
                    }
                    
                    C_UICOM.makeSelectBox(selectBoxStoreList, "single");
                });
                
                C_UICOM.addChangeListener("<@compId>_selectBoxStore", function(dataObj) {
                    <@compId>.store = dataObj;
                });
            }

            ,setChartData : function( resultData,subject ) {
                //console.log("=== setChart21Data");
                let resultList = [];
                var j = 0;
                for (var i=0; i< resultData.data.length; i++){
                    if( resultData.data[i].SUBJECT == subject ){
                        resultList[j++] = resultData.data[i].AMOUNT;
                    }
                }
                return resultList;
             }
            
            /*============= 매출 비교 그래프    매출 비교 그래프    매출 비교 그s래프    매출 비교 그래프    매출 비교 그래프    =============*/
            ,searchList1 : () => {
            	console.log(" searchList1");
            	
                let requestParm = {};
                requestParm["spCstmId"] = "starasset";
                requestParm["year"]     = "2023";
                
                var parm = {
                        queryId  : "dashboardCorPerformance.getMenuMonthSales"
                       ,requestParm   : requestParm
                }
        
                C_COM.requestQuery(parm, function(resultData) {
                    <@compId>.setChart1(resultData);
                });
                 
            	
            }

            ,setChart1 : (resultData) =>{
                console.log("=== setChart22");
                 
                 var categories1Arr = <@compId>.setChartData( resultData, "SUBJECT_001");
                 var categories2Arr = <@compId>.setChartData( resultData, "SUBJECT_003");
                 var categories3Arr = <@compId>.setChartData( resultData, "SUBJECT_005");
                 var categories4Arr = <@compId>.setChartData( resultData, "SUBJECT_010");
                 
                 $('#<@compId>_chart22').highcharts({

                     title: {
                         text: '',
                         align: 'left'
                     },

                     yAxis: {
                         title: {
                             text: ''
                         }
                     },
                     colors: ['#27187F', '#F29423','#66ff00', '#0099ff'],
                     xAxis: {
                         categories: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                         accessibility: {
                             rangeDescription: '2'
                         }
                     },

                     plotOptions: {
                         column: {
                             pointPadding: 0.2,
                             borderWidth: 0
                         }
                     },

                     series: [{
                         name: '매출액',
                         data: categories1Arr
                     }, {
                         name: '매출총이익',
                         data: categories2Arr
                     }, {
                         name: '당기순이익',
                         data: categories4Arr
                     }, {
                         name: '영업이익',
                         data: categories3Arr
                     }],

                     responsive: {
                         rules: [{
                             condition: {
                                 maxWidth: 500
                             },
                             chartOptions: {
                                 legend: {
                                     layout: 'horizontal',
                                     align: 'center',
                                     verticalAlign: 'bottom'
                                 }
                             }
                         }]
                     }

                 });
             }//setChart22
            /*############# 매출 비교 그래프    매출 비교 그래프    매출 비교 그래프    매출 비교 그래프    매출 비교 그래프    #############*/
            
            /*============= 분류명별 매출액    분류명별 매출액    분류명별 매출액    분류명별 매출액    분류명별 매출액    =============*/
            ,searchList2 : () => {
                console.log(" searchList2 1");
                let requestParm2 = {};
                requestParm2["spCstmId"] = "starasset";
                requestParm2["year"]     = "2023";
                requestParm2["subject"]  = "SUBJECT_001";
                
                var parm = {
                        queryId  : "dashboardCorPerformance.getMenuGrp1SalesRanking"
                       ,requestParm   : requestParm2
                }
                console.log(" searchList2 1");
       
                C_COM.requestQuery(parm, function(resultData) { 
                    <@compId>.setTotal2(resultData);
                    
                    var rparm = {
                         targetId       : "<@compId>_tableId2"
                        ,list           : resultData.data
                        ,listRange      : 5         // 리스트 범위
                        ,pageRange      : 5         // Page 범위
                        ,pagingDomId    : "<@compId>_pageDiv2" // Page가 표시되는 Dom Id
                        ,totalCntDomId  : "<@compId>_total2"
                        ,onPageClickCallback : function(pageInfo) {
                            <@compId>.setChart2(pageInfo);
                         }
                    }
                    C_PAGING.renderHtml("<@compId>", rparm);
                });
                
            }

            ,setTotal2 : (resultData) =>{
                
                let total = 0;
                for (var i=0; i<resultData.data.length; i++){
                    total += resultData.data[i].SALES;
                }
                $('#<@compId>_totalAmount2').text(total);
                
            }//searchList
            ,setChart2 : (resultData) =>{

                var categoriesArr = []; 
                var dataArr = [];

                for (var i=0; i<resultData.list.length; i++){
                    categoriesArr[i] = resultData.list[i].GROUP_1_NM;
                    dataArr[i] = resultData.list[i].SALES;
                     
                }
                
                $("#<@compId>_chart2").highcharts({
                   
                    credits: {enabled: false},// 하이차트 워터마크 삭제
                    title: {
                        text: '',
                        align: 'left'
                    },
                    subtitle: {
                        text: '',
                        align: 'left'
                    },
                    xAxis: [{
                        labels: {
                            style: {
                                color: '#8A8C92',
                                fontFamily: 'Noto Sans KR',
                                fontSize: '11px'
                            }
                        },
                        lineColor: '#DADADA', /* x축 라인색 */
                        categories: categoriesArr,
                        crosshair: true
                    }],
                    yAxis: [{
                        labels: {
                            format: '{value}',
                            style: {
                                color: '#8A8C92',
                                fontFamily: 'Noto Sans KR',
                                fontSize: '11px'
                            }
                        },
                        title: {
                            text: ''
                        }
                    }, { // Secondary yAxis
                        title: {
                            text: '',
                            style: {
                            }
                        },
                        labels: {
                            format: ' '
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        align: 'right',
                        x:0,
                        verticalAlign: 'top',
                        y: 0,
                        itemStyle: {
                            color: '#8A8C92',
                            fontFamily: 'Noto Sans KR',
                            fontSize: '11px'
                        },
                        symbolRadius:0,//범례 심볼 radius 지정
                        symbolWidth:10,
                        symbolHeight:10,
                        x: 0,//가로 위치 지정.
                        y: -2,//세로 위치 지정.
                    },
                    plotOptions: {//라인에 원표시 삭제
                        line:{
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    series: [{
                        name: '',
                        type: 'column',
                        yAxis: 0,
                        data: dataArr,
                        tooltip: {
                            valueSuffix: ''
                        }
                    }]
                });
            }//setChart11
            /*############# 분류명별 매출액    분류명별 매출액    분류명별 매출액    분류명별 매출액    분류명별 매출액    #############*/
            
            /*============= 상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    =============*/
            ,searchList3 : () => {
                console.log(" searchList3");
                let requestParm2 = {};
                requestParm2["spCstmId"] = "starasset";
                requestParm2["year"]     = "2023";
                requestParm2["subject"]  = "SUBJECT_001";
                
                var parm = {
                        queryId  : "dashboardCorPerformance.getMenuSalesRanking"
                       ,requestParm   : requestParm2
                }
                console.log(" searchList3 1");
       
                C_COM.requestQuery(parm, function(resultData) { 
                    <@compId>.setTotal3(resultData);
                    
                    var rparm = {
                         targetId       : "<@compId>_tableId3"
                        ,list           : resultData.data
                        ,listRange      : 5         // 리스트 범위
                        ,pageRange      : 5         // Page 범위
                        ,pagingDomId    : "<@compId>_pageDiv3" // Page가 표시되는 Dom Id
                        ,totalCntDomId  : "<@compId>_total3"
                        ,onPageClickCallback : function(pageInfo) {
                            <@compId>.setChart3(pageInfo);
                         }
                    }
                    C_PAGING.renderHtml("<@compId>", rparm);
                });
            }

            ,setTotal3 : (resultData) =>{
                
                let total = 0;
                for (var i=0; i<resultData.data.length; i++){
                    total += resultData.data[i].SALES;
                }
                $('#<@compId>_totalAmount3').text(total);
                
            }
            ,setChart3 : (resultData) => {
                console.log(" setChart3");

                var categoriesArr = []; 
                var dataArr = [];

                for (var i=0; i<resultData.list.length; i++){
                    categoriesArr[i] = resultData.list[i].MENU_NM;
                    dataArr[i] = resultData.list[i].SALES;
                     
                }
                
                $("#<@compId>_chart3").highcharts({
                   
                    credits: {enabled: false},// 하이차트 워터마크 삭제
                    title: {
                        text: '',
                        align: 'left'
                    },
                    subtitle: {
                        text: '',
                        align: 'left'
                    },
                    xAxis: [{
                        labels: {
                            style: {
                                color: '#8A8C92',
                                fontFamily: 'Noto Sans KR',
                                fontSize: '11px'
                            }
                        },
                        lineColor: '#DADADA', /* x축 라인색 */
                        categories: categoriesArr,
                        crosshair: true
                    }],
                    yAxis: [{
                        labels: {
                            format: '{value}',
                            style: {
                                color: '#8A8C92',
                                fontFamily: 'Noto Sans KR',
                                fontSize: '11px'
                            }
                        },
                        title: {
                            text: ''
                        }
                    }, { // Secondary yAxis
                        title: {
                            text: '',
                            style: {
                            }
                        },
                        labels: {
                            format: ' '
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        align: 'right',
                        x:0,
                        verticalAlign: 'top',
                        y: 0,
                        itemStyle: {
                            color: '#8A8C92',
                            fontFamily: 'Noto Sans KR',
                            fontSize: '11px'
                        },
                        symbolRadius:0,//범례 심볼 radius 지정
                        symbolWidth:10,
                        symbolHeight:10,
                        x: 0,//가로 위치 지정.
                        y: -2,//세로 위치 지정.
                    },
                    plotOptions: {//라인에 원표시 삭제
                        line:{
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    series: [{
                        name: '',
                        type: 'column',
                        yAxis: 0,
                        data: dataArr,
                        tooltip: {
                            valueSuffix: ''
                        }
                    }]
                });
            }
            /*############# 상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    상세메뉴 매출액    #############*/
            
            /*============= 마진비교           마진비교          마진비교           마진비교           마진비교           =============*/
            ,searchList4 : () => {
                console.log(" searchList4");
                <@compId>.setChart4();
            }

            ,setChart4 : () => {
                console.log(" setChart4");
            }
            /*############# 마진비교           마진비교          마진비교           마진비교           마진비교           #############*/
            
            /*============= 상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트     =============*/
            ,searchList5 : () => {
                console.log(" searchList5");
                <@compId>.setChart5();
            }

            ,setChart5 : () => {
                console.log(" setChart5");
            }
            /*============= 상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트    상세메뉴 코스트     =============*/
            
            /*============= 상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    =============*/
            ,searchList6 : () => {
                console.log(" searchList6");
                <@compId>.setChart6();
            }

            ,setChart6 : () => {
                console.log(" setChart6");
            }
            /*============= 상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    상세메뉴 마진금액    =============*/
            
            
            ,setHandler : () => {

                $("#<@compId>_searchBtn").click( () =>{
                    console.log(" search 클릭");
                    //<@compId>.searchList1();//매출 비교
                    <@compId>.searchList2();//분류명별 매출액
                    <@compId>.searchList3();//상세메뉴 매출액
                    //<@compId>.searchList4();//마진비교
                    //<@compId>.searchList5();//상세메뉴 코스트
                    //<@compId>.searchList6();//상세메뉴 마진금액
                })            
                
            } 

    }
    // Component Load가 완료된후 실행 된다.
    C_COMP.onLoadComp("<@compId>", function(data) {
        <@compId>.pageInit();
        <@compId>.setHandler();
    });
</script>

<div>
        <!--// 매장별 매출 분석 -->
        <!-- search area -->
        <div class="search_area plpr5">
        <div class="fl">
            <div class="select_box fl" style="width:132px">
                <div id="<@compId>_selectBoxYear" style="width:132px"></div>
            </div>
            <!--
            <div class="select_box fl" style="width:132px">
                <div id="<@compId>_selectBoxMonth" style="width:132px"></div>
            </div>
             -->
            <!-- 대분류 선택 -->
            <div class="select_box fl" style="width:130px">
                <div id="<@compId>_selectGroup1" style="width:130px"></div>
            </div>
            <!-- 분류명 선택 -->
            <div class="select_box fl" style="width:150px">
                <div id="<@compId>_selectGroup2" style="width:150px"></div>
            </div>
            
            <span class="tit01 fl lh33">메뉴명</span>
            <!-- 대분류 선택 -->
            <div class="select_box fl" style="width:200px">
                <div id="<@compId>_selectBoxMenu" style="width:200px"></div>
            </div>
            
            <span class="tit01 fl lh33">권역</span>
            <!-- 권역 선택 -->
            <div class="select_box fl" style="width:100px">
                <div id="<@compId>_selectBoxRegion" style="width:100px"></div>
            </div>
            <!-- 매장명 선택 -->
            <div class="select_box fl" style="width:170px">
                <div id="<@compId>_selectBoxStore" style="width:170px"></div>
            </div>   
            <span class="tit01 fl lh33">슈퍼바이저</span>
            <!-- 슈퍼바이저 선택 -->
            <div class="select_box fl" style="width:132px">
                 <div id="<@compId>_selectBoxSupervisor" style="width:132px"></div>
            </div>
            <button type="button" class="btn select fl" id="<@compId>_searchBtn">조회</button>
        </div>
    </div>

        <section class="sec_wrap">
            <div class="cont_box">
                <h3>매출 비교 그래프</h3>
                <figure class="highcharts-figure2">
                    <div class="chart02_01" style="width:100%;height:280px;margin:0 auto">
                        <!-- 임시 차트 이미지 -->
                        <img src="../img/img_chart_list11.png" style="width:100%;height:280px;">
                    </div>
                </figure>
            </div>
        </section>

        <section class="sec_wrap">
            <div class="cont_box col2">
                <h3>분류명별 매출액</h3>
                <div class="clearFix">
                    <figure class="highcharts-figure2 fl mt20" style="width:45%">
                        <div class="chart02_01" id="<@compId>_chart2" style="width:100%;height:210px;margin:0 auto">
                            <!-- 임시 차트 이미지
                            <img src="../img/img_chart_list13.png" style="width:100%;height:210px;">
                             -->
                        </div>
                    </figure>
                    <div class="fl ml15" style="width:calc(55% - 15px)">
                        <h3>매출 TOP5 Total : <span id="<@compId>_total2"></span></h3>
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:50px;"/>
                                    <col style="*"/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="tl">분류명</th>
                                        <th scope="col" class="tr">총매출액</th>
                                    </tr>
                                </thead>
                                <tbody id="<@compId>_tableId2">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="tl">총합계</td>
                                        <td class="tr" id="<@compId>_totalAmount2"></td>
                                    </tr>
                                </tfoot>
                                <script type="text/x-jsrender" id="<@compId>_tableId2_template">   
                                    {{for list}}
                                    <tr>     
                                        <td class="tl">{{:rownum}}</td>    
                                        <td class="tl">{{:GROUP_1_NM}}</td> 
                                        <td class="tr">{{:SALES}}</td>  
                                    </tr>
                                    {{/for}}
                                </script>
                                <script type="text/x-jsrender" id="<@compId>_tableId2_noData_template">    
                                    <tr>    
                                        <td colspan=3>자료가 없습니다.</td>    
                                    </tr>
                                </script>
                            </table>
                        </div>
                        <!-- paging -->
                        <div class="paging" id="<@compId>_pageDiv2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont_box col2">
                <h3>상세 메뉴 매출액</h3>
                <div class="clearFix">
                    <figure class="highcharts-figure2 fl mt20" style="width:45%">
                        <div class="chart02_01" id="<@compId>_chart3" style="width:100%;height:210px;margin:0 auto">
                            <!-- 임시 차트 이미지
                            <img src="../img/img_chart_list13.png" style="width:100%;height:210px;">
                             -->
                        </div>
                    </figure>
                    <div class="fl ml15" style="width:calc(55% - 15px)">
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:50px;"/>
                                    <col style="*"/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="tl">메뉴명</th>
                                        <th scope="col" class="tr">총매출액</th>
                                    </tr>
                                </thead>
                                <tbody id="<@compId>_tableId3">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="tl">총합계</td>
                                        <td class="tr" id="<@compId>_totalAmount3"></td>
                                    </tr>
                                </tfoot>
                                <script type="text/x-jsrender" id="<@compId>_tableId3_template">   
                                    {{for list}}
                                    <tr>     
                                        <td class="tl">{{:rownum}}</td>    
                                        <td class="tl">{{:MENU_NM}}</td> 
                                        <td class="tr">{{:SALES}}</td>  
                                    </tr>
                                    {{/for}}
                                </script>
                                <script type="text/x-jsrender" id="<@compId>_tableId3_noData_template">    
                                    <tr>    
                                        <td colspan=3>자료가 없습니다.</td>    
                                    </tr>
                                </script>
                            </table>
                        </div>
                        <!-- paging -->
                        <div class="paging" id="<@compId>_pageDiv3">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec_wrap">
            <div class="cont_box">
                <h3>마진 비교 그래프</h3>
                <figure class="highcharts-figure2">
                    <div class="chart02_01" style="width:100%;height:280px;margin:0 auto">
                        <!-- 임시 차트 이미지 -->
                        <img src="../img/img_chart_list12.png" style="width:100%;height:280px;">
                    </div>
                </figure>
            </div>
        </section>

        <section class="sec_wrap">
            <div class="cont_box col2">
                <h3>상세 메뉴 코스트 금액</h3>
                <div class="clearFix">
                    <figure class="highcharts-figure2 fl mt20" style="width:45%">
                        <div class="chart02_01" style="width:100%;height:210px;margin:0 auto">
                            <!-- 임시 차트 이미지 -->
                            <img src="../img/img_chart_list15.png" style="width:100%;height:210px;">
                        </div>
                    </figure>
                    <div class="fl ml15" style="width:calc(55% - 15px)">
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:50px;"/>
                                    <col style="*"/>
                                    <col style="width:80px;"/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="tl">메뉴명</th>
                                        <th scope="col">코스트올</th>
                                        <th scope="col" class="tr">코스트금액</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tl">1.</td>
                                        <td class="tl">참이슬</td>
                                        <td>25.8%</td>
                                        <td class="tr">75,963,229</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">2.</td>
                                        <td class="tl">스페셜모듬과일</td>
                                        <td>22.32%</td>
                                        <td class="tr">57,472,366.99</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">3.</td>
                                        <td class="tl">카스(500ml)</td>
                                        <td>30.18%</td>
                                        <td class="tr">55,710,656.36</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">4.</td>
                                        <td class="tl">스페셜과일화채</td>
                                        <td>26.21%</td>
                                        <td class="tr">
                                        23,024,288.05</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">5.</td>
                                        <td class="tl">테라(500ml)</td>
                                        <td>30.18%</td>
                                        <td class="tr">21,804,794.18</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="tl">총 합계</td>
                                        <td>28.04%</td>
                                        <td class="tr">513,409,534...</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- paging -->
                        <div class="paging small">
                            <a href="#none" class="btn_pg_first disabled">첫번째 페이지</a>
                            <a href="#none" class="btn_pg_prev disabled">이전 페이지</a>
                            <strong title="현재 페이지">1</strong>
                            <a href="#none">2</a>
                            <a href="#none">3</a>
                            <a href="#none">4</a>
                            <a href="#none">5</a>
                            <a href="#none" class="btn_pg_next">다음 페이지</a>
                            <a href="#none" class="btn_pg_last">마지막 페이지</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont_box col2">
                <h3>상세 메뉴 마진 금액</h3>
                <div class="clearFix">
                    <figure class="highcharts-figure2 fl mt20" style="width:45%">
                        <div class="chart02_01" style="width:100%;height:210px;margin:0 auto">
                            <!-- 임시 차트 이미지 -->
                            <img src="../img/img_chart_list16.png" style="width:100%;height:210px;">
                        </div>
                    </figure>
                    <div class="fl ml15" style="width:calc(55% - 15px)">
                        <!-- 테이블 -->
                        <div class="tbl01 col noScroll small">
                            <table>
                                <caption>표 캡션</caption>
                                <colgroup>
                                    <col style="width:50px;"/>
                                    <col style="*"/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="tl">메뉴명</th>
                                        <th scope="col" class="tr">마진금액
                                            <button class="inline" style="width:20px"><i class="icon_sorting"></i></button>
                                            <!-- <button class="inline" style="width:20px"><i class="icon_sorting2"></i></button> -->
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tl">1.</td>
                                        <td class="tl">참이슬</td>
                                        <td class="tr">218,482,271</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">2.</td>
                                        <td class="tl">스페셜모듬과일</td>
                                        <td class="tr">200,040,133.01</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">3.</td>
                                        <td class="tl">카스(500ml)</td>
                                        <td class="tr">128,872,843.64</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">4.</td>
                                        <td class="tl">진로이즈벡</td>
                                        <td class="tr">65,617,936.18</td>
                                    </tr>
                                    <tr>
                                        <td class="tl">5.</td>
                                        <td class="tl">스페셜과일화채</td>
                                        <td class="tr">64,831,911.95</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="tl">총 합계</td>
                                        <td class="tr">1,999,430,165.3</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- paging -->
                        <div class="paging small">
                            <a href="#none" class="btn_pg_first disabled">첫번째 페이지</a>
                            <a href="#none" class="btn_pg_prev disabled">이전 페이지</a>
                            <strong title="현재 페이지">1</strong>
                            <a href="#none">2</a>
                            <a href="#none">3</a>
                            <a href="#none">4</a>
                            <a href="#none">5</a>
                            <a href="#none" class="btn_pg_next">다음 페이지</a>
                            <a href="#none" class="btn_pg_last">마지막 페이지</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 매장별 매출 분석 //-->
<div>
